.sheet-tab {
  cursor: pointer;
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  min-width: 170px;
  height: 40px;
  position: relative;
  border-inline-end: 1px solid transparent;

  &:hover {
    background: var(--faded-component-background);
  }

  &.no-left-border .tab-body {
    border-inline-end: 1px solid transparent;
  }

  .tab-body {
    height: 24px;
    display: flex;
    padding: 0px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    width: 100%;
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border-inline-end: 1px solid var(--border);
    &.input-mode {
      padding-inline-start: 5px;
      padding-inline-end: 6px;
    }
    .sheet-label {
      width: calc(100% - 24px);
      text-align: start;
      justify-content: left;
      height: 24px;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .sheet-input {
      max-width: 100%;
    }

    input.input-error {
      border-color: red;
    }
  }

  &.active {
    border: 1px solid var(--border);
    border-bottom: none;
    background: var(--gray-0);

    .tab-body {
      border-inline-end: 1px solid transparent;
    }
  }

  .sheet-options {
    .ToggleElementButton button {
      width: 24px;
      height: 24px;
      min-width: 24px;

      .Icon {
        width: 16px;
        height: 14px;
      }
    }
    .more-options-icon {
      height: 24px;
      width: 24px;
      .Icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
