@import '../../constants/styles';

.Dropdown {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  font-size: 14px;
  user-select: none;
  justify-content: space-between;
  z-index: 80;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: white;

  .items {
    flex-grow: 1;
    position: relative;
    
    .display-item {
      height: 24px;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
    }

    .dropdown-items {
      position: absolute;
      top: 27px;
      width: 100%;

      &.show {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        border: 1px solid #e0e0e0;
        background-color: white;
      }
  
      &.hide {
        display: none;
      }

      .dropdown-item {
        width: 100%;
        text-align: left;
        padding: 5px 5px;
        // need active so that it works on android mobile browser
        &:hover, &:active {
          background-color: rgba(0,0,0,.078);
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover:after {
    cursor: pointer;
  }
}