@import '../../../../constants/officeEditor.scss';

.office-editor-margin-dropdown {
  @include oe-modular-custom-dropdown;

  .Dropdown__item {
    padding-inline-start: 32px;
    padding-inline-end: 24px;

    &.selected:not(:hover) {
      transition: none;
    }
  }

  .Dropdown__item-description {
    font-size: 13px;
  }
}
