.Layer {
  margin-top: 12px;
  @mixin vertically-center-content {
    display: inline-flex;
    align-items: center;
  }

  .content-container {
    @include vertically-center-content;
  }
  .parent-layer {
    @include vertically-center-content;
    // style some part of the react toolkit checkboxes to match specs
    .ui__choice {
      margin-right: 0;
    }

    .ui__choice__label {
      margin-left: 8px;
      margin-right: 8px;
      // remove margins / paddings react toolkit has
      padding: 0;
    }
  }

  .arrow {
    margin-right: 4px;
    @include vertically-center-content;

    border-radius: 4px;
    // icon svg is a bit too large. so resize it to be a perfect square
    width: 18px;
    height: 18px;

    &:hover {
      cursor: pointer;
      background-color: #e7edf3;
    }

    .Icon {
      width: 18px;
      height: 18px;
    }
  }

  .sub-layers { 
    padding-left: 25px;
  }

  .lock-icon {
    @include vertically-center-content;
    // lock icon svg is a bit too large. so resize it
    width: 10px;
    height: 10px;
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: #485056;
      }
      
    }
  }
}