@import '../../constants/styles';

.DocumentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  flex: 1;
  width: 100%;
  overflow: auto;
  transition: all .3s ease;
  user-select: none;

  // &.right-panel {
  //   width: calc(100% - #{$right-panel-width});
  // }

  &.left-panel {
    width: calc(100% - #{$left-panel-width});
    margin-left: $left-panel-width;
  }

  &.left-panel.right-panel {
    width: calc(100% - #{$right-panel-width} - #{$left-panel-width});
    margin-left: $left-panel-width;
  }

  &.no-header {
    height: 100%;
  }

  .document {
    -webkit-tap-highlight-color: transparent;

    .pageSection {
      &[id*=pageSectionb] {
        box-shadow: none;
      }

      .pageContainer {
        background-color: $document-bg-color;
        position: relative;
        box-shadow: $md-shadow1;

        span.link {
          cursor: pointer;
        }
      }
    }

    textarea.freetext {
      position: absolute;
      z-index: 20;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      resize: none;
      outline: 1px solid transparent;
    }
  }
}
