@import '../../constants/styles';

.document-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;

  .measurement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;

    .footer {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 55;
      width: 100%;
      transition: all .3s ease;

      * {
        pointer-events: all;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: 0;
      }
    }
  }
}

.DocumentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  overflow: auto;
  user-select: none;

  @include ie11 {
    margin-left: 0!important;
    width: 100%!important
  }

  .document {
    margin: auto; // vertical centering when content is smaller than document container
                  // can't use 'justify-content: center;' due to losing access to content when overflowing
                  // see: https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &.hidden {
      display: none;
    }

    .pageSection {
      &[id*=pageSectionb] {
        box-shadow: none;
      }

      .pageContainer {
        background-color: $document-bg-color;
        position: relative;
        box-shadow: $md-shadow1;

        span.link {
          cursor: pointer;
        }
      }
    }

    textarea.freetext {
      position: absolute;
      z-index: 20;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      resize: none;
      outline: 1px solid transparent;
    }
  }
}