@import '../../../constants/styles.scss';

.Flyout .FlyoutContainer {
  overflow: inherit;
}

.CellBorders {
  &.flyout-item {
    max-width: 248px;
    padding: 8px;
  }

  .clearBorderButton {
    width: 100%;
    color: var(--blue-5);
    border: solid 1px var(--blue-5);
    border-radius: 4px;
  
    &:hover {
      color: var(--primary-button-hover);
      border-color: var(--primary-button-hover);
    }
  }

  .icon-grid {   
    .row {
      flex-wrap: wrap;

      .border-button {
        width: 32px !important;
        height: 32px !important;
      }
    }
  }
}