@import '../../constants/styles';
@import '../../constants/note';

.Note {
  @include button-reset;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px var(--note-box-shadow);
  padding-bottom: 12px;
  margin-bottom: 8px;
  margin-left: 2px;
  background: var(--component-background);
  cursor: pointer;

  .reply-area-container {
    display: flex;
    position: relative;
    flex: 1;
    display: flex;
    margin-right: 12px;
    margin-top: 12px;
    margin-left: 42px;

    textarea {
      width: 100%;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-top: 4px;
      padding-bottom: 4px;
      resize: none;
      overflow: hidden;
      padding-right: 56px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .reply-button {
      @include button-reset;
      background: var(--primary-button);
      border-radius: 4px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--primary-button-text);
      position: absolute;
      bottom: 2px;
      right: 2px;
      padding: 0 13px;

      &:hover {
        background: var(--primary-button-hover);
      }
    }
  }

  .divider{
    height: 1px;
    width: 100%;
    background: var(--divider);
    margin-top: 12px;
    margin-bottom: 5px;
  }
}
