@import '../../constants/styles';
@import '../../constants/note';

.Note {
  // border: 1px solid #c3c6d4;
  font-size: 13px;
  // background: white;
  // background: var(--primary-color);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgb(195, 198, 212);
  margin: 0px 1px;

  padding-bottom: 12px;
  padding-right: 12px;
  margin-bottom: 8px;

  .input-container {
    display: flex;
    position: relative;

    textarea {
      font-size: 13px;
      width: 100%;
      padding-left: 8px;
      border: 1px solid #dfe2ed;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: var(--text-color);
      padding-bottom: 4px;
      resize: none;
      overflow: hidden;
      padding-right: 56px;

      // width: 100%;
      // resize: none;
      // overflow: hidden;
      box-sizing: border-box;

      &::placeholder {
        color: #c3c6d4;
      }
    }

    .input-button {
      cursor: pointer;
      flex-shrink: 0;
      background: #6077bf;
      border-radius: 4px;
      width: 52px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      // left: -2px;
      color: #fafafa;
      font-size: 13px;
      position: absolute;
      bottom: 2px;
      right: 2px;

      svg {
        color: #fafafa;
      }
    }
  }


  .weriuweior {
    display: flex;
    padding-left: 7px;
    margin-top: 12px;
  }

  .asdf3e43 {
    // margin-bottom: auto;
    width: 27px;
    margin-right: 3px;
  }

  &.expanded {
    // margin: 10px 0;
  }

  .divider{
    height: 1px;
    width: 100%;
    background: #dfe2ed;
    margin: 4px 0px;
  }

  .replies {
    transition: all 1s ease;



    &.hidden {
      display: none;
    }

    .reply-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      textarea {
        width: 100%;
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .12);
        border-radius: 4px;
        font-size: 12px;
      }

      .buttons {
        @extend %textarea-buttons;
        margin-top: 9px;
        display: flex;
        align-items: flex-start;

        &:hover {
          cursor: auto;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
