@import '../../constants/styles';
@import '../../constants/note';

.Note {
  @include button-reset;
  display: block;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px var(--note-box-shadow);
  margin-bottom: 8px;
  margin-left: 2px;
  background: var(--component-background);
  cursor: pointer;

  &.unread {
    border: 1.2px solid $pdftron-blue;
  }

  &.expanded {
    box-shadow: 0px 4px 16px var(--note-box-shadow-expanded), 0px 0px 4px 0px var(--note-box-shadow);
  }
  &.is-multi-selected {
    box-shadow: 0px 4px 16px rgba(134, 142, 150, 0.24), 0px 0px 4px 0px var(--note-box-shadow);
  }
  
  .mark-all-read-button {
    background: $pdftron-blue;
    text-align: center;
    color: white;
    height: 16px;
    font-size: 12px;
    width: 100%;
    border-radius: 0;
  }


  .divider {
    height: 1px;
    width: 100%;
    background: var(--divider);
  }

  .reply-divider {
    background: var(--reply-divider);
    height: 1px;
    width: 100%;
  }

  .replies {
    margin-left: 52px;
    padding-bottom: 12px;
  }

  .reply {
    padding-left: 12px;
    padding-bottom: 24px;
    border-left: 1px solid var(--reply-divider);

    &:last-of-type {
      padding-bottom: 0px;
    }
  }

  .group-section {
    margin-left: 52px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-right: 12px;
  }

  .text-button {
    color: var(--secondary-button-text);
    display: flex;
    .Icon {
      color: var(--secondary-button-text);
      height: 18px;
      width: 18px;
    }
  }

  .group-child {
    &:hover {
      background: var(--view-header-button-hover);
    }
    padding-top: 4px;
    padding-bottom: 4px;
    .NoteContent {
      padding-bottom: 0px;
    }
  }
}


