@import '../../constants/styles';
@import '../../constants/note';

.Note {
  width: 100%;
  margin-top: -1px;
  padding: 10px;
  border: 1px solid #c3c6d4;
  font-size: 13px;
  // background: white;
  // background: var(--primary-color);
  border-radius: 4px;

  &.expanded {
    margin: 10px 0;
  }

  .replies {
    margin: 15px 0 0;
    transition: all 1s ease;

    .NoteContent {
      padding: 5px 0px;
    }

    &.hidden {
      display: none;
    }

    .reply-container {
      display: flex;
      flex-direction: column;
      margin: 15px 0 0;

      textarea {
        width: 100%;
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .12);
        border-radius: 4px;
        font-size: 12px;
      }

      .buttons {
        @extend %textarea-buttons;
        margin-top: 9px;
        display: flex;
        align-items: flex-start;

        &:hover {
          cursor: auto;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
