.signature-widget-info {
  --widget-header-indent: 49px;
  --widget-body-indent: 22px;
  --arrow-width: 22px;
  padding: 0 4px;

  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 10px;
  // Ensures alignment with the Left Panel Header
  margin-left: 5px;

  p + p {
    margin: 0px;
    margin-top: 1em;
  }

  p.result-for-header {
    margin-top: 0px;
  }

  p.bold {
    font-weight: bold;
    margin-bottom: 4px;
  }

  p.underline {
    text-decoration: underline;
  }

  .signatureProperties {
    &:hover, &:focus {
      color: var(--blue-5);
    }
  }

  .link {
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
  }

  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  --border-radius-amount: 4px;
  -moz-border-radius-topleft: var(--border-radius-amount);
  -moz-border-radius-topright: var(--border-radius-amount);
  -moz-border-radius-bottomright: var(--border-radius-amount);
  -moz-border-radius-bottomleft: var(--border-radius-amount);
  -webkit-border-radius: var(--border-radius-amount);
  border-radius: var(--border-radius-amount);

  &:hover {
    border-color: var(--blue-6);
  }

  &:active, &:focus-within {
    background: var(--outline-hover);
    border-color: var(--blue-5);
  }

  .collapsible {
    outline: none;
  }

  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    min-height: 32px;
    margin-top: -5px;
    margin-bottom: -5px;
    overflow: hidden;
    border: 0;
    background-color: transparent;

    div + *, button + * {
      margin-left: 2px;
    }

    .arrow {
      min-width: var(--arrow-width);
      transition: transform 0.1s ease;
      margin-top: 0;
      background-color: transparent;
      border: none;
      padding: 0;

      &.expanded {
        transform: rotate(90deg);
      }

      .Icon {
        width: var(--arrow-width);
        height: 22px;
      }

      &.hidden {
        visibility: hidden;
        // width of signature icon + margin-right + margin-left
        padding: 16 + 5 + 2px;
      }

      &:hover {
        .Icon {
          color: var(--blue-6);
        }
      }
    }

    .signature-icon {
      margin-right: 5px;
    }
  }

  .header {
    margin-left: var(--widget-header-indent);

    .body {
      margin-left: var(--widget-body-indent);
    }

    .body > div:first-child > p:first-child, .body > p:first-child  {
      margin-top: 0.5em;
    }

    .body > div:last-child {
      margin-bottom: 0.5em;
    }
  }

  .header-with-arrow {
    /**
     * Minus the width off-set created by the arrow, ensuring that the headers
     * align
     */
    margin-left: calc(var(--widget-header-indent) - var(--arrow-width));

    .body {
      /**
       * Re-add the width offset created by the arrow, ensuring the content of
       * the bodies align
       */
      margin-left: calc(var(--widget-body-indent) + var(--arrow-width));
    }
  }

  .signatureDetails, .verificationDetails {
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
  }
}
