.creatable-list {
  display: flex;
  flex-direction: column;
}

.creatable-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-item-button {
  display: flex;
  align-items: center;
  width: 78px;
  cursor: pointer;
}

.icon-handle {
  cursor: grab;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .Icon {
    position: absolute;
    inset-inline-end: 15px;
    color: var(--error-border-color);
  }

  input {
    &.invalid {
      border-color: var(--color-message-error);
    }
  }
}

.invalid-option-message {
  color: var(--color-message-error);
  margin-top: 8px;
  font-size: 13px;
}