@import '../../constants/styles.scss';

.ColorPalette {
  display: flex;
  flex-wrap: wrap;
  width: 196px;

  &.padding {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  @include mobile {
    width: 322px;
  }

  .cell-container {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px;

    @include mobile {
      width: 36px;
      height: 36px;
      margin: 0 5px;
    }

    .cell-outer {
      &.active {
        border: 1px solid var(--color-palette-border);
        width: 26px;
        height: 26px;
        border-radius: 10000000px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile  {
          width: 34px;
          height: 34px;
        }
      }

      .cell {
        width: 18px;
        height: 18px;
        border-radius: 10000000px;

        .transparent {
          border: 2px solid var(--faded-text);
          border-radius: 10000000px;
        }

        &.border{
          border: 1px solid var(--white-color-palette-border);
        }

        @include mobile  {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
