@import '../../constants/styles.scss';

.ColorPalette {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3px;

  .cell-outer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .cell {
      width: 18px;
      height: 18px;
      border-radius: 10000000px;

      &.transparent {
        border: 2px solid #8c8c8c;
      }

      &.active {
        width: 22px;
        height: 22px;
      }
    }
  }

}