@import '../../constants/styles';
@import '../../constants/panel';

.fileAttachmentPanel {
  @extend %panel;
  display: block;
  font-size: var(--font-size-default);

  .section{
    margin-bottom: 8px;
    p.title{
      font-weight: bold;
      padding-left: var(--fileAttachment-title-padding);
      margin: 12px 0;
    }
    ul.downloadable{
      padding-left: var(--fileAttachment-list-padding);
      &>li{
        cursor: pointer;
        color: var(--secondary-button-text);
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;text-overflow: ellipsis;
        padding: 4px 0;
        &:hover{
          color: var(--secondary-button-hover);
        }
      }
      .embedSpinner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .spinner {
          margin: 0px;
        }
      }
    }
    ul ul{
      padding-left: 10px;
      list-style-type:none;
    }
  }
}