@import '../../constants/popup';

.AnnotationStylePopup {
	@include mobile {
		width: 100vw;
		margin: 0;
		position: relative;
		max-width: initial;

		border-radius: 4px 4px 0 0;
		border: 0;
		padding-bottom: 24px;
		box-shadow: none;
	}
}
