.Bookmark {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 10px;
  font-size: 0.8em;
  align-items: center;
}

.Controls-2 {
  display: flex;
  cursor: pointer;
  transform: scale(0.8);
  height: 19.2px;
}
