.bookmark {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.8em;
  align-items: center;
  height: 24px;
}

.Controls-2 {
  display: flex;
}

.bookmark-button {
  cursor: pointer;
}
