@import '../../constants/styles';
@import '../../constants/overlay';

.StampOverlay {
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 8px;
  margin-top: 8px;

  @include mobile {
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 12px;
  }

  .default-stamp-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: scroll;
    padding-right: 14px;

    @include mobile {
      height: 240px;
    }

<<<<<<< HEAD
    .rubber-stamp {
      border-radius: 4px;
      flex-basis: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background: var(--popup-button-hover);
      }

      img {
        width: 100%;
      }
    }
=======
.default-stamp-container {
  .column {
    padding: 10px;
  }
  .column:hover {
    background: #f6f6f6;
    background: var(--button-hover-color);
>>>>>>> a89f235133ab337bc74e0e80192a84c49d846efa
  }
}
