@import '../../../constants/styles.scss';

.LeftHeader {
  transition: transform .3s ease-in-out;
  height: 100%;
  width: $left-header-width;
  min-width: fit-content;
  padding: 12px 8px;
}

.LeftHeader.closed {
  transform: translateX(-100%) !important;
  position: fixed;
  left: 0;
}

.LeftHeader.stroke {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--gray-5);
}