@import '../../constants/styles';

.tool-group-button {
  margin: 0 7px;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;

  @include tablet {
    margin: 0 12px;
  }

  .down-arrow-container {
    margin-left: -4px;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .down-arrow {
      width: 12px;
      height: 16px;
      margin-top: -2px;
    }
  }

  &.active{
    // hack
    &.signature {
      svg {
        color: var(--selected-icon-color);
      }
    }

    .down-arrow-container {
      background: var(--active-button2)
    }
    .down-arrow {
      color: var(--selected-icon-color);
    }
  }

  .down-arrow-container {
    @include tablet-and-mobile {
      display: none;
    }
  }

  &:hover {
    background: var(--button-hover2);
  }

  .Button:hover {
    background: none;
  }
}
