.ToolGroupButton {
  margin: 0 2px;
  display: flex;
  align-items: center;

  .down-arrow {
    margin-left: -4px;
    width: 12px;
    height: 16px;
    margin-right: 4px;
  }

  &:hover {
    background: var(--button-hover-color);;
    border-radius: 4px;
  }
}

.HeaderItems {
  & .ToolGroupButton {
    padding: 4px 0;
    & .Button {
      margin: 0;
      &:hover {
        background: transparent;
        border-radius: 0;
      }
    }
  }
}
