@import '../../constants/styles.scss';

.pallette-options {
  display: flex;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #dfe2ed;
  cursor: pointer;

  .pallete-options-button {
    flex: 1;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    padding: 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.active {
      background: #dfe2ed;
    }
  }

  .pallete-options-divider {
    width: 1px;
    background: #abb0c4;
  }
}

