@import '../../../constants/styles';
@import '../../../constants/overlay';

.Flyout .ZoomFlyoutMenu {
    max-height: 100vw;
    overflow: hidden;
    height: fit-content;
    z-index: 200;
    background-color: var(--component-background);
    width: 170px;
    font-size: var(--font-size-default);
    font-family: var(--font-family);
    border: 1px solid var(--divider);
    border-radius: 4px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    padding: 6px 0;

  .flyout-item-container {
    border: none;
    background-color: transparent;
    margin: 2px 0;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 0 0 10px;
    cursor: pointer;
    width: 100%;

    .menu-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding: 2px 19px 2px 6px;
    }

    .Icon {
      width: 20px;
      height: 20px;
    }
  }

  .divider {
    width: 90%;
    margin: 8px;
  }
}