.multi-style-container {
    border-radius: 4px;
    box-shadow: 0 0 3px 0 var(--document-box-shadow);
    background: var(--component-background);
    position: relative;
    right: 20px;
    bottom: 52px;
    pointer-events: auto;
  
    * {
      box-sizing: border-box;
    }
  }
  