@import '../../constants/styles';
@import '../../constants/overlay';

.ZoomItem {
  @include button-reset;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 6px;
  padding-right: 19px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: var(--popup-button-hover);
  }
  
  &.selected {
    background: var(--popup-button-hover);
  }

  .Icon {
    margin: 4px 8px 4px 4px;
  }

  Button {
    height: auto;
  }

  &.Button {
    justify-content: flex-start;
  }
}
