@import '../../constants/styles';
@import '../../constants/overlay';

.rubber-stamp-overlay {
  margin-left: 0px;
  margin-right: 2px;
  margin-bottom: 8px;
  margin-top: 8px;

  @include mobile {
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 12px;
  }

  .default-stamp-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: scroll;
    padding-right: 14px;

    @include mobile {
      height: 240px;
    }

    .rubber-stamp {
      border-radius: 4px;
      flex-basis: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background: var(--popup-button-hover);
      }

      img {
        width: 100%;
      }
    }
  }
}
