@import '../../constants/styles';

.selected-rubber-stamp-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 4px;

  @include mobile {
    width: auto;
  }

  .selected-rubber-stamp {
    display: flex;
    align-items: center;
    justify-content: center;

    .signature-row-content {
      img {
        max-width: 120%;
        max-height: 120%;
      }
    }
  }
}