@import '../../constants/styles';
@import '../../constants/overlay';

.MeasurementOverlay {
  @extend %overlay;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  min-width: 215px;
  padding: 6px;

  @include mobile {
    bottom: 8px;
    right: 8px;
    padding: 8px;
    font-size: 14px;
    z-index: 50;
  }

  & > * {
    margin: 6px;
  }
}

.measurement__title {
  .measurement__icon {
    margin-right: 5px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.measurement__deltas {
  display: flex;
  justify-content: space-between
}

.lineMeasurementInput {
  width: 50px;
}

.length_input {
  margin-bottom: 3px;
}

.angle_input {
  margin-top: 3px;
}
