@import '../../constants/styles';

.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;

  // color for svgs
  &.active {
    path[fill=default] {
      fill: var(--selected-icon-color);
    }

    // hack for pan tool and annot select tool
    &[data-element="panToolButton"],&[data-element="selectToolButton"] {
      background: var(--view-header-button-active);
    }
  }

  &.active {
    .Icon {
      color: var(--selected-icon-color);
    }
  }

  &.disable {
    .Icon {
      color: var(--disabled-icon);
    }
    cursor: default;
  }
}
