@import '../../constants/styles';

.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;

  &:hover {
    background: var(--button-hover1);

    // https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
    // useful for mobile?
    @media (hover: none) {
      background: transparent;
    }
  }

  path:last-child:nth-child(4) {
    color: var(--icon-color);
  }

  &.active {
    path:last-child:nth-child(4) {
      color: var(--selected-icon-color);
    }
  }  

  &.active {
    .Icon {
      color: var(--selected-icon-color);
      // hack for one clip art svg
      @include tablet-and-mobile {
        polygon {
          fill: var(--selected-icon-color);
        }
      }
    }
  }
}
