@import '../../constants/styles';
@import '../../constants/overlay';

.SignatureOverlay {
  @extend %overlay;

  top: 46px;
  width: 232px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 16px 0 #E1E1E3;
  width: 232px;
  padding: 0px 16px 16px 16px; 
}

.default-signatures-container {
  display: flex;
  flex-direction: column;
  // width: 162px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 10px;
    cursor: pointer;



    .content {
      padding: 7px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #767f9b;
      font-size: 13px;
      cursor: pointer;
      // background: blue;

      img {
        // max-height: 100%;
        max-width: 120px;
        // width: auto;
        // height: auto;
      }      
  
      // &.disabled {
      //   background: #E1E1E3;
      //   cursor: default;
      // }
  
      // &.enabled:hover {
      //   background: #17324C;
      //   border: 1px solid #17324C;
      //   color: #FFFFFF;
      // }
    }

    .icon {
      display: flex;
      align-items: center;
      padding: 0 6px;
      // background: green;
    }    
  }

}
