@import '../../constants/styles';
@import '../../constants/overlay';

.SignatureOverlay {
  @extend %overlay;

  top: 46px;
  width: 232px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 16px 0 #E1E1E3;
  width: 232px;
  padding: 0px 16px 16px 16px; 
}

.default-signatures-container {
  display: flex;
  flex-direction: column;

  .default-signature {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    


    .signature-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F8F8F8;
      border-radius: 4px 4px 4px 4px;
      height: 48px;
      flex: 1;
      cursor: pointer;

      img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  .add-signature {
    background: var(--button-fill);
    border-radius: 4px;
    padding: 0 8px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fafafa;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

    &.disabled {
      border: 1px solid #E1E1E3;
      // color: #E1E1E3;
      background: #E1E1E3;
      cursor: default;
    }

    // &.enabled:hover {
    //   background: #17324C;
    //   border: 1px solid #17324C;
    //   color: #FFFFFF;
    // }
  }
}
