@import '../../../../constants/styles';

.ChangeListItem {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  align-self: stretch;
  filter: drop-shadow(0px 0px 2px var(--gray-6));
  background-color: var(--component-background);
  font-family: var(--font-family);

  .icon-change {
    padding: 14px 0 14px 14px;
    height: 100%;

    .Icon {
      width: 24px;
      height: 24px;
      color: var(--gray-6);
    }
  }

  .container-right {
    padding: 12px;
    width: calc(100% - 14px - 24px); // Subtract icon padding + icon width
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;

    .title {
      font-size: var(--font-size-medium);
      color: var(--gray-9);
    }

    .type {
      font-size: var(--font-size-small);
      color: var(--gray-7);
      text-transform: capitalize;
    }

    .value-container {
      padding: 12px;
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      align-self: stretch;
      color: var(--color-font-primary);
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-medium);
      gap: 4px;

      &.old {
        .value-title {
          color: var(--change-list-title-old);
        }
        background-color: var(--change-list-old-bg);
        border: 1px solid var(--change-list-title-old);
      }
      &.new {
        .value-title {
          color: var(--change-list-title-new);
        }
        background-color: var(--change-list-new-bg);
        border: 1px solid var(--change-list-title-new);
      }

      .value-title {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
      }
    }

    .text {
      font-size: 13px;
    }
  }

  &:hover {
    outline: 1px solid var(--gray-9);
  }

  &.selected {
    outline: 1px solid var(--blue-5);
  }
}
