@import '../../constants/styles';

.Thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  font-size: var(--font-size-small);
  text-align: center;

  // canvas {
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  //   font-size: 100%;
  //   font: inherit;
  //   vertical-align: baseline;
  // }

  .container {
    position: relative;
    display: flex;
    border: 2px solid var(--border);
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &.active {
      border: 2px solid #6077bf;
    }

    .annotation-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 150px;
      max-height: 150px;
    }
  }

  .page-label {
    padding: 5px 0;
  }
}