@import '../../constants/styles';

.Thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  font-size: 12px;
  text-align: center;

  .container {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img.page-image {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* only for XOD in IE*/
        height: auto !important;
        width: auto !important;
      }
    }

    .page-image {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* only for IE*/
        height: auto !important;
        width: auto !important;
      }
      max-width: 148px;
      max-height: 148px;
      border: 1px solid transparent;
    }

    .annotation-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 148px;
      max-height: 148px;
    }
  }

  .page-label {
    padding: 5px 0;
  }

  &.active {
    background-color: lightgray;

    .page-image {
      border: 1px solid $gray12;
      border: 1px solid var(--border-color);
    } 
  }
}