@import '../../constants/styles';
@import '../../constants/overlay';

.ViewControlsOverlay {
  @extend %overlay;

  display: flex;
  flex-direction: row;
  padding: 0px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;

  .ViewControlsContainer {
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tools-overlay-border);
    border-radius: var(--header-items-border-radius);
    background: var(--tools-overlay-background);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.02);

    .row2 {
      display: flex;
    }
  }

  .row {
    display: flex;
    align-items: center;
    padding: 1px 0;

    .type {
      width: 130px;
      padding-left: 10px;
    }

    &.hide-in-desktop {
      @include desktop {
        display: none;
      }
    }

    &.hide-in-tablet {
      @include tablet {
        display: none;
      }
    }
  }
}
