@import '../../constants/styles';
@import '../../constants/overlay';

.ViewControlsOverlay {
  @extend %overlay;

  display: flex;
  flex-direction: row;
  padding: 0px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;

  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  // border: 1px solid var(--tools-overlay-border);
  border-radius: 4px;
  background: var(--gray-0);
  // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 3px 0px var(--box-shadow);

  .type {
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 18px;
  }

  .row {
    margin: 2px 0;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 18px;
    cursor: pointer;

    div:hover {
      background: none;
    }

    &:hover {
      background: var(--button-hover1);
    }

    .title {
      margin-left: 4px;
      font-size: 13px;
    }
  }

  .divider{
    height: 1px;
    background: #dfe2ed;
    margin: 8px 0px;
    margin-left: 12px;
    margin-right: 18px;
  }

  &.mobile {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0px;
    box-shadow: 0px 0px 3px 0px var(--box-shadow);

    padding-top: 30px;
    padding-bottom: 30px;

    .swipe-indicator {
      background: #dfe2ed;
      border-radius: 2px;
      height: 4px;
      width: 38px;
      position: absolute;
      top: 12px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }

    .type, .row {
      padding: 0 24px;
    }
  }
}
