.redaction-items {
  margin: 8px 2px 1px;
  background-color: var(--component-background);
  box-shadow: 0 0 3px 0 var(--box-shadow);
  border-radius: 4px;

  >:first-child {
    padding-top: 16px;
    border-radius: 4px 4px 0 0;
  }

  >:last-child {
    padding-bottom: 16px;
    border-radius: 0 0 4px 4px;
  }
}

.redaction-page-group {
  padding-top: 12px;
  padding-bottom: 12px;
}

.redaction-page-group-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.redaction-page-group-number {
  font-size: 13px;
  color: var(--faded-text);
}

.expand-arrow {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .Icon {
    width: 12px;
    height: 12px;
  }

  &.Button.custom-ui.icon-only:hover {
    box-shadow: inset 0 0 0 1px var(--hover-border);
  }
}