@import '../../../constants/styles';
@import '../../../constants/panel';

.redaction-search-multi-select {
	@include mobile {
		font-size: 13px;
	}
}

.redaction-search-multi-select-search-icon-container {
  height: 28px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 0 var(--padding-tiny);

  .Icon {
    width: 16px;
    height: 16px;
  }
}