@import '../../constants/styles';

.custom-ribbons-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ribbons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  .ribbon-group {
    margin: 0 24px;
  }
}
