@import '../../constants/styles';

.custom-ribbons-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  .is-hidden {
    visibility: hidden;
  }

  .ribbons-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .ribbons {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--ribbons-background);
      border-radius: 4px;
      height: 28px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0px; // hack for ie11. centers vertically.
      bottom: 0px; // hack for ie11. centers vertically.
      margin: auto; // hack for ie11. centers vertically.

      .ribbon-group {
        @include button-reset;
        margin: 0 22px;
        cursor: pointer;
        color: var(--faded-text);
        white-space: nowrap;

        &.active {
          color: var(--ribbon-active-color);
          font-weight: bold;
        }

        @include ie11 {
          // hack for group having 0 width sometimes in ie11
          min-width: 70px;
          margin: 0px 12px;
        }
      }

      [data-element="exitFormEditingButton"] {
        width: 100%;
        padding: 0 5px;
        border: 1px solid var(--border);
        background: var(--view-header-background);
        white-space: nowrap;
      }
    }
  }

  .editable-file-name {
    cursor: pointer;
  }
}