@import '../../constants/styles';

.custom-ribbons-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  @include tablet-and-mobile {
    position: relative;
  }

  .is-hidden {
    visibility: hidden;
  }

  .ribbons-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ribbons {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--ribbons-background);
      border-radius: 4px;
      height: 28px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .ribbon-group {
        margin: 0 22px;
        cursor: pointer;
        color: var(--faded-text);

        &.active {
          color: var(--ribbon-active-color);
        }
      }
    }
  }
}


