@import '../../constants/styles';
@import '../../constants/panel';

.RedactionPanel {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;
    height: 100%;
    min-width: 100%;
    padding: 8px 0px 0px 0px;
    .close-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 32px;

      width: 100%;
      padding-right: 12px;

      .close-icon-container {
        @include button-reset;
        z-index: 3;
        cursor: pointer;
        .close-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .marked-redaction-counter {
    flex: 0 1 19px;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;

    span {
      font-weight: bold;
    }

    @include mobile {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 16px;
      margin-right: 16px;
      font-size: 16px;
    }
  }

  .no-marked-redactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;

    .msg {
      @include tablet-and-desktop {
        line-height: 15px;
        width: 146px;
      }

      @include mobile {
        line-height: 15px;
        width: 146px;
        margin-bottom: 32px;
      }

      text-align: center;
    }

    .empty-icon {
      width: 65px;
      height: 83px;

      svg {
        width: 65px;
        height: 83px;
      }

      @include mobile {
        width: 60px;
        height: 60px;

        svg {
          width: 60px;
          height: 60px;
        }
      }

      * {
        fill: var(--gray-5);
        color: var(--gray-5);
      }
    }
  }

  .redaction-panel-controls {
    flex: 0 0 57px;
    margin-left: -16px;
    padding-top: 13px;
    border-top: 1px solid var(--divider);
    display: flex;
    background-color: var(--component-background);
    width: inherit;
    justify-content: flex-end;
    padding-right: 16px;

    @include mobile {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 16px;
      padding: 16px;
    }

    .Button.redact-all-marked {
      @include button-reset;
      background-color: var(--primary-button);
      color: var(--primary-button-text);
      border-radius: 4px;
      height: 32px;
      width: 90px;

      &:hover:not(.disabled) {
        background-color: var(--primary-button-hover);
      }

      &.disabled {
        opacity: 0.5;

        span {
          color: var(--primary-button-text);
        }
      }

      @include mobile {
        font-size: 13px;
      }
    }

    .clear-all-marked {
      @include button-reset;
      color: var(--secondary-button-text);
      background-color: transparent;
      border: none;
      height: 32px;
      width: 70px;
      margin-right: 8px;
      cursor: pointer;

      &:hover:not(.disabled) {
        color: var(--secondary-button-hover);
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        span {
          color: var(--secondary-button-text);
        }
      }

      @include mobile {
        font-size: 13px;
      }
    }

    @include mobile {
      left: 0px;
      margin-bottom: 16px;
    }
  }

  .redaction-group-container {
    flex: 1 1 auto;

    @include mobile {
        margin-right: 4px;
    }
  }

  button {
    &:focus-visible {
      outline: var(--focus-visible-outline);
    }
  }
}


.ModularPanel-container .RedactionPanel {
  height: 100%;
  padding: unset;

  .redaction-panel-controls {
    margin-right: -16px;
    padding-bottom: 16px;
  }
}