@import '../../../constants/styles';

.image-signature {
  border: 1px solid #dfe2ed;
  position: relative;
  border-radius: 4px;
  background: #f0f0f0;

  &-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .Button {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  &-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;  
    width: 100%;
    height: 100%;
    position: absolute;
  }


  &-dnd,&-separator {
    font-size: 13px;
    color: #c3c6d4;
  }

  &-upload {
    input[type="file"] {
      display: none;
    }

    .pick-image-button {
      font-size: 13px;
      font-weight: bold;
      height: 24px;
      border-radius: 4px;
      border: 1px solid #6077bf;
      color: #6077bf;
      display: flex;
      align-items: center;
      padding: 0 11px;
      cursor: pointer;
    }

    button {
      font-family: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      border-radius: 4px;
      border: 1px solid $pdftron-blue;
      color: $pdftron-blue;
      background: white;
      font-size: inherit;
      cursor: pointer;

      &:hover {
        color: white;
        background: $pdftron-blue;
      }
    }
  }

  &-separator {
    margin: 10px;
  }

  &-background {
    position: absolute;
    background: #00a4e4;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }

  &-error {
    position: absolute;
    color: red;
    bottom: 0px;
    right: 0px;
    margin: 0px 5px 5px 0px;
  }
}
