.FormulaBar {
  display: flex;
  border: 1px solid var(--gray-5);
  background-color: var(--gray-2);
  padding: 8px;
  gap: 8px;
  border-bottom: 1px solid #e0e0e0;

  .RangeInput {
    &:focus-visible {
      outline: var(--focus-visible-outline) !important;
    }
  }

  .Formula {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 32px;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--component-background);
    padding-left: 30px;

    &.readOnly {
      border: 1px solid var(--disabled-text)
    }
  }

  .Formula:not(.readOnly):focus-within {
    outline: var(--focus-visible-outline) !important;
  }

  .FormulaIcon {
    position: absolute;
    left: 8px;

    &.readOnly {
      color: var(--disabled-icon);
    }
  }

  .FormulaInput {
    flex-grow: 1;
    width: 100%;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;

    &.readOnly {
      color: var(--disabled-text);
    }
  }
}