@import '../../../constants/styles';
@import '../../../constants/modal';

.FileModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 0 3px 0 var(--document-box-shadow);
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .inputWrapper > label {
      width: 100%;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--divider);
      margin: 16px 0;
    }

    input {
      margin-top: 8px;
      width: 100%;
      height: 30px;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-bottom: 6px;
      padding-right: 42px;
      padding-top: 4px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .extension-dropdown {
      margin-top: 2px;
      display: flex;
      align-items: center;

      p {
        font-size: var(--font-size-default);
        padding-left: 5px;
      }

      .Dropdown__wrapper {
        .Dropdown{
          text-align: left;
        }

        .Dropdown__items {
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 300px;

        }
      }
    }

    form {
      width: 100%;
    }

    .error{
      width: 100%;
      color: red;
      margin: 5px 0;
    }

    .Button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-button-text);
      font-weight: 600;
      padding: 6px 18px;
      margin-top: 8px;
      margin-left: 5px;
      width: auto;
      width: fit-content;
      background: var(--primary-button);
      border-radius: 4px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background: var(--primary-button-hover);
      }

      &.disabled {
        background: var(--gray-6);
        border-color: var(--gray-6);
        cursor: not-allowed;
      }
    }

  }
}
