@import '../../constants/styles';

.MeasurementsDropdownItem{
  cursor: pointer;
  width: 100%;
  margin-left: 3px;
  margin-right: 3px;
  background: $gray4;
  text-align: right;

  &.selected{
    background: $gray12;
  }
  &:hover{
    background: $gray10;
  }
};

.Content{
  margin-right: 3px;
}