@import '../../constants/styles';

.documentControlToggle{
    padding: 5px 7px 0px;
    height: 20px;

    left: 50%;
    width: 10px;
    padding: 5px 15px 0px;
    border-radius: 10p;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);

    transform: translateY(-100%)translateX(-50%);
    position: absolute;
    p{
      margin: 0px;
    }
  }

.documentControlsContainer{
    position: absolute;
    width: 100%;
}

.documentControls {
    background-color: var(--border-color);
    transition: height 0.5s;

    $page-input-border: 2px;
    $page-input-padding: 8px;
    .pagesInput{
        border-width: $page-input-border;
        width: calc(100% - #{($page-input-border + $page-input-padding) * 2});
        padding: 2px $page-input-padding;
    }

    .documentControlsButton{
        display: flex;

        .Button{
            display: inline-flex;
            height: 100%;
            min-width: $icon-width;
            flex-grow: 1;

            &:hover{
                background-color: var(--icon-color);
                .Icon {
                    color: var(--border-color);
                }
            }
        }  
    }  
} 