@import '../../constants/styles';

.documentControls {
  display: flex;
  flex-direction: column;

  .divider {
    height: 1px;
    width: 100%;
    background: var(--divider);
    margin: 8px 16px 8px 8px;
  }

  .documentControlsInput {
    display: flex;
    flex-direction: row;
    padding: 8px 0px 8px 8px;

    .pagesInput {
      width: 100%;
      height: 30px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .documentControlsButton {
      display: flex;
      flex-direction: row;

      .Button {
        height: 30px;
        padding: 0px;
        width: 30px;
        margin: 0px 4px;

        .Icon {
          height: 24px;
          width: 24px;
          color: var(--icon-color);
        }

        &:hover {
          background: var(--view-header-button-hover);
          border-radius: 4px;
        }
      }
    }
  }
}
