@import '../../constants/panel';

.OutlinesPanel {
  overflow-y: scroll;
  margin-left: 16px;

  .no-outlines {
    display: flex;
    flex-direction: column;
    align-items: center;

    .msg {
      font-size: 14px;
      width: 92px;
      text-align: center;
    }

    .empty-icon {
      width: 65px;
      height: 83px;

      svg {
        width: 65px;
        height: 83px;
      }

      * {
        fill: var(--gray-5);
        color: var(--gray-5);
      }
    }
  }
}
