.OutlinesPanel {
  .bookmark-outline-single-container {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .bookmark-outline-row {
    padding-top: 6px;
  }

  .msg-no-bookmark-outline {
    margin-top: 6px;
  }

  &.custom-panel {
    .bookmark-outline-single-container {

      &.selected,
      &.hover {
        border: 1px solid var(--outline-selected-border);
      }

      .bookmark-outline-more-button.contextMenuOpen {
        display: block;

        .Icon {
          color: var(--blue-5);
        }
      }

      &.default:hover:not(.selected),
      &.default.hover:not(.selected) {
        background: none;
      }

      .bookmark-outline-input:active {
        border-color: var(--focus-border)
      }
    }
  }
}

.Panel.OutlinesPanel {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  flex-direction: column;
}