@import '../../constants/styles';
@import '../../constants/panel';

.OutlinesPanel {
  display: flex;
  flex-direction: column;

  .Outlines {
    flex-grow: 1;
    overflow-y: auto;

    .no-outlines {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .msg {
        @include tablet-and-desktop {
          line-height: 15px;
          width: 92px;
        }
        text-align: center;
      }
  
      .empty-icon {
        width: 65px;
        height: 83px;
  
        svg {
          width: 65px;
          height: 83px;
        }
  
        * {
          fill: var(--gray-5);
          color: var(--gray-5);
        }
      }
    }
  }

  .addNewOutlineButtonContainer {
    border-top: 1.5px solid var(--border);
    padding: 14px 0px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    [data-element="addNewOutlineButton"] {
      color: var(--outline-color);
      width: auto;
      width: fit-content;
      padding: 8px;
  
      .Icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
        color: var(--outline-color);
      }
  
      &:hover {
        background-color: var(--outline-hover);
      }
    }
  }
}
