@import '../../../constants/modal.scss';

.fileSelectedPanel {
  &.container {
    width: 791px;

    @include tablet {
      width: 494px;

      .page-number-input {
        width: 92px;
      }
    }
  }

  .modal-container .wrapper .header-container {
    padding-bottom: 16px !important;
  }

  .header {
    .left-header {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .Button {
      justify-content: center;

      &:hover {
        background: var(--view-header-button-hover);
        border-radius: 4px;
      }
    }
  }

  .page-number-error {
    margin-top: 8px;
    font-size: 13px;
    color: var(--color-message-error);
  }

  .page-replacement-text {
    padding: 0 8px;

    @include mobile {
      padding: 0px;
      display: flex;
      justify-content: center; /* optional */
      align-items: center;
    }
  }

  .modal-body {
    padding: 16px;

    .thumb-card {
      @include tablet {
        width: 132px;
      }
    }

    .modal-body-container {
      display: flex;

      &.isLoading {
        justify-content: center;
        align-items: center;
      }

      @include mobile {
        padding: 18px;
        height: calc(100vh - 120px - 72px - 72px - 32px);

        .thumb-card {
          flex: 0 0 calc(50% - 10px);
          box-sizing: border-box;
        }

        .thumb-card-img {
          height: 110px;
          width: 83px;
        }

        .thumb-body {
          align-items: center;
        }

        .thumb-image {
          width: 100%;
          padding-inline-end: 0px;
        }

        .ui__choice__input {
          position: absolute;
          inset-block-start: 6px;
          inset-inline-end: 6px;
        }

        .ui__choice {
          margin: 0px;
        }
      }
    }

    @include mobile {
      height: 100%;
    }
  }

  .replace-page-input-container {
    height: 60px;
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;

    :first-child {
      padding-inline-start: 0px;
    }

    @include tablet {
      justify-content: space-between;
      :first-child {
        padding-inline-end: 8px;
        padding-inline-start: 0;
      }
    }

    @include mobile {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 16px;
      row-gap: 24px;
      margin-bottom: 32px;
      height: 88px;

      .page-number-error {
        margin-top: 4px;
      }
    }
  }

  .replace-page-input {
    padding-inline-start: 8px;
    padding-inline-end: 8px;

    @include tablet {
      padding-inline-end: 0;
      padding-inline-start: 4px;

      .page-replace-doc-name {
        word-break: break-all;
      }
    }

    @include mobile {
      display: flex;
      justify-content: left; /* optional */
      align-items: center;
      padding-inline-start: 0px;
      padding-inline-end: 0px;
    }
  }

  .page-replace-doc-name {
    font-weight: bold;
  }

  .header-container {
    @include mobile {
      height: 72px;
    }
  }

  .deselect-thumbnails {
    @include mobile {
      font-size: 13px;
    }
  }
}
