.resize-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
  width: 14px;
  height: 100%;
  background-color: var(--panel-background);
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
  z-index: 100;
}
