.input-file-name {
  width: 150px;
  height: 32px;
}

.button-file-name {
  display: block; // needed in order to show ellipsis
  width: 150px;
  text-align: start;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline-start: 3px;

  &:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--gray-9);
  }

  &.spreadsheetEditorFileName {
    &:disabled span {
      color: var(--text-color);
    }
  }
}
