@import '../../constants/styles';
@import '../../constants/modal';

.ErrorModal {
  @extend %modal;

  .modal-container {
    width: 300px;
    word-break: break-word;
    white-space: pre-wrap;
  }
}
