@import '../../constants/styles';

.asdf123{
  display: flex;
  background-color: #eeeeee;
  border-radius: 4px;
}

.ToggleZoomOverlay{
  height: 100%;

  .textarea{
    resize: none;
    border: none;
    outline: none;
    color: inherit;
    background-color: transparent;
    font-size: 16px;
    margin-top: -2px;
    margin-right: 2px;
    width: 42px;
    text-align: right;
  }
}

.OverlayContainer{
  display: flex;
  align-items: center;
  height: 100%;
  &:hover {
    background-color: #F6F6F6;
    background-color: var(--button-hover-color);
  }
  &.active{
    background-color: #F0F0F0;
    background-color: var(--button-active-color);
  }
}


.OverlayText{
  display: flex;
  align-items: center;
  margin-right:-8px;
  font-size: 16px;
  font-weight: normal;
  // height: $button-height;
  // line-height: $button-height;
  height: 100%;
  text-align: center;
  display: flex;
  z-index: 1;
  background-color: inherit;
  &:hover + .OverlayButton {
    background-color:inherit;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
