@import '../../constants/styles';

.asdf123{
  display: flex;
  padding: 2px 0;

  .Button{
    margin: 0px 1px;
  }

  &>.Container {
    display: flex;
    background-color: #eeeeee;
    border-radius: 4px;
  }
}


.ToggleZoomOverlay{
  height: 100%;
  color: var(--text-color);

  .textarea{
    resize: none;
    border: none;
    outline: none;
    color: inherit;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 28px;
    text-align: right;
  }

  .Icon{
    width: 16px;
    height: 16px;
  }
}

.OverlayContainer{
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 4px;

  &:hover {
    background-color: #F6F6F6;
    background-color: var(--button-hover-color);
  }
  &.active{
    background-color: #F0F0F0;
    background-color: var(--button-active-color);
  }
}


.OverlayText{
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right:-8px;
  margin-bottom: -1px;
  font-size: 14px;
  font-weight: bold;
  // height: $button-height;
  // line-height: $button-height;
  height: 100%;
  text-align: center;
  display: flex;
  z-index: 1;
  background-color: inherit;
  &:hover + .OverlayButton {
    background-color:inherit;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
