@import '../../constants/styles';

.zoom-overlay {
  display: flex;
  align-items: center;
  background-color: var(--faded-component-background);
  border-radius: 4px;
  height: 28px;
  margin: 0 2px;

  .Button {
    margin: 0px 1px;
    height: 100%;
  }

  .toggle-element-button {
    height: 100%;  
  }

}

.ToggleZoomOverlay {
  height: 100%;
  color: var(--text-color);
  margin-right: 1px;

  .textarea{ 
    resize: none;
    border: none;
    outline: none;
    color: inherit;
    background-color: transparent;
    font-weight: bold;
    min-width: 28px;
    text-align: right;
  }

  .Icon {
    width: 12px;
    height: 16px;
    color: var(--gray-6);
  }
}

.OverlayContainer {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 4px;
  position: relative;

  &:hover {
    background-color: var(--primary-hollow-button-hover);
  }
  &.active {
    background-color: var(--primary-hollow-button-active);
  } 

  .toggle-element-button {
    width: 26px;
    margin-left: 4px;

    &:hover {
      background: none;
    }
  }  
}


.OverlayText {
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right:-8px;
  margin-bottom: -1px;
  font-weight: bold;
  height: 100%;
  text-align: center;
  display: flex;
  z-index: 1;
  background-color: inherit;
  // &:hover + .OverlayButton {
  //   background-color:inherit;
  // } 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
