@import '../../constants/styles';
@import '../../constants/modal';
@import '../../constants/tabs';

.SaveModal {
  @extend %modal;
  flex-direction: column;

  .modal-container {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 480px;
    padding: 0px;

    .header {
      border-bottom: 1px solid var(--gray-5);
      padding: 16px;
      height: 64px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-text {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
      }

      .Button {
        width: 32px;
        height: 32px;
      }
    }

    .modal-body {
      padding: 16px;
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-default);
      font-family: var(--font-family);
      gap: 12px;

      .title {
        line-height: 16px;
        font-weight: var(--font-weight-bold);
        //font-size: var(--font-size-medium);
      }

      .input-container {
        align-items: baseline;
        display: flex;
        gap: 16px;
        height: 32px;
        margin-bottom: 20px;

        .label {
          justify-content: start;
          min-width: 60px;
        }

        .ui__input {
          border-color: var(--border);

          &.ui__input--focused {
            box-shadow: none;
            border-color: var(--focus-border);
          }

          &.ui__input--message-warning {
            border-color: var(--error-border-color);

            .ui__icon svg {
              fill: var(--error-border-color);
            }
          }
        }

        .ui__input__messageText {
          color: var(--error-text-color);
          margin: 8px 0;
          font-size: 13px;
        }

        input {
          padding: 8px;
          height: 32px;
          font-size: var(--font-size-default);
          flex: 1 1 auto;
        }

        .Dropdown__wrapper {
          height: 32px;
          flex: 1 1 auto;

          .Dropdown {
            height: 100%;
            width: 100% !important;

            .picked-option {
              .picked-option-text {
                width: auto;
                flex: none;
              }

              .arrow {
                flex: none;
              }
            }
          }
        }
      }

      .radio-container {
        gap: 8px;
        height: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .ui__choice--checked {
          .ui__choice__input__check {
            border-color: var(--blue-5);
          }
        }

        .ui__choice__input__check {
          border-color: var(--gray-7);
        }

        .page-number-input-container {
          &.error {
            .page-number-input {
              border: 1px solid var(--error-border-color);
            }
          }

          .page-number-input {
            width: 208px;
          }

          .specifyPagesChoiceLabel {
            display: flex;
            margin-bottom: 8px;
            .specifyPagesExampleLabel {
              margin-inline-start: 4px;
              color: var(--faded-text);
            }
          }
        }

        .page-range-column {
          display: grid;
          gap: 16px;
          align-content: baseline;

          &.custom-page-ranges .ui__choice {
            align-items: unset;
          }
        }
      }

      .checkbox-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .footer {
      padding: 16px;
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid var(--gray-5);

      button {
        border: none;
        border-radius: 4px;
        background: var(--primary-button) !important;
        width: 82px;
        height: 32px;
        color: var(--primary-button-text);

        &:disabled {
          @extend %default-button-disabled;
        }

        &:hover:not(:disabled) {
          @extend %default-button-hover;
        }
      }
    }
  }
}
