@import '../../../constants/styles';

.draggable-tab {
  height: 34px;
  display: flex;
  align-items: center;
  padding-top: 2px;

  .close-button-wrapper {
    display: grid;
    justify-items: end;
  }
}

.Tab {
  height: 32px;
  min-width: 140px;
  width: 180px;
  max-width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  direction: ltr;
  cursor: pointer;
  background-color: var(--gray-2);

  .file-text {
    min-width: 60%;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--gray-7);

    p {
      font-size: var(--font-size-default);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &.disabled {
      user-select: none;
      cursor: wait;
    }
  }

  .Button {
    margin: 6px;
    width: 24px;
    height: 24px;
    .Icon {
      width: 16px;
      height: 16px;
      flex: inherit;
    }
    &:hover {
      background-color: var(--view-header-button-hover);
    }
  }

  .divider {
    background-color: var(--divider);
    width: 1px;
    height: 50%;
    height: 25px;
    top: 5px;
    position: absolute;
  }

  &:not(.active) {
    border-bottom: 1px solid var(--divider);
  }

  &.active {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid var(--divider);
    border-bottom: 0;
    background-color: var(--gray-1);
    @include mobile {
      background-color: var(--tools-header-background);
    }

    .file-text {
      color: var(--gray-8);
    }

    .divider {
      display: none;
    }
  }

  &:hover {
    background-color: var(--view-header-button-hover);
  }

  .hide {
    display: none;
  }
}