@import '../../../constants/styles';

.draggable-tab {
  height: 34px;
  display: flex;
  align-items: center;
  padding-top: 2px;

  .close-button-wrapper {
    display: grid;
    justify-items: end;
  }
}

.Tab {
  height: 32px;
  min-width: 140px;
  width: 180px;
  max-width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  direction: ltr;
  cursor: pointer;
  background-color: var(--gray-2);

  .file-text {
    min-width: 60%;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--multi-tab-text-color);

    p {
      font-size: var(--font-size-default);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &.disabled {
      user-select: none;
      cursor: wait;
    }
  }

  .Button {
    margin: 6px;
    width: 24px;
    height: 24px;
    .Icon {
      width: 16px;
      height: 16px;
      flex: inherit;
    }
    &:hover {
      background-color: var(--view-header-button-hover);
    }
  }

  .divider {
    background-color: var(--multi-tab-divider);
    width: 1px;
    height: var(--multi-tab-divider-height);
    top: var(--multi-tab-divider-top);
    position: absolute;
  }

  &:not(.active) {
    box-shadow: inset 0 -1px 0 0 var(--multi-tab-divider)
  }

  &.active {
    border-top-left-radius: var(--multi-tab-border-radius);
    border-top-right-radius: var(--multi-tab-border-radius);
    box-shadow: inset 0 1px 0 0 var(--multi-tab-divider), inset 1px 0 0 0 var(--multi-tab-divider), inset -1px 0 0 0 var(--multi-tab-divider), 0 0 0 0px;
    background-color: var(--multi-tab-active-tab-background);
    @include mobile {
      background-color: var(--tools-header-background);
    }

    .file-text {
      color: var(--multi-tab-active-text-color);
    }

    .divider {
      display: none;
    }
  }

  &:hover {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--multi-tab-hover-border);
    background-color: var(--view-header-button-hover);

    .divider {
      display: none;
    }

    &:active {
      background-color: var(--multi-tab-active-tab-background);
    }
  }

  .hide {
    display: none;
  }
}