.FileInputPanel {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background-color: var(--document-background-color);
  border-radius: 4px;

  .url-input-header {
    font-size: 13px;
    line-height: 16px;
    padding-inline-start: 16px;
    padding-bottom: 8px;
    font-weight: bold;
  }

  .url-input {
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;

    input:focus {
      border-color: var(--outline-color);
    }
    input:active {
      border-color: var(--focus-border);
    }

    .Icon {
      position: absolute;
      inset-inline-end: 20px;
      color: var(--error-border-color);
    }
  }
  
  .file-input {
    padding: 6px;
    width: 108px;
    height: 32px;

    &.file-input--error {
      padding-inline-end: 30px; /* Adjust padding to make space for the error icon */
      border-color: var(--error-border-color);
    }
  }

  .url-input-error {
    padding: 0 16px;
    margin-top: 8px;
    font-size: 13px;
    color: var(--error-text-color);
  }


  ::placeholder {
    color: var(--placeholder-text);
  }

  .extension-dropdown {
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    p,
    label {
      width: 100%;
      font-size: 13px;
      line-height: 16px;
      font-weight: 700;
      order: 1;
      margin-bottom: 8px;
    }

    label {
      margin-top: 13px;
    }

    .Dropdown__wrapper {
      order: 2;
      width: 100%;

      .Dropdown {
        width: 100% !important;
      }

      .Dropdown:disabled {
        border: 1px solid var(--gray-4);

        .picked-option {
          color: var(--gray-5);
        }

        .arrow {
          color: var(--gray-5);
        }
      }

      .arrow {
        flex: unset;
        width: 12px;
        height: 16px;
        margin-top: 2px;
      }

      .Dropdown .picked-option .picked-option-text {
        flex: none;
        width: unset;
      }
    }
  }
}
