
.FileInputPanel {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background-color: var(--document-background-color);
  border-radius: 4px;

  .url-input-header {
    font-size: 13px;
    line-height: 16px;
    padding-left: 16px;
    padding-bottom: 9px;
    font-weight: bold;
  }

  .url-input {
    padding: 0 16px;
  }

  ::placeholder {
    color: var(--placeholder-text);
  }
}
