.customSelector {
  position: relative;
  height: 32px;

  .Icon {
    width: 18px;
    height: 18px;
  }

  .customSelector__selectedItem {
    width: 100%;
    height: 32px;
    position: relative;
    background-color: transparent;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0 4px 0 8px;
    color: var(--text-color);
    font-size: var(--font-size-default);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      .Icon {
        color: var(--primary-button-hover);
        outline: solid 1px var(--primary-button-hover);
        border-radius: var(--border-radius);
      }
    }
  }

  & ul {
    margin: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    text-align: start;
    letter-spacing: 0px;
    display: none;
    border-radius: var(--border-radius);
    pointer-events: all;
    z-index: 1000;
    background-color: var(--component-background);
    box-shadow: 0 0 3px 0 var(--box-shadow);
    padding-inline-start: 0px;
    row-gap: 4px;

    &.open {
      display: flex;
      flex-direction: column;
    }
  }

  & li {
    display: block;
    height: 32px;
    position: relative;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    padding-inline-start: 0.5rem;

    :hover {
      cursor: pointer;
    }
  }

  & li:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0 8px;

    button {
      color: var(--faded-text);
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0;
    }

    &:hover {
      .Icon {
        color: var(--primary-button-hover);
        outline: solid 1px var(--primary-button-hover);
        border-radius: 4px;
      }
    }
  }

  & li .options {
    border: none;
    background-color: transparent;
    padding-inline-end: 0.65rem;
    padding-inline-start: 0.5rem;
    width: calc(100% + 0.5rem);
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-inline-start: -0.5rem;
    z-index: 1;
  }

  & li:not(:first-child) .options:hover {
    background-color: var(--dropdown-item-hover);
    color: var(--dropdown-item-text-hover);
  }

  & li .optionSelected {
    background-color: var(--dropdown-item-active);
    color: var(--dropdown-item-text-hover);
  }
}
