@import url('https://fonts.googleapis.com/css?family=Roboto');

.DropdownItem{
  width: 146px;
  height: 35px;
  background: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.ButtonText{
  line-height: 2.4;
  margin-left: 16px;
}