@import url('https://fonts.googleapis.com/css?family=Roboto');

.ToggleElementDropdown{
  height: 19px;
  width: 53px;
}

.DropdownText{
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 19px;
  text-align: center;
  width: 58.5px;
  resize: none;
  border: none;
}