.RibbonGroupContainer {
  max-width: 100%;
  padding: auto 8px;
  position: relative;
}

.RibbonGroup {
  display: flex;
  align-items: stretch;
  &.hidden {
    display: none;
  }
}
.RibbonGroup__moreButton {
  &.hidden {
    display: none;
  }
  .ToggleElementButton .Button {
    padding: 0 2px;
    &:hover {
      background-color: var(--blue-1);
    }

    &.active {
      background-color: var(--blue-2) !important;

      .Icon {
        color: var(--blue-6) !important;
      }
    }
  }
  .ToggleElementButton .Button .Icon {
    color: var(--faded-text) !important;
  }
  .active {
    background-color: transparent !important;
  }
}
.RibbonGroup__dropdown {
  &.hidden {
    display: none;
  }
}