@import '../../../../constants/styles';

.ZoomText {
  display: flex;

  .label {
    font-size: var(--font-size-default);
  }

  .value {
    color: var(--gray-7);
  }

  input {
    @include mobile {
      font-size : var(--font-size-default);
    }
  }
}
