@import '../../constants/styles';
@import '../../constants/modal';

.FilterAnnotModal {
  @extend %modal;
  font-size: 0.9em;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 1em;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      min-width: 400px;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .message {
      font-size: 14px;
      @include mobile {
        font-size: 16px;
      }
    }

    .filter-modal {
      display: flex;
      flex-direction: column;

      .filter-options {
        display: flex;
        flex-direction: column;

        .filter {
          display: flex;
          flex-direction: column;

          .heading {
            font-size: 16px;
            font-weight: bold;
            @include mobile {
              font-size: 18px;
            }
          }

          .buttons {
            display: grid;
            padding: 6px 0 6px 0;
            grid-template-columns: 100px 100px;
            column-gap: 1em;
          }

          .colorSelect {
            display: flex;
            flex-direction: row;

            .colorCell {
              width: 15px;
              height: 15px;
              border-radius: 10000000px;
              margin: 4px;
            }
          }

          label {
            // Custom wiseflow
            // overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .footer {
        display: flex;
        width: 100%;

        .Button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-button-text);
          padding: 6px 18px;
          margin-top: 8px;
          margin-left: 5px;
          width: auto;
          width: fit-content;
          background: var(--primary-button);
          border-radius: 4px;
          height: 30px;
          cursor: pointer;

          &:hover {
            background: var(--primary-button-hover);
          }

          &.disabled {
            background: var(--gray-6);
            border-color: var(--gray-6);
            cursor: not-allowed;
          }
        }

        .filter-annot-apply {
          font-weight: 600;
        }

        .filter-annot-clear,
        .filter-annot-cancel {
          // color: var(--secondary-button-text);
          background: #b2b3b3;

          &:hover {
            //color: var(--secondary-button-hover);
            background: #686969;
          }
        }
      }
    }
    .ui__choice__input__check {
      border-radius: 4px !important;
    }
  }
}
