@import '../../constants/styles';
@import '../../constants/modal';
@import '../../constants/tabs';

.FilterAnnotModal {
  @extend %modal;
  font-size: 0.9em;

  .container {
    @extend %modal-shared-container-style;
    @extend %modal-shared-container-style-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    background: var(--component-background);
    width: 360px;

    .message {
      font-size: 14px;

      @include mobile {
        font-size: 16px;
      }
    }

    .filter-modal {
      display: flex;
      flex-direction: column;
      width: 100%;

      .divider {
        height: 1px;
        width: 100%;
        background: var(--divider);
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin: 16px;
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        height: 24px;

        .Button {
          height: 24px;
        }
      }

      .body {
        padding: 16px;

        .tab-list {
          .tab-options-button {
            @include button-reset;
          }
        }

        @extend %tab-list;

        .filter-options {
          height: 200px;
          width: 100%;

          .tab-panel {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .include-replies {
              display: flex;
              height: 20px;
              margin-top: 12px;

              label {
                color: var(--gray-7);
              }
            }

            .three-column-filter {
              margin-top: 20px;
              overflow-y: scroll;
              display: grid;
              grid-gap: 5px 16px;
              grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            .color-filters {
              margin-top: 20px;
              overflow-y: scroll;
              display: grid;
              grid-gap: 16px;
              grid-template-columns: repeat(5, minmax(0, 1fr));
            }

            .buttons {
              display: grid;
              padding: 6px 0 6px 0;
              grid-template-columns: 100px 100px;
            }

            .colorSelect {
              display: flex;
              flex-direction: row;

              .colorCell {
                width: 22px;
                height: 22px;
                border-radius: 10000000px;
                margin-left: 4px;
              }
            }

            label {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
        margin-top: 0px;

        .Button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-button-text);
          padding: 6px 18px;
          width: auto;
          width: fit-content;
          background: var(--primary-button);
          border-radius: 4px;
          height: 32px;
          cursor: pointer;

          &:hover {
            background: var(--primary-button-hover);
          }

          &.disabled {
            background: var(--gray-6);
            border-color: var(--gray-6);
            cursor: not-allowed;
          }
        }

        .filter-annot-clear {
          color: var(--secondary-button-text);
          background: none;

          &:hover {
            color: var(--secondary-button-hover);
            background: none;
          }
        }
      }
    }
  }
}
