@import '../../constants/styles';
@import '../../constants/modal';

.CustomStampModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 10px 10px;
    background: var(--component-background);
    @include mobile {
      padding: 0px 24px 24px;
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
    }
    .divider-horizontal {
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background: var(--divider);
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .stamp-save {
        position: relative;
        margin-left: 8px;
        user-select: none;

        input {
          display: none;

          & + label:before {
            cursor: pointer;
            content: '';
            margin: 1px 10px 0px 0px;
            display: inline-block;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid #979797;
          }

          &:checked + label:before {
            background: $pdftron-blue;
            border: 1px solid transparent;
          }

          &:checked + label:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 9px;
            background: #ffffff;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff,
              4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
            transform: rotate(45deg);
          }
        }

        label {
          display: flex;
          align-items: center;
        }
      }

      .stamp-close {
        @include button-reset;
        color: var(--secondary-button-text);
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }

      .stamp-create {
        @include button-reset;
        background: var(--primary-button);
        border-radius: 4px;
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        font-weight: bold;
        cursor: pointer;

        @include mobile {
          height: 40px;
          width: 100px;
        }

        &:hover {
          background: var(--primary-button-hover);
        }
      }

      .stamp-create-disabled {
        background: var(--disabled-icon);
        &:hover {
          background: var(--disabled-icon);
          cursor: default;
        }
      }

      .ColorPalette {
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }
    }
  }
}
