@import '../../../constants/styles';
@import '../../../constants/modal';

.text-signature {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 220px;

  @include mobile {
    width: 100%;
    height: 162px;
  }
  canvas {
    display: none;
  }

  &-input {
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--focus-border);
    box-shadow: none;
    padding: 5px;
    width: 100%;
  }

  &-inner-container {
    position: absolute;
    height: 100%;
    min-width: 100%;
  }

  &-text {
    display: flex;
    align-items: center;
    background: var(--faded-component-background);
    white-space: nowrap;
    border-radius: 4px;
    padding: 0 8px;
    margin-top: 10px;
    overflow-y: auto;
    flex-grow: 1;
    max-width: 450px;

    &:hover {
      cursor: pointer;
    }

    // &.active {
    //   border: 1px solid var(--focus-border);
    // }

    .text-container {
      // background: green;
      margin: auto;
      padding: 0 20px;
    }
  }
}
