@import '../../../constants/styles';

$border-radius: 4px;

.text-signature {  
  display: flex;
  flex-direction: column;

  width: 340px;
  height: 140px;

  @include mobile {
    width: 100%;
    height: 162px; 
  }
  canvas {
    display: none;
  }

  &-input {
    outline: none;
    border-radius: $border-radius;
    border: 1px solid $signature-modal-shared-color;
    box-shadow: none;
    padding: 5px;
    width: 100%;
  }
  
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 104px;
    background: #f8f8f8;
    white-space: nowrap;
    border: 1px solid $signature-modal-shared-color;
    border-radius: 4px;
    padding: 0 8px;
    margin-top: 10px;
    overflow-y: auto;
    flex-grow: 1;

    &:hover {
      cursor: pointer;
    }

    &.active {
      border: 1px solid var(--focus-border);
    }
  }
}
