@import '../../../constants/styles';

$border-radius: 4px;

.text-signature {
  margin: 0px 24px;
  height: 200px;
  display: flex;
  flex-direction: column;

  &-input {
    outline: none;
    height: 17px;
    border-radius: $border-radius;
    border: 1px solid $signature-modal-shared-color;
    box-shadow: none;
    padding: 5px;
  }

  &-container {
    position: relative;
    margin-top: 10px;
    flex: 1;
    border: 1px solid $signature-modal-shared-color;
    border-radius: $border-radius;
    overflow: auto;
  }

  &-inner-container {
    position: absolute;
    height: 100%;
    min-width: 100%;

    canvas {
      position: absolute;
      visibility: hidden;
      z-index: -1;
    }
  }
  
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background: #f8f8f8;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }

    &.active {
      border: 1px solid #0088e7;
    }
  }
}
