#line-connector-root {
  position: relative;
  z-index: 999;
}
  
.lineHorizontal {
  background-color: rgba(30,120,235, 0.5);;
  position: fixed;
  height: 2px;
}

.lineVertical {
  background-color: rgba(30,120,235, 0.5);;
  position: fixed;
  width: 2px;
}