:root {
  --blue-1: #192530;
  --blue-2: #1B2B3A;
  --blue-3: #334250;
  --blue-4: #334758;
  --blue-5: #1A4971;
  --blue-6: #3183C8;

  --gray-0: #000000;
  --gray-1: #16181C;
  --gray-2: #21242A;
  --gray-3: #343A40;
  --gray-4: #485056;
  --gray-5: #868E96;
  --gray-6: #ADB5BD;
  --gray-7: #CFD4DA;
  --gray-8: #DEE2E6;
  --gray-9: #E7EBEE;
  --gray-10: #F1F3F5;
  --gray-11: #F8F9FA;
  --gray-12: #FFFFFF;

  --panel-background: var(--gray-3);
  --faded-component-background: var(--gray-1);
  --signature-draw-background: var(--gray-3);
  --toggle-zoom-overlay-background: var(--gray-4);
  --component-background: var(--gray-2);
  --mobile-tool-style-popup: var(--gray-3);
  --preset-background: var(--gray-3);
  --mobile-divider: var(--gray-7);
  --mobile-presets-background: var(--gray-3);

  --ribbons-background: var(--gray-2);
  --box-shadow: var(--gray-5);
  --document-box-shadow: var(--gray-5);
  --focus-border: var(--blue-6);

  --scroll-chevron-color: var(--gray-5);
  --icon-color: var(--gray-6);
  --faded-text: var(--gray-6);
  --text-color: var(--gray-11);
  --placeholder-text: var(--gray-5);
  --ribbon-active-color: var(--blue-6);

  --no-presets-text: var(--gray-6);
  --disabled-text: var(--gray-4);
  --disabled-icon: var(--gray-4);

  --slider-filled: var(--blue-6);
  --slider-background: var(--gray-4);
  --badge-fill: var(--gray-4);
  --badge-text-color: var(--gray-12);
  --primary-button: var(--blue-6);
  --primary-button-text: var(--gray-11);
  --secondary-button-text: var(--blue-6);
  --divider: var(--gray-4);
  --border: var(--gray-4);
  --selected-icon-color: var(--gray-8);
  --view-header-icon-active-fill: var(--gray-10);
  --document-background-color: var(--gray-2);

  --view-header-button-hover: var(--blue-3);
  --view-header-button-active: var(--blue-4);

  --popup-button-hover: var(--blue-3);
  --popup-button-active: var(--blue-4);

  --primary-button-hover: var(--blue-5);
  --secondary-button-hover: var(--blue-5);

  --color-palette-border: var(--gray-7);

  --modal-negative-space: rgba(0, 0, 0, 0.3);
  --spinner-negative-space: rgba(0, 0, 0, 0.3);

  --white-color-palette-border: transparent;

  --list-separator-color: var(--gray-7);
  --scrollbar-color: var(--gray-4);
  --note-box-shadow: transparent;

  --tools-header-background: var(--gray-1);
  --view-header-background: var(--gray-3);
  --tools-overlay-background: var(--gray-2);


  --tools-button-hover: var(--blue-1);
  --tools-button-active: var(--blue-2);

  --tools-overlay-button-hover: var(--blue-3);
  --tools-overlay-button-active: var(--blue-4);

  --outline-color: var(--blue-6);
  --outline-hover: var(--blue-3);
}
