@font-face {
  font-family: "GreatVibes-Regular";
  src: 
    url("../../../assets/fonts/GreatVibes-Regular.woff2") format("woff2"),
    url("../../../assets/fonts/GreatVibes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}