@font-face {
  font-family: 'Roboto';
  src: url(../../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../../../assets/fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../../assets/fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}