:root {
  /* stylelint-disable color-no-hex */
  --blue-1: #E7EDF3;
  --blue-2: #DDE6EE;
  --blue-3: #CFD8E0;
  --blue-4: #C7D2DD;
  --blue-5: #3183C8;
  --blue-6: #1A4971;
  --blue-7: #2651A1;

  --gray-0: #FFFFFF;
  --gray-1: #F8F9FA;
  --gray-2: #F1F3F5;
  --gray-3: #E7EBEE;
  --gray-4: #DEE2E6;
  --gray-5: #CFD4DA;
  --gray-6: #ADB5BD;
  --gray-7: #6b7178;
  --gray-8: #404040;
  --gray-9: #343A40;
  --gray-10: #21242A;
  --gray-11: #101214;
  --gray-12: #000000;

  --yellow-1: #FACE0080;
  --red: red;
  /* stylelint-enable color-no-hex */

  --component-background: var(--gray-0);
  --mobile-presets-background: var(--gray-1);
  --faded-component-background: var(--gray-2);
  --signature-draw-background: var(--gray-2);
  --toggle-zoom-overlay-background: var(--gray-2);
  --ribbons-background: var(--gray-3);
  --document-background-color: var(--gray-2);

  --error-text-color: var(--red);
  --error-border-color: var(--red);

  --panel-background: var(--gray-1);

  --slider-filled: var(--blue-5);
  --slider-background: var(--gray-4);
  --badge-fill: var(--gray-8);
  --badge-text-color: var(--gray-0);
  --view-header-icon-active-fill: var(--blue-6);

  --text-color: var(--gray-8);
  --faded-text: var(--gray-8);
  --placeholder-text: var(--gray-6);
  --ribbon-active-color: var(--gray-10);

  --no-presets-text: var(--gray-8);
  --disabled-text: var(--gray-5);
  --disabled-icon: var(--gray-5);

  --scroll-chevron-color: var(--gray-6);
  --icon-color: var(--gray-8);
  --selected-icon-color: var(--gray-10);

  --view-header-button-hover: var(--blue-1);
  --view-header-button-active: var(--blue-2);

  --popup-button-hover: var(--blue-1);
  --popup-button-active: var(--blue-2);

  --dropdown-item-hover: var(--popup-button-hover);
  --dropdown-item-active: var(--popup-button-active);
  --dropdown-item-active-text: var(--text-color);
  --dropdown-item-active-icon: var(--icon-color);

  --primary-button: var(--blue-7);
  --primary-button-text: var(--gray-1);
  --primary-button-hover: var(--blue-6);

  --secondary-button-text: var(--blue-7);
  --secondary-button-hover: var(--blue-6);

  --box-shadow: var(--gray-6);
  --document-box-shadow: var(--gray-7);

  --panel-background: var(--gray-1);

  --divider: var(--gray-5);
  --side-panel-border: var(--divider);
  --border: var(--gray-5);
  --focus-border: var(--blue-5);
  --color-palette-border: var(--gray-8);

  --modal-negative-space: rgba(0, 0, 0, 0.3);
  --spinner-negative-space: rgba(0, 0, 0, 0.3);

  --white-color-palette-border: var(--border);

  --list-separator-color: var(--gray-8);
  --scrollbar-color: var(--gray-6);
  --note-box-shadow: var(--box-shadow);

  --tools-header-background: var(--gray-3);
  --view-header-background: var(--gray-1);
  --tools-overlay-background: var(--gray-0);

  --tools-button-hover: var(--blue-3);
  --tools-button-active: var(--blue-4);

  --tools-overlay-button-hover: var(--blue-1);
  --tools-overlay-button-active: var(--blue-2);

  --outline-color: var(--blue-7);
  --outline-hover: var(--blue-1);

  --preset-background: var(--gray-1);

  --oe-table-dropdown-highlight: var(--blue-4);

  --bookmark-outline-hover-border: transparent;

  --checked-option: var(--blue-5);

  --input-switch-default-color: var(--gray-3);
}