:root {
  --tools-button-hover: var(--blue-1);
  --tools-button-active: var(--blue-2);

  --tools-overlay-button-hover: var(--blue-3);
  --tools-overlay-button-active: var(--blue-4);

  --tools-header-background: var(--gray-1);
  --tools-overlay-background: var(--gray-3);

  --tools-overlay-button-hover: var(--blue-3);
  --tools-overlay-button-active: var(--blue-4);
}
