:root {
  --tools-button-hover: var(--button-hover2);
  --tools-button-active: var(--button-active2);

  --tools-overlay-button-hover: var(--button-hover1);
  --tools-overlay-button-active: var(--button-active1);
}
