%textarea-buttons {
  button {
    outline: none;

    &:first-child {
      margin: 0;
      background-color: #00a5e4;
      border-radius: 4px;
      border: none;
      width: 60px;
      height: 32px;
      color: #ffffff;
    }

    &:nth-child(2) {
      margin-left: 5px;
      border: none;
      width: 60px;
      height: 32px;
      background: none;
      color: var(--text-color);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

%title {
  .title {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    color: #808080;
    color: var(--text-color);
    margin-bottom: 3px;
  
    .type {
      display: flex;
      align-items: center;
      height: 20px;
      padding-right: 10px;
      font-weight: bold;
  
      .icon {
        width: 20px;
        height: 20px;
      }
    }
  
    .author {
      opacity: 0.8;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      
      .highlight {
        background: #fffc95;
      }
    }
    
    .time {
      opacity: 0.8;
    }

    .spacer {
      opacity: 0.8;
      height: 1px;
      width: 7px;
      margin: 0 5px;
      background: #808080;
      background: var(--text-color);
      opacity: 0.5;
    }
  }
}