// office editor flyout dropdown
@mixin oe-modular-flyout-dropdown {
  min-width: 200px; // expands the flyout container to display dropdown item content
  width: 100%;
  padding: 4px 8px;

  & > .Dropdown {
    width: 100% !important;

    .Dropdown__input {
      width: 150px !important;
    }
  }

  .Dropdown__items {
    z-index: 90;
    top: 38px !important; // align the dropdown to the bottom of the parent container with padding
    right: 8px; // align the dropdown to the right of the parent container
    max-width: calc(100% - 16px);
    overflow-y: auto;

    .Dropdown__item {
      flex-shrink: 0;
    }
  }

  .Dropdown__input {
    width: 100px !important;
    display: inline;
    box-sizing: border-box;
  }
}

@mixin oe-modular-custom-dropdown {
  .Dropdown__item {
    line-height: normal;
  }

  .Dropdown__item-icon {
    flex-shrink: 0;
    width: 24px;
    margin-right: 8px;
    margin-bottom: 14px;
  }

  .Dropdown__item-vertical {
    flex-grow: 1;
  }

  .Dropdown__item-label {
    font-weight: 700;
    text-align: left;
  }

  .Dropdown__item-description {
    font-size: 10px;
    margin-top: 4px;
  }

  .Divider {
    flex-basis: 100%;
    width: 100%;
    height: 1px;
    margin: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}