@import './styles';

%overlay {
  @extend %open;
  @extend %closed;
  position: absolute;
  z-index: 85;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 var(--document-box-shadow);
  background: var(--component-background);  
}
