@import './styles';

$popup-button-height: 38px;
$popup-button-width: 38px;
$popup-icon-height: 18px;
$popup-icon-width: 18px;

%popup {
  @extend %open;
  @extend %closed;
  position: absolute;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 5px;
  // border-radius: 5px;
  // box-sizing: border-box;
  // background: $white;
  // background: var(--primary-color);
  // box-shadow: 1px 1px 10px #aaa;

  .buttons {
    display: flex;
  }

  .Button {
    // width: $popup-button-width;
    // height: $popup-button-height;
    margin: 4px;

    &:hover {
      background: var(--popup-button-hover);
    }

    // @include tablet-and-mobile {
    //   width: $popup-button-width;
    //   height: $popup-button-height;

    //   margin: 4px;
    // }

    .Icon {
      width: 18px;
      height: 18px;
      // width: $popup-icon-width;
      // height: $popup-icon-height;

      @include tablet-and-mobile {
        width: 24px;
        height: 24px;
      }
    }
  }
}

%popup-mobile {
  @include mobile {
    position: fixed;
    width: 100vw;
    top: initial !important;
    left: 0px !important;
    bottom: 0px;
    height: calc(100% - #{$top-bar-height-m});
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &.open {
      animation: bottom-up 0.3s;
    }
    
    &.closed {
      transition: visibility 0s 0.3s;
      animation: up-bottom 0.3s;
    }
  }
}

@keyframes bottom-up {
  0% {
    transform: translateY(100%);    
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes up-bottom {
  0% {
    transform: translateY(0%);    
  }

  100% {
    transform: translateY(100%);
  }
}
