.ql-container {
  margin: 0px;

  .ql-editor {
    height: 100%;
    outline: none;
    overflow-y: auto;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;

    & > * {
      cursor: text;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.ql-clipboard {
  position: absolute;
  height: 1px;
  top: 50%;
  left: -100000px;
  overflow-y: hidden;

  p {
    margin: 0;
    padding: 0;
  }
}