// Dimensions
$top-bar-height: 36px;
$button-width: 46px;
$button-height: 46px;
$icon-width: 24px;
$icon-height: 24px;
$panel-width: 293px;
$right-panel-width: 293px;
$left-panel-width: 219px;
$left-panel-width: var(--left-panel-width);

// Font
$font-family: sans-serif;

// Mobile dimensions
$top-bar-height-m: 42px;
$button-width-m: 41px;
$button-height-m: 41px;
$search-overlay-height-m: 61px;

// TODO: Remove
// Old Colors
$white: #fff;
$pdftron-blue: #00a5e4; // TODO: confirm that this is what we want

// TODO: Remove
// Light theme
$document-bg-color: $white;

// Shadows
$md-shadow1: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);

// Screens
$tablet-width: 900px;
$mobile-width: 640px;

$signature-modal-shared-color: #e1e1e3;

// Dark defaults for new ui:
$gray-3: #343A40;

%open {
  &.open {
    visibility: visible;
  }
}

%closed {
  &.closed {
    visibility: hidden;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet-and-mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin ie11 {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

.hide-in-desktop {
  @include desktop {
    display: none;
  }
}

.hide-in-tablet {
  @include tablet {
    display: none;
  }
}

.hide-in-mobile {
  @include mobile {
    display: none;
  }
}

%cell {
  width: 30px;
  height: 26px;
  display: flex;
  margin: 1px;

  @include mobile {
    height: 30px;
    width: 13.5%;
  }
}

// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
%word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Fixes default button styling, and prevents outline when not tabbing.
@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;

  @at-root html:not([data-tabbing='true']) #{&} {
    outline: none;

    // No need to use this if you aren't doing custom focus style.
    // &::-moz-focus-inner {
    //   border: 0;
    // }
  }
}
