%tab-list {
  .tab-list {
    width: 100%;
    height: 28px;
    display: flex;
    border-radius: 4px;
    // border: 1px solid var(--border);
    color: var(--text-color);

    .tab-options-button {
      border-bottom: 2px solid #ffffff !important;
      padding: 0px 20px !important;
      text-align: center;
      vertical-align: middle;
      line-height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      // flex: 1;
      border-radius: 0px;
      cursor: pointer;

      &:first-child {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }

      &:last-child {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }

      &:hover {
        // background: var(--popup-button-hover);
        color: #7D69FF;
        border-bottom: 2px solid #7D69FF !important;
        .tabs_icon{
         color: #7D69FF;
        }
      }

      &.selected {
        // background: var(--popup-button-active);
        color: #7D69FF;
        border-bottom: 2px solid #7D69FF !important;
        cursor: default;
        .tabs_icon{
          color: #7D69FF;
        }
      }
      .tabs_icon{
        height: 10px;
        width: 20px;
        margin-top: 2px;
        margin-right: 6px;
      }
    }

    .tab-options-divider {
      width: 1px;
      background: var(--divider);
    }
  }
}

%tab-panel {
  .tab-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
