@import '../../../constants/styles';
@import '../../../constants/modal';
@import '../../../constants/popup';

$color-widget-border: 1px solid $gray12;

.Watermark {
  @extend %modal;
  z-index: $modal-z-index + 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  .StylePopup {
    position: absolute;
    margin-top: 50px;
    border: $color-widget-border;
    background-color: #fafafa;
  }

  .header-container {
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: $color-widget-border;
  }

  .form-container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
  }
  
  .form-content-container {
    display: flex;
    margin: 13px;
    & form {
      margin-right: 13px;
      flex-basis: 10%;
    }

    & .canvas-container {
      flex-basis: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .button-container {
    border-top: $color-widget-border;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .cell {
    @extend %cell;
    cursor: pointer;
    width: 35px;
    border: $color-widget-border;
    position: relative;
  }
  
  .button {
    font-weight: 600;
    padding: 6px 18px;
    border-radius: 4px 4px 4px 4px;
    height: 32px;
    cursor: pointer;
  }
  
  .ok, .reset {
    color: #fff;
    background: #00a4e4;
    border: 1px solid #00a4e4;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  
    >label {
      margin: 3px 0;
    }
  }
}