@import '../../../constants/styles';
@import '../../../constants/modal';
@import '../../../constants/popup';

@import './media-query';

.Watermark {
  @extend %modal;
  z-index: $modal-z-index + 10;

  .StylePopup {
    position: absolute;
    margin-top: 60px;
    background: var(--preset-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 0 3px 0 var(--box-shadow);
    align-items: center;

    @include ie11 {
      margin-top: 0;
    }

    .ColorPalette {
      padding: 10px;
    }
  }

  .style-container {
    display: flex;
  }

  .form-container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 16px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }
  }

  .form-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & form {
      width: auto;
      @include portrait-mobile {
        width: auto;
      }
    }
  }

  .watermark-settings {
    display: flex;
    flex-direction: column;

    .form-field {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      label {
        margin-bottom: 8px;
      }

      select,
      input {
        height: 30px;
      }

      &.opacity-slider {
        display: flex;

        .slider-svg-container {
          margin: 0px; //child component sets it to -5px
          height: 30px;
        }

        @include ie11 {
          align-items: stretch;
        }
      }

      &.separator {
        height: 1px;
        width: 100%;
        background: var(--divider);
        margin: 16px 0;
      }

      .resetSettings {
        @include button-reset;
        cursor: pointer;
        background: none;
        border: 0;
        width: 100%;
        color: var(--secondary-button-text);
        margin-bottom: 16px;
        display: flex;
        font-size: 13px;
        padding: 6px 18px;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }
    }

    .colorSelect {
      width: 18px;
      height: 18px;
      margin: 7px;
      border-radius: 10000000px;
    }
  }

  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    // highly unlikely someone will be editing watermarking on mobile
    @include mobile {
      display: none;
    }

    canvas {
      border: 1px solid var(--border) !important;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 18px;
      width: auto;
      width: fit-content;
      border-radius: 4px;
      border: 0px;
      height: 32px;
      cursor: pointer;
      font-size: 13px;

      &.ok {
        color: var(--primary-button-text);
        background: var(--primary-button);

        &:hover {
          background: var(--primary-button-hover);
        }
      }

      &.cancel {
        color: var(--secondary-button-text);
        background: none;
  
        &:hover {
          color: var(--secondary-button-hover);
        }
      }
    }
  }
}
