@import '../../../constants/styles';
@import '../../../constants/modal';
@import '../../../constants/popup';

$color-widget-border: 1px solid $gray12;
$gap: 15px;

.Watermark {
  @extend %modal;
  z-index: $modal-z-index + 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  .StylePopup {
    position: absolute;
    margin-top: 50px;
    border: $color-widget-border;
    background-color: #fafafa;

    .ColorPalette {
      padding: 10px;
    }
  }

  .header-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: $gap;
    border-bottom: $color-widget-border;
  }

  .header {
    font-weight: bold;
  }

  .form-container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;

    @include mobile {
      // flex-direction: column;
      // width: 100vw;
      // height: 100vh;
      // margin-left: $gap;
      // max-height: 100vh;
      // max-width: 100vw;
      // overflow:auto;
      max-height: 100vh;
      overflow:auto;
    }
  }
  
  .form-content-container {
    display: flex;
    margin: $gap;
    
    justify-content: space-around;

    @include mobile {
      flex-direction: column;
      // width: 100vw;
      // height: 100vh;
      margin-left: $gap;
      // max-height: 100vh;
      // max-width: 100vw;
      // overflow:auto;
    }

    & form {
      margin-right: $gap;
      // flex-basis: 10%;
      // flex-basis: 30px;
      // flex: 0 0 173px;
      width: 175px;

      @include mobile {
        width: auto;
        // margin-left: $gap;
      }
    }

    & .canvas-container {
      // flex-basis: 90%;
      // flex-basis: 277px;
      // flex: 0 0 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      // border: 1px solid red;

      @include mobile {
        // width: auto;
        // height: 2px;
        // margin-left: $gap;
      }
    }
  }
  
  .button-container {
    border-top: $color-widget-border;
    display: flex;
    justify-content: space-between;
    padding: $gap;
  }
  
  .cell {
    @extend %cell;
    cursor: pointer;
    width: 35px;
    border: $color-widget-border;
    position: relative;
    @include mobile {
      width: auto;
      // height: auto;
      // margin-left: $gap;
    }
  }
  
  .button {
    font-weight: 600;
    padding: 6px 18px;
    border-radius: 4px 4px 4px 4px;
    height: 32px;
    cursor: pointer;
  }
  
  .ok, .reset {
    color: #fff;
    background: #00a4e4;
    border: 1px solid #00a4e4;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  
    >label {
      margin: 3px 0;
    }
  }
}