.note-text-preview {
  font-size: 13px;
  color: var(--gray-7);
  padding-right: var(--note-content-right-padding-width);
  user-select: text !important;
  cursor: text;
  height: fit-content;
  width: calc(100% - var(--note-content-right-padding-width));
  overflow: hidden;
}

.preview-comment {
  color: var(--text-color);
}

.note-text-preview-prompt {
  cursor: pointer;
  color: var(--primary-button);

  &:hover {
    color: var(--primary-button-hover);
  }
}

.trackedChangePopup {
  .note-text-preview {
    max-height: 400px;
    overflow-y: auto;
    width: calc(100% + var(--note-content-right-padding-width));
  }
}