@import '../../constants/styles';
@import '../../constants/overlay';

.PageNav {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;

  @include mobile {
    font-size: 14px;
  }

  input {
    padding: 0;
    border: none;
    text-align: right;
    font-size: 16px;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;

    &:focus {
      outline: none;
      border-width: 0 0 2px;
      border-style: dashed;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  form {
    padding: 6px;
  }
}