.reply-attachment-list {
  display: flex;
  flex-direction: column;
  cursor: default;

  .reply-attachment {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-1);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .reply-attachment-preview {
      width: 100%;
      max-height: 80px;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .reply-attachment-info {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 8px;

      .reply-attachment-icon {
        height: 24px;
        min-height: 24px;
        width: 24px;
        min-width: 24px;
      }

      .reply-file-name {
        height: 16px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
        margin-right: 8px;
      }

      .attachment-button {
        height: 24px;
        min-height: 24px;
        width: 24px;
        min-width: 24px;

        &:hover {
          background-color: var(--blue-1);
        }

        .Icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
