@import '../../constants/styles';
@import '../../constants/light.scss';

* {
  transition: background-color .25s ease;
}

* {
  &::-webkit-scrollbar {
    width: 7px;

    &:horizontal {
      height: 7px;
    }
  }

  &::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-color);
    border-top: 2px solid transparent;
  }
}

.DocumentContainer {
  border-right: 3px solid transparent;
}

html, body , #app {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  visibility: visible !important;
}
// This needed in WebComponent mode
#note-state-popup-portal {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
}

input, button, label, textarea, form, select, #app {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);

  @include mobile {
    font-size : 16px;
  }
  font-family: 'Lato', sans-serif;
}

input, textarea, select {
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--component-background);
  color: var(--text-color);

  &:focus {
    outline: none;
    border: 1px solid var(--focus-border);
  }
}

.App {
  display: flex;
  flex-direction: column;
  position: static; // position relative and fixed both caused issues in the past
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--document-background-color);
  -webkit-font-smoothing: antialiased;

  >.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  div {
    -webkit-tap-highlight-color: transparent;
  }

  div, canvas {
    user-select: none;

    &.ql-clipboard {
      user-select: text;
    }
  }

  textarea {
    appearance: none;
    user-select: text !important;
  }

  input[type=text] {
    font-family: 'Lato';
    appearance: none;
    user-select: text !important;
  }
}

.freetext-editor .ql-editor {
  padding: 0px;
}


// justify-bottom class is used when annotation vertical alignment is
// bottom and for the scroll bar to show up
.justify-bottom .ql-editor > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}
.justify-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.ql-editor > p {
  margin: 0;
  padding: 0;
}

.ql-editor > p span {
  line-height: normal;
}

.ql-clipboard {
  width: 0;
  height: 1px;
}

.visually-hidden {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}