@import '../../constants/styles';
@import '../../constants/font.scss';

:root {

  // light mode
  --blue-1: #E7EDF3;
  --blue-2: #DDE6EE;
  --blue-3: #CFD8E0;
  --blue-4: #C7D2DD;
  --blue-5: #3183C8;
  --blue-6: #1A4971;

  --gray-0: #FFFFFF;
  --gray-1: #F8F9FA;
  --gray-2: #F1F3F5;
  --gray-3: #E7EBEE;
  --gray-4: #DEE2E6;
  --gray-5: #CFD4DA;
  --gray-6: #ADB5BD;
  --gray-7: #868E96;
  --gray-8: #485056;
  --gray-9: #343A40;
  --gray-10: #21242A;
  --gray-11: #101214;
  --gray-12: #000000;

  // dark mode
  // --blue-1: #192530;
  // --blue-2: #1B2B3A;
  // --blue-3: #334250;
  // --blue-4: #334758;
  // --blue-5: #1A4971;
  // --blue-6: #3183C8;

  // --gray-0: #000000;
  // --gray-1: #16181C;
  // --gray-2: #21242A;
  // --gray-3: #343A40;
  // --gray-4: #485056;
  // --gray-5: #868E96;
  // --gray-6: #ADB5BD;
  // --gray-7: #CFD4DA;
  // --gray-8: #DEE2E6;
  // --gray-9: #E7EBEE;
  // --gray-10: #F1F3F5;
  // --gray-11: #F8F9FA;
  // --gray-12: #FFFFFF;


  --component-background: var(--gray-0);
  --faded-component-background: var(--gray-2);
  --view-header-background: var(--gray-1);
  --tools-header-background: var(--gray-3);
  --slider-filled: var(--blue-5);
  --slider-background: var(--gray-4);
  --modal-negative-space: rgba(255, 255, 255, 0.8);
  --top-header-icon-active-fill: var(--blue-6);

  --text-color: var(--gray-8);
  --faded-text: var(--gray-7);
  --placeholder-text: var(--gray-6);

  --top-bar-icon-color: var(--gray-6);
  --icon-color: var(--gray-7);
  --selected-icon-color: var(--gray-8);

  --button-hover1: var(--blue-1);
  --button-hover2: var(--blue-3);
  --active-button1: var(--blue-2);
  --active-button2: var(--blue-4);


  // ---- swap ----
  --tools-button-hover: var(--button-hover2);
  --tools-button-active: var(--active-button2);

  --tools-overlay-button-hover: var(--button-hover1);
  --tools-overlay-button-active: var(--active-button1);
  // ---- swap ----

  --popup-button-hover: var(--button-hover1);

  --primary-button: var(--blue-5); 
  --primary-button-text: var(--gray-1); 
  --primary-button-hover: var(--blue-6); 

  --secondary-button: var(--blue-5); 
  --secondary-button-text: var(--blue-5);
  --secondary-button-hover: var(--blue-6); 

  
  --box-shadow: var(--gray-6);
  --document-box-shadow: var(--gray-7);
  
  --panel-background: var(--gray-1);
  
  --divider: var(--gray-5);
  --border: var(--gray-5);
  --focus-border: var(--blue-5);
  --color-palette-border: var(--gray-8);

  --document-background-color: var(--gray-2);













  
  --primary-color: #FFFFFF;
  --secondary-color: #F5F5F5;
  --border-color: #E0E0E0;
  --left-panel-width: 219px;
  --button-hover-color: #F6F6F6;
  








  
  


  --button-active-color: #F0F0F0;
  
  --header-border-color: #bdbdbd;
  
  --icon-active-color: #767e9a;
}

* {
  &::-webkit-scrollbar {
    width: 4px;

    &:horizontal {
      height: 4px;
    }
  }

  &::-webkit-scrollbar-track {
    width: 10px;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;    
  }
}

.DocumentContainer {
  border-right: 2px solid transparent;
}

html, body , #app {
  width: 100%;
  min-width: 300px;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Carlito', sans-serif;
  color: #333;
  color: var(--text-color);
}

input, label, textarea, form, #app {
  font-size: 13px;
}

input, textarea, select {
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--gray-0);
  color: var(--text-color);

  &:focus {
    outline: none;
    border: 1px solid var(--focus-border);
  }
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $gray4;
  background-color: var(--document-background-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  >.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  div {
    -webkit-tap-highlight-color: transparent;
  }

  div, canvas {
    user-select: none;
  }

  textarea {
    appearance: none;
    user-select: text !important;
  }

  input[type=text] {
    font-family: 'Carlito';
    appearance: none;
    user-select: text !important;
  }
}
