@import '../../constants/styles';
@import '../../constants/font.scss';

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #F5F5F5;
  --border-color: #E0E0E0;
  --left-panel-width: 219px;
  --button-hover-color: #F6F6F6;


  // for new webui
  --tools-active-color: #767f9b26;
  --tools-overlay-background: #fafafa;
  --tools-overlay-border: #a7b4cc;
  --panel-background: #fafafa;
  --header-background: #fafafa;
  --tools-header-background: #dfe2ed;
  --border: #dfe2ed;

  --button-active-color: #F0F0F0;
  --text-color: #767f9b;
  --header-border-color: #bdbdbd;
  --document-background-color: #f0f0f0;
  --zoom-background: #eeeeee;

  --tools-divider-color: #dfe2ed;
  --icon-active-color: #767e9a;
  --icon-color: #abb0c4;
  --header-items-border-radius: 4px;

  --font-size-small: 13px;
}

html, body , #app {
  width: 100%;
  min-width: 300px;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Carlito', sans-serif;
  color: #333;
  color: var(--text-color);
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $gray4;
  background: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  @include tablet-and-mobile {
    position: fixed;
  }

  div {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  div, canvas {
    user-select: none;
  }

  textarea {
    appearance: none;
    user-select: text !important;
  }

  input[type=text] {
    font-family: 'Carlito';
    appearance: none;
    user-select: text !important;
  }
}
