@import '../../constants/styles';

.spinner {
  border: 5px solid var(--border);
  border-top: 5px solid var(--focus-border);
  border-radius: 50%;
  animation: spin 1.2s ease infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
