@import '../../constants/styles';

.ZoomDropdown{
    position: absolute;
    top: 46px;
    width: 146px;
    height: 420px;
    z-index: 100;
    box-shadow: $md-shadow1;

    &.open {
      display: visible;
    };
    &.closed {
      display: none;
    }

    .spacer{
      width: 146px;
      height: 1px;
      background: var(--button-active-color);
    }
}

