@import '../../constants/styles';

.LeftPanelTabs {
  display: flex;
  flex: 1;
  border-radius: 4px;
  border: 1px solid var(--border);

  .Button {
    flex-grow: 1;
    height: 26px;
    margin: 0;
    border-radius: 0px;

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {

      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }


    .Icon {
      width: 19px;
      height: 19px;
    }

    &.active {
      background: var(--popup-button-active);
    }

    &:hover {
      background: var(--popup-button-hover);
    }
  }
}
