.Flyout:has(.SheetOptionsFlyout) {
  z-index: 130;
}

.SpreadsheetSwitcher {
  padding: 0;
}

.GenericFileTab {
  display: flex;
  padding-inline-start: 4px;
  padding-top: 4px;

  .dropdown-menu {
    border: solid 1px var(--border);
    margin-top: 3px;
    margin-inline-start: 5px;
    .Icon {
      position: absolute;
    }
  }

  .add-sheet-tab {
    margin-top: 3px;
    margin-inline-start: 5px;
    .Icon {
      width: 14px;
      height: 14px;
    }
  }
}
