@import '../../constants/styles.scss';

.toggle-element-button {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: var(--button-hover1);
    }

    .Button:hover {
      background: none;
    }
  }
