@import '../../constants/styles.scss';

.toggle-element-button {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;

    .down-arrow-container {
      @include tablet-and-mobile {
        display: none;
      }

      height: 100%;
      margin-left: -4px;
      margin-right: 4px;
      border-radius: 4px;
      display: flex;
      align-items: center;

      .down-arrow {
        width: 12px;
        height: 16px;
        margin-top: -2px;
      }
    }

    &.active{
      .down-arrow-container {
        background: var(--active-button1)
      }
      .down-arrow {
        color: var(--selected-icon-color);
      }
    }
  
    &:hover {
      background: var(--button-hover1);
    }

    .Button:hover {
      background: none;
    }


  }
