@import '../../constants/styles';

.tools-dropdown-container {
  @include button-reset;
  width: 34px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;

  &:not(.disabled) {
    &:hover {
      background: var(--tools-overlay-button-hover);
    }
    &.active {
      background: var(--tools-overlay-button-active);

      .Icon {
        color: var(--selected-icon-color);
      }
    }
  }

  &.disabled {
    cursor: auto;
    .Icon {
      color: var(--disabled-text);
    }
  }

  .tools-arrow-up {
    width: 22px;
    height: 22px;
  }

  .tools-arrow-down {
    width: 22px;
    height: 22px;
    margin-top: 1px;
  }
}