@import '../../constants/styles';

.RubberStampPanel {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.isFlyout {
    padding: 8px;
    width: 264px;
    max-height: 296px;
    overflow-y: scroll;
  }

  .rubber-stamp-panel-header {
    font-size: 16px;
    font-weight: 700;
  }

  .stamp-panel-toggle-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    min-height: 36px;
    max-height: 36px;
    flex-shrink: 0;
    border: solid 1px var(--blue-5);
    border-radius: 4px;
    overflow: hidden;

    .stamp-panel-toggle-button {
      flex: 1;
      justify-content: center;
      width: auto;
      height: 34px;
      min-height: 34px;
      max-height: 34px;
      padding: 8px;
      color: var(--blue-5);
      border: none;
      border-radius: 0;
      background: transparent;

      &:not(:first-child) {
        border-inline-start: solid 1px var(--blue-5);
      }

      &:hover {
        color: var(--primary-button-hover);
        background: var(--tools-button-active);
      }

      &.active,
      &.selected {
        background: var(--tools-button-active);
        box-shadow: none;
      }
    }
  }

  .CreateRubberStampButton {
    width: 100%;
    padding: 8px;
    color: var(--blue-5);
    border: solid 1px var(--blue-5);
    border-radius: 4px;
    margin: 16px 0;
    gap: 4px;

    .Icon {
      margin-inline-end: 0;
      color: var(--blue-5);
      line {
        stroke: var(--blue-5);
      }

    }

    &:hover {
      color: var(--primary-button-hover);
      border-color: var(--primary-button-hover);

      .Icon {
        color: var(--primary-button-hover);
        line {
          stroke: var(--primary-button-hover);
        }

      }
    }
  }

  .modularCreateRubberStampButton {
    border-color: transparent;
  }

  .rubber-stamps-container {
    flex: 1;
    min-height: 0;
    overflow: auto;
    padding: 0px 4px;

    .collapsible-page-group-header {
      button {
        font-size: 14px;
        font-weight: 700;
        margin: 16px 0px;
      }
    }

    .rubber-stamps-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-top: 2px;
      padding-bottom: 16px;

      &.standard-rubber-stamps-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;
      }

      .rubber-stamp {
        @include button-reset;
        height: 48px;
        padding: 0px 8px;
        border: solid 1px var(--border);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--panel-list-item);
        flex-grow: 1;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        &:hover {
          border: solid 1px var(--blue-6);
        }

        &.active {
          border: solid 1px var(--blue-5);
          background: var(--gray-2);
        }
      }
    }
  }

  .custom-rubber-stamp-row {
    display: flex;
    align-items: center;
    gap: 8px;

    &.custom-rubber-stamps-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;
      }

    .icon-button {
      @include button-reset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        border: solid 1px var(--blue-6);
        background: var(--gray-2);
      }
    }
  }

  .rubber-stamp-panel-footer {
    display: flex;
    justify-content: center;
    height: 50px;
    border-top: 1px solid var(--gray-5);
  }

  @include mobile {
    width: 100%;

    .rubber-stamp-panel-header {
      margin: 0 16px 16px 16px;
    }

    [data-element='createRubberStampButtonWrap'] {
      padding: 0 16px;

      .CreateRubberStampButton {
        margin-top: 0;
      }
    }

    &.small-size:not(.isFlyout) {
      .CreateRubberStampButton,
      .Divider,
      .collapsible-page-group-header,
      .rubber-stamps-list-header {
        display: none;
      }
    }

    .rubber-stamps-container {
      position: relative;
      padding: 0 14px;
      padding-bottom: 16px;
      overflow-y: scroll;

      &.small-size {
        overflow: hidden;
      }

      &.isFlyout {
        overflow-y: scroll;

      }

      .rubber-stamps-list {

        .rubber-stamp,
        .icon-button {
          &:hover {
            background-color: var(--gray-0);
          }

          &.active {
            background: var(--tools-overlay-button-active);
          }
        }
      }

      .Divider {
        margin: 0;
      }
    }
  }

  &.modular-ui-panel {
    .rubber-stamps-list .rubber-stamp {
      border-color: var(--lighter-border);

      &:focus-visible {
        outline: var(--focus-visible-outline) !important;
      }
    }
  }
}