@import '../../constants/panel';

.ThumbnailsPanel {
  // !important is used otherwise it will be overriden by .LeftPanel.Panel in LeftPanel.scss
  // we should fix this to not use !important after 6.0 release
  overflow: hidden !important;
  display: flex;
  padding: 8px 0px;
  height: 100%;

  .virtualized-thumbnails-container {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbnailPlaceholder {
    margin: 0px;
  }

  .columnsOfThumbnails {
    .Thumbnail {
      display: inline-flex
    }

    .thumbnailPlaceholder {
      height: 180px;
      display: inline-flex;
    }
  }
}
