@import '../../constants/panel';

.ThumbnailsPanel {
  display: flex;
  padding: 8px 0px;
  height: 100%;

  .virtualized-thumbnails-container {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: center;
  }
}
