@import '../../constants/panel';

.ThumbnailsPanel {
  overflow: hidden;
  display: flex;

  .virtualized-thumbnails-container {
    flex: 1;
    .thumbnailsList > div{
      overflow: visible !important;
    }
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .documentControlContainer{
    bottom: 0px;
    width: calc(100%);
  }

  .thumbnailPlaceholder {
    border-color: $gray87;
    margin: 0px;
  }

  .columnsOfThumbnails {
    .Thumbnail {
      display: inline-flex
    }

    .thumbnailPlaceholder {
      height: 180px;
      display: inline-flex;
    }
  }
}
