@import '../../constants/styles';
@import '../../constants/modal';

.SignatureModal {
  @extend %modal;
  font-size: 0.9em;


  .container {
    @extend %modal-shared-container-style;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 $signature-modal-shared-color; 
    padding: 8px 8px;
    background: #fafafa;

    @include mobile {
      width: 100%;
    }

    @include tablet-and-mobile {
      @media (orientation: landscape) {
        max-height: 100%;
      }
    }
    
    .tab-panel {
      margin: 8px 0;
      height: 104px;

      >div {
        height: 100%;
      }
    }

    .divider-horizontal {
      width: auto;
      height: 1px;
      margin: 8px 0;
      background: var(--tools-divider-color);
    }



      .tab-list {
        display: flex;
        margin-bottom: 16px;
        border-radius: 4px;
        border: 1px solid #dfe2ed;
        height: 28px;
        color: #6077bf;
        margin: 8px 0;
        cursor: pointer;

        .tab-options-button {
          // flex breaks ellipsis text overflow for some reason
          // display: flex;
          // justify-content: center;
          // align-items: center;
          text-align: center;
          vertical-align: middle;
          line-height: 24px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex-grow: 1;
      
          &.active {
            background: #dfe2ed;
          }
        }
      
        .tab-options-divider {
          width: 1px;
          background: #abb0c4;
        }        

        div {
          &.selected {
            background: #dfe2ed;
          }

          // &:hover {
          //   color: $pdftron-blue;
          //   background: transparent;
          // }
        }
      }

      .ActionButton {
        margin-right: -13px;

        &:hover {
          background: transparent;

          svg {
            color: $pdftron-blue;
          }
        }
      }
    

    .footer {
      display: flex;
      margin-top: 4px;
      align-items: center;
      justify-content: space-between;

      .signature-save {
        position: relative;
        margin-left: 8px;
        user-select: none;

        input {
          display: none;

          & + label:before {
            cursor: pointer;
            content: '';
            margin: 1px 10px 0px 0px;
            display: inline-block;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid #979797;
          }

          &:checked + label:before {
            background: $pdftron-blue;
            border: 1px solid transparent;
          }

          &:checked + label:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 9px;
            background: #ffffff;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff,
              4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
            transform: rotate(45deg);
          }
        }

        label {
          display: flex;
          align-items: center;
        }
      }

      .signature-clear {
        color: #6077bf;
        padding: 0 16px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;    
        cursor: pointer;    
      }

      .signature-create {
        background: var(--button-fill);
        border-radius: 4px;
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fafafa;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background: #17324c;
          border: 1px solid #17324c;
        }
      }
    }
  }
}
