@import '../../constants/styles';
@import '../../constants/modal';

.SignatureModal {
  @extend %modal;

  .color-palette-container {
    margin-bottom: 8px;
    .ColorPalette {
      width: auto;
    }
  }

  .tab-list {
    font-size: 14px; // hack for extra area in the tab list. 13px looks bad.
  }


  @include mobile {
    background: none;
  }

  .StylePopup {
    max-width: 318px;
    .ColorPalette {
      .cell-container {
        width: 36px;
        height: 36px;
        margin: 0 13px;

        .cell-outer {
          &.active {
            width: 34px;
            height: 34px;
          }

          .cell {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 8px 8px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .StylePopup {
      border-radius: 0px;
      box-shadow: none;
    }

    .divider-horizontal {
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background: var(--divider);
    }

    .tab-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .tab-list {
      display: flex;
      margin-bottom: 16px;
      border-radius: 4px;
      border: 1px solid var(--border);
      height: 28px;
      color: var(--text-color);
      margin: 8px 0;
      width: 100%;
      cursor: pointer;

      .tab-options-button {
        // flex breaks ellipsis text overflow for some reason
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        border-radius: 0px;

        &:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:hover {
          background: var(--popup-button-hover);
        }

        &.selected {
          background: var(--popup-button-active);
        }
      }

      .tab-options-divider {
        width: 1px;
        background: var(--divider);
      }
    }

    .ActionButton {
      margin-right: -13px;

      &:hover {
        background: transparent;

        svg {
          color: $pdftron-blue;
        }
      }
    }


    .footer {
      display: flex;
      padding-top: 12px;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .signature-save {
        position: relative;
        margin-left: 8px;
        user-select: none;

        input {
          display: none;

          & + label:before {
            cursor: pointer;
            content: '';
            margin: 1px 10px 0px 0px;
            display: inline-block;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid #979797;
          }

          &:checked + label:before {
            background: $pdftron-blue;
            border: 1px solid transparent;
          }

          &:checked + label:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 9px;
            background: #ffffff;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff,
              4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
            transform: rotate(45deg);
          }
        }

        label {
          display: flex;
          align-items: center;
        }
      }

      .signature-clear {
        color: var(--secondary-button-text);
        padding: 0 16px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }

      .signature-create {
        background: var(--primary-button);
        border-radius: 4px;
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        font-weight: bold;
        cursor: pointer;

        @include mobile {
          height: 40px;
          width: 128px;
        }

        &:hover {
          background: var(--primary-button-hover);
        }
      }
    }
  }
}
