.portfolio-items {
  height: 100%;
  max-height: 446px;
  overflow-y: auto;
  margin: 16px;
  padding: 16px;
  background-color: var(--faded-component-background);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .portfolio-item {
    width: 130px;
    height: 182px;
    padding: 12px 24px;
    background-color: #F8F9FA;
    border: 1px solid #E7EDF3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .portfolio-item-preview {
      width: 100%;
      height: 104px;
      border: 1px solid #E7EBEE;

      .preview-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .Icon {
          color: #ADB5BD;
        }
      }
    }

    .portfolio-item-name {
      margin: 8px 0;
      height: 12px;
      font-size: 10px;
      max-width: 90px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #485056;
    }

    .Button {
      width: 24px;
      height: 24px;

      .Icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
