@import '../../constants/styles.scss';
@import '../../constants/popup';

.ColorPickerOverlay {
  @extend %popup;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 var(--document-box-shadow);
  background: var(--component-background);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
