@import '../../constants/styles';
@import '../../constants/overlay';

.MenuOverlay {
  @extend %overlay;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--tools-overlay-border);
  border-radius: 4px;
  background: var(--tools-overlay-background);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.02);
  padding: 6px 0;
  font-size: 14px;

  .row {
    width: 100%;
    margin: 2px 0;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 18px;
    cursor: pointer;

    &:hover {
      background: #767f9b33;
    }

    .MenuItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;

      .MenuIcon {
        margin: 4px;
      }

      .MenuLabel {
        margin: 0 4px;
      }
    }
  }

  .Button {
    justify-content: left;
    width: 100%;
    margin: 0;
  }
}
