@import '../../constants/styles';
@import '../../constants/overlay';

.MenuItem {
  @include button-reset;
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;

  .MenuIcon {
    margin: 4px;
  }

  .MenuLabel {
    margin: 0 4px;
  }
}
