@import '../../constants/styles';

.Icon{
  font-size: 13px;
  width: 22px;
  height: 22px;
  pointer-events: none;
  color: var(--icon-color);

  // color for svgs
  path:not([fill*="#"]),
  rect:not([fill*="#"]),
  polygon:not([fill*="#"]) {
    fill: currentColor;
  }

  path[fill=default] {
    fill: var(--icon-color);
  }

  path[fill=none],
  rect[fill=none],
  polygon[fill=none] {
    fill: none;
  }
}
