@import '../../constants/styles';

.Icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
  color: var(--icon-color);

  // color for svgs
  path:not([fill*="#"]),
  rect:not([fill*="#"]),
  polygon:not([fill*="#"]) {
    fill: currentColor;
  }

  &:not(.disabled) {
    path[fill=default] {
      fill: var(--icon-color);
    }
  }

  &.disabled {
    fill: var(--disabled-icon);
  }

  path[fill=none],
  rect[fill=none],
  polygon[fill=none] {
    fill: none;
  }

  path[fill=fill],
  rect[fill=fill],
  polygon[fill=fill] {
    fill: none;
  }

  &.F-F1A099 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#F1A099;
    }
  }

  &.F-FFC67B {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#FFC67B;
    }
  }

  &.F-FFE6A2 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#FFE6A2;
    }
  }

  &.F-80E5B1 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#80E5B1;
    }
  }

  &.F-92E8E8 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#92E8E8;
    }
  }

  &.F-A6A1E6 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#A6A1E6;
    }
  }

  &.F-E2A1E6 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#E2A1E6;
    }
  }

  &.F-E44234 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#E44234;
    }
  }

  &.F-FF8D00 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#FF8D00;
    }
  }

  &.F-FFCD45 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#FFCD45;
    }
  }

  &.F-00CC63 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#00CC63;
    }
  }

  &.F-25D2D1 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#25D2D1;
    }
  }

  &.F-4E7DE9 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#4E7DE9;
    }
  }

  &.F-C544CE {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#C544CE;
    }
  }

  &.F-88271F {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#88271F;
    }
  }

  &.F-B54800 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#B54800;
    }
  }

  &.F-F69A00 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#F69A00;
    }
  }

  &.F-007A3B {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#007A3B;
    }
  }

  &.F-167E7D {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#167E7D;
    }
  }

  &.F-2E4B8B {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#2E4B8B;
    }
  }

  &.F-76287B {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#76287B;
    }
  }

  &.F-FFFFFF {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#FFFFFF;
    }
  }

  &.F-CDCDCD {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#CDCDCD;
    }
  }

  &.F-9C9C9C {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#9C9C9C;
    }
  }

  &.F-696969 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#696969;
    }
  }

  &.F-272727 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#272727;
    }
  }

  &.F-000000 {
    path[fill=fill],
    rect[fill=fill],
    polygon[fill=fill] {
      fill:#000000;
    }
  }
}
