@import '../../constants/styles';

.Icon{
  width: 24px;
  height: 24px;
  pointer-events: none;
  color:  #8c8c8c;
  color: var(--icon-color);

  path:not([fill=none]),
  polygon#Triangle {
    fill: currentColor;
  }
}
