@import '../../constants/styles';

.Icon{
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: var(--icon-color);

  path:not([fill=none]), 
  rect:not([fill=none]) {
    fill: currentColor;
  }
}
