@import '../../constants/styles';

.Icon {
  width: 22px;
  height: 22px;
  pointer-events: none;
  color: var(--icon-color);

  // color for svgs
  path:not([fill*="#"]),
  rect:not([fill*="#"]),
  polygon:not([fill*="#"]) {
    fill: currentColor;
  }

  &:not(.disabled) {
    path[fill=default] {
      fill: var(--icon-color);
    }
  }

  &.disabled {
    fill: var(--disabled-icon);
  }

  path[fill=none],
  rect[fill=none],
  polygon[fill=none] {
    fill: none;
  }

  path[fill=fill],
  rect[fill=fill],
  polygon[fill=fill] {
    fill: none;
  }

}
