@import '../../constants/styles';

.Icon{
  width: $icon-width;
  height: $icon-height;
  pointer-events: none;
  color:  #8c8c8c;
  color: var(--icon-color);

  @include mobile {
    width: 18px;
    height: 18px;
  }

  path:not([fill=none]),
  polygon#Triangle {
    fill: currentColor;
  }
}
