@import '../../constants/styles';
@import '../../constants/modal';

.ProgressModal {
  @extend %modal;
  background: var(--spinner-negative-space);

  &.open {
    opacity: 1;
    transition: opacity 1s 2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:999;
  }

  &.closed {
    opacity: 0;
  }

  .progress-ring__fill {
    transition: 0.35s stroke-dashoffset;
    // axis compensation
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    // axis compensation
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  svg {
    circle {
      fill: transparent;
      stroke-width: 4;

      &.progress-ring__fill {
        stroke: var(--slider-background);
      }

      &.progress-ring__circle {
        stroke: var(--slider-filled);
      }

    }
  }
}
