@import '../../constants/styles';
@import '../../constants/overlay';

.PageNavOverlay {
  // // bottom: 10px;
  // // left: 10px;
  // padding: 10px;
  height: 32px;
  font-family: 'Carlito';
  font-weight: bold;
  font-size: var(--font-size-small);
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  .down-arrow-container {
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;

    &:hover {
      background: #767f9b33;
    }

    .down-arrow {
      width: 16px;
      height: 16px;
    }
  }

  .formContainer {
    top: -1px;
    position: relative;
  }

  input {
    width: 8px;
    padding: 0;
    border: none;
    text-align: right;
    font-size: var(--font-size-small);
    font-family: 'Carlito';
    font-weight: bold;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
  }
}
