@import '../../constants/styles';
@import '../../constants/overlay';

.PageNavOverlay {
  height: 32px;
  font-family: 'Carlito';
  font-weight: bold;
  font-size: var(--font-size-small);
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;

  @include mobile {
    position: fixed;
    left: 50%;
    bottom: 24px;  
    top: auto;  
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    background: var(--light-background);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgb(195, 198, 212);    
    font-size: 16px;
    z-index: 55;
  }

  .down-arrow-container {
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;

    &:hover {
      background: var(--button-hover1);
    }

    .down-arrow {
      width: 16px;
      height: 16px;

      @include mobile {
        width: 20px;
        height: 20px;
      }      
    }
  }

  .formContainer {
    top: -1px;
    position: relative;

    input {
      min-width: 8px;
      padding: 0;
      border: none;
      text-align: right;
      font-size: var(--font-size-small);
      font-family: 'Carlito';
      font-weight: bold;
      background: transparent;
      color: var(--text-color);
      cursor: pointer;
      outline: none;
      border-bottom: 1px solid var(--text-color);

      @include mobile {
        font-size: 16px;
      }
    }    
  }


}
