@import '../../constants/styles';
@import '../../constants/overlay';

.PageNavOverlay {
  height: 32px;
  font-family: 'Lato';
  font-weight: bold;
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;

  // position: fixed;
  left: 50%;
  bottom: 24px;
  top: auto;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  background: var(--component-background);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px var(--box-shadow);
  z-index: 55;

  .side-arrow-container {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 0 4px;
    padding: 0 4px;

    &:hover {
      background: var(--view-header-button-hover);
    }

    .side-arrow {
      width: 16px;
      height: 16px;
    }
  }

  .formContainer {
    height: 100%;
    display: flex;
    align-items: center;

    form {
      top: -1px;
      position: relative;
      input {
        min-width: 8px;
        padding: 0;
        border: none;
        text-align: right;
        font-family: 'Lato';
        font-weight: bold;
        background: transparent;
        color: var(--text-color);
        cursor: pointer;
        outline: none;
        border-bottom: 1px solid var(--icon-color);
        border-radius: 0px;
      }
    }
  }
}
