@import '../../constants/styles';
@import '../../constants/modal';

.PageReplacementModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 20px 16px 16px 16px;
    background: var(--component-background);
    width: 888px;

    @include tablet {
      width: 625px;
      .modal-body-container {
        width: 609px;
      }
    }
    .Button {
      height: 100%;
    }

    .page-replacement-divider {
      border-top: 1px solid var(--divider);
      margin: 21px 0px 16px -16px;
      width: inherit;

      @include mobile {
      margin: 16px 0px 16px -25px;
      min-width: 640px;
      }

    }

    @include mobile {
    box-sizing: border-box;

      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;
      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }

      .modal-body-container {
        max-height: 350px;
        width: 100%;
      }
    }

    &.tabs {
      width: 479px;
      height: 436px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }

    .footer {
      margin-top: 0px;
      justify-content: flex-end;

      &.isFileSelected {
        justify-content: space-between;
      }

      .deselect-thumbnails {
        @include button-reset;
        color: var(--secondary-button-text);
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }

        &.disabled {
          visibility: hidden
        }
      }
      .modal-btn {
        @include button-reset;
        background: var(--primary-button);
        border-radius: 4px;
        padding: 0 20px;
        height: 32px;
        width: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        font-weight: bold;
        cursor: pointer;

        @include mobile {
          height: 40px;
          width: 100px;
        }

        &:hover {
          background: var(--primary-button-hover);
        }
      }
      .modal-btn.noFile  {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .modal-body {
      height: unset;
      display: flex;
      flex-direction: column;

      .modal-body-container {
        height: 350px;
        width: 856px;
        padding: 16px 0px 16px 16px;
        border-radius: 4px;
        overflow: auto;
        background-color: var(--gray-2);

        &.isLoading {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .tab-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .panel-body {
        width: 100%;
        height: 240px;
        position: relative;
        border-radius: 4px;
        background: var(--faded-component-background);
      }
    }

    .tab-list {
      display: flex;
      margin-bottom: 1px;
      border-radius: 4px;
      border: 1px solid var(--border);
      height: 28px;
      color: var(--text-color);
      width: 100%;
      .tab-options-button {
        @include button-reset;
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        border-radius: 0px;
        cursor: pointer;

        &:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:hover {
          background: var(--popup-button-hover);
        }

        &.selected {
          background: var(--popup-button-active);
          cursor: default;
        }
      }

      .tab-options-divider {
        width: 1px;
        background: var(--divider);
      }
    }
  }
}