@import '../../constants/styles';
@import '../../constants/modal';
@import "../../constants/tabs";

.PageReplacementModal, .FileModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    @extend %modal-shared-container-style-mobile;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 20px 16px 16px 16px;
    background: var(--component-background);
    width: 888px;

    @include tablet {
      width: 625px;

      .modal-body-container {
        width: 609px;
      }
    }

    .Button {
      height: 100%;
    }

    .page-replacement-divider {
      border-top: 1px solid var(--divider);
      margin: 21px 0px 16px 0px;
      width: 100%;
    }

    @include mobile {
      box-sizing: border-box;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;

      .modal-body-container {
        max-height: 350px;
        width: 100%;
      }
    }

    &.tabs {
      width: 479px;
      height: 436px;

      @include mobile {
        height: 450px;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }

    .footer {
      margin-top: 0px;
      justify-content: flex-end;

      &.isFileSelected {
        justify-content: space-between;
      }

      .deselect-thumbnails {
        @include button-reset;
        color: var(--secondary-button-text);
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }

        &.disabled {
          visibility: hidden
        }
      }

      .modal-btn {
        @include button-reset;
        background: var(--primary-button);
        border-radius: 4px;
        padding: 0 20px;
        height: 32px;
        width: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        font-weight: bold;
        cursor: pointer;

        @include mobile {
          height: 40px;
          width: 100px;
        }

        &:hover {
          background: var(--primary-button-hover);
        }
      }

      .modal-btn.noFile {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .modal-body {
      height: unset;
      display: flex;
      flex-direction: column;

      .modal-body-container {
        height: 350px;
        width: 856px;
        padding: 16px 0px 16px 16px;
        border-radius: 4px;
        overflow: auto;
        background-color: var(--gray-2);

        &.isLoading {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    @extend %tab-panel;

    .tab-panel .panel-body {
      width: 100%;
      height: 240px;
      position: relative;
      border-radius: 4px;
      background: var(--faded-component-background);
    }

    .tab-list {
      margin-bottom: 1px;

      .tab-options-button {
        @include button-reset;
      }
    }

    @extend %tab-list;
  }
}
