@import '../../constants/styles';
@import '../../constants/panel';

.search-panel-container {
  z-index: 65;
  @include mobile {
    z-index: 95;
  }
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;

  @include mobile {
    position: fixed;
    top: 0;
    right: 0;  
    height: 100%;
    width: 100%;
  }  
}

.SearchPanel {
  padding-top: 0px;
  padding-left: 16px;
  padding-bottom: 0px;  
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 8px;
  // Needed
  overflow: hidden; // https://stackoverflow.com/questions/1260122/expand-a-div-to-fill-the-remaining-width  
  
  padding-top: 16px;

  .ListSeparator:first-child {
    margin-top: 0px;
  }


  @include mobile {
    padding-top: 0px;
    
    .close-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 64px;

      width: 100%;
      padding-right: 12px;

      .close-icon-container {
        cursor: pointer;
        .close-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .results {
    overflow-y: auto;
    padding-right: 18px;
    flex: 1;
    
    &.wild-card-visible {
      margin-top: 110px !important;
    }
  }

  .loader-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .info {
    padding: 15px 0;
  }
}
