@import '../../constants/styles';
@import '../../constants/panel';

.search-panel-container {
  z-index: 65;
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;

  @include mobile {
    position: fixed;
    top: 0;
    right: 0;  
    height: 100%;
    width: 100%;
  }  
}

.SearchPanel {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 0px;  
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 8px;

  .results {
    overflow-y: auto;
    padding-right: 18px;
    &.wild-card-visible {
      margin-top: 110px !important;
    }
  }

  .loader-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .info {
    padding: 15px 0;
  }
}
