@import '../../constants/styles';
@import '../../constants/panel';

.search-panel-container {
  z-index: 65;
  @include mobile {
    z-index: 95;
  }
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  @include tablet {
    border-left: 1px solid var(--side-panel-border);
  }

  @include mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}

.SearchPanel {
  padding-top: 0px;
  padding-left: 16px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  // Needed
  // overflow: hidden; // https://stackoverflow.com/questions/1260122/expand-a-div-to-fill-the-remaining-width

  padding-top: 16px;

  .ListSeparator:first-child {
    margin-top: 0px;
  }


  @include mobile {
    width: 100%;
    min-width: 100vw;
    padding-top: 0px;

    .close-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 64px;

      width: 100%;
      padding-right: 12px;

      .close-icon-container {
        @include button-reset;
        cursor: pointer;
        .close-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .results {
    overflow-y: auto;
    overflow-y: overlay;
    flex: 1;

    &.wild-card-visible {
      margin-top: 110px !important;
    }

    .ReactVirtualized__List{
      overflow: overlay !important;
      padding-right: 16px;

      &:focus{
        outline: none;
      }

      width: auto !important;

      .ReactVirtualized__Grid__innerScrollContainer {
        max-width: unset !important;
      }
    }
  }

  .loader-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .info {
    padding: 15px 0;
  }
}
