@import '../../constants/styles';
@import '../../constants/panel';

.search-panel-container {
  display: flex;
  flex-direction: row;
}

.SearchPanel {
  @extend %right-panel;
  position: static;
  visibility: visible !important;
  overflow: hidden !important;
  padding-right: 8px;
  flex: 1;

  .results {
    overflow-y: auto;
    padding-right: 18px;
    &.wild-card-visible {
      margin-top: 110px !important;
    }
  }

  .loader-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .info {
    padding: 15px 0;
  }
}
