@import '../../constants/styles';
@import '../../constants/panel';

.SearchPanel {
  @extend %right-panel;

  .results {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-top: 80px !important;
  }

  .loader-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .info {
    padding: 15px 0;
    font-size: 0.8em;
  }

  .close-btn {
    @include mobile {
      display: flex;
      align-self: flex-end;
    }
  }
}