@import '../../constants/styles';
@import '../../constants/modal';

@mixin mobileWidth {
  @include mobile {
    width: 100%;
  }
}

.PrintModal {
  @extend %modal;

  .modal-container {
    width: 480px;

    .settings {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 24px;

      .ui__choice {
        margin: 10px 4px 4px 0;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--divider);
    }

    .section {
      padding-bottom: 16px;

      &.watermark-section {
        padding-bottom: 0;
      }

      .section-label{
        font-weight: 700;
      }

      .printQualitySelectLabel {
        display: grid;
        padding: 4px 0px;

        .printQualitySelect{
          width:216px;
          height:30px;
          margin-top:5px;

          @include mobileWidth;
        }
      }
    }

    label {
      padding: 2px 0 2px 4px;
    }

    input[type='text'] {
      width: 100%;
      height: 30px;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-bottom: 6px;
      padding-right: 42px;
      padding-top: 4px;
      margin-top: 6px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .total {
      display: flex;
      flex-direction: row;
      padding-top: 4px;
      color: var(--text-color);
    }

    .background {
      width: 100%;
      height: 10px;
      transform: translateY(-50%);
      fill: #e2f3fe;
    }

    .progress {
      height: 10px;
      transform: translateY(-50%);
      fill: #077bc5;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      padding: 20px;

      .button {
        @include button-reset;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-button-text);
        padding: 6px 18px;
        width: auto;
        width: fit-content;
        background: var(--primary-button);
        border-radius: 4px;
        border: 0px;
        height: 32px;
        cursor: pointer;
        font-size: 13px;

        &:hover {
          background: var(--primary-button-hover);
        }
      }
    }

    .specify-pages-choice {
      margin-bottom: 18px;

      input {
        width: 195px;

        @include mobileWidth;
      }

      label {
        display: grid;

        @include mobileWidth;
      }

      &.ui__choice--checked {
        align-items: baseline;
      }
    }

    .apply-watermark {
      @include button-reset;
      cursor: pointer;
      margin-top: 10px;
      background: none;
      border: 1px solid var(--secondary-button-text);
      border-radius: 4px;
      color: var(--secondary-button-text);
      padding: 6px 16px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;

      &:hover {
        color: var(--secondary-button-hover);
      }
    }
  }
}
