@import '../../constants/styles';
@import '../../constants/modal';

.PrintModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 16px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .settings {
      display: flex;
      flex-direction: column;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--divider);
      margin: 16px 0;
    }

    .col {
      padding: 8px;
    }

    .settings-form {
      padding: 8px;
    }

    label {
      padding: 2px 0 2px 4px;
    }

    input[type='text'] {
      width: 100%;
      height: 30px;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-bottom: 6px;
      padding-right: 42px;
      padding-top: 4px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }
    .printQualitySelect{
      width:100%;
      height:30px;
      margin-top:5px;
    }

    .total {
      display: flex;
      flex-direction: row;
      padding: 0px 8px;
      color: #aaa;
    }

    .background {
      width: 100%;
      height: 10px;
      transform: translateY(-50%);
      fill: #e2f3fe;
    }

    .progress {
      height: 10px;
      transform: translateY(-50%);
      fill: #077bc5;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;

      .button {
        @include button-reset;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-button-text);
        padding: 6px 18px;
        width: auto;
        width: fit-content;
        background: var(--primary-button);
        border-radius: 4px;
        border: 0px;
        height: 32px;
        cursor: pointer;
        font-size: 13px;

        &:hover {
          background: var(--primary-button-hover);
        }
      }
    }

    .apply-watermark {
      @include button-reset;
      cursor: pointer;
      margin-top: 16px;
      background: none;
      border: 0;
      width: 100%;
      color: var(--secondary-button-text);
      padding: 6px 16px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;

      &:hover {
        color: var(--secondary-button-hover);
      }
    }

    .header-container {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }

    .header {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
}
