@import '../../constants/styles';
@import '../../constants/modal';

.PrintModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    background: var(--component-background);
    box-shadow: 0 0 3px 0 var(--document-box-shadow);

    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 10px;

    .settings {
      display: flex;
      flex-direction: row;
    }

    .col {

      &:first-child {
        width: 70px;
      }

      &:last-child {
        flex: 1;
      }
    }

    label {
      display: block;
      margin: 0 0 5px 20px;
      cursor: pointer;
    }

    input[type='text'] {
      width: 100%;
    }

    .total {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex: 1;
      padding: 5px 0;
      font-size: 0.9em;
      color: #aaa;
    }

    .background {
      width: 100%;
      height: 10px;
      transform: translateY(-50%);
      fill: #E2F3FE;
    }

    .progress {
      height: 10px;
      transform: translateY(-50%);
      fill: #077BC5;
    }

    .buttons {
      display: flex;
      width: 100%;
      margin: 10px 0 0;
      padding: 10px 0 0;
      border-top: 1px solid $gray12;
      border-top: 1px solid var(--border-color);
      box-sizing: border-box;

      .button {
        color: white;
        border: 1px solid $pdftron-blue;
        background: $pdftron-blue;
        border-radius: 4px;
        padding: 6px 18px;
        cursor: pointer;
      }
    }

    .apply-watermark {
      cursor: pointer;
      color: $pdftron-blue;
      background: white;
      border-radius: 4px;
      border: 1px solid $pdftron-blue;
      padding: 6px 18px;
    }

    .header-container {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }

    .header {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
}
