@import '../../constants/styles';
@import '../../constants/modal';

.PasswordModal {
  @extend %modal;

  .modal-container {
    width: 480px;

    .wrapper {

      form {
        padding: 16px;
        font-size: 14px;
      }

      .incorrect-password {
        margin-top: 6px;
        font-size: 13px;
        color: #CF0101;
      }

      .modal-button {
        margin-top: 0;
      }
      .error-modal-content {
        padding: 2px 16px;
      }
    }
  }
}

