@import '../../constants/styles';
@import '../../constants/modal';

.PasswordModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--component-background);
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);

    .wrapper {
      align-self: stretch;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      .header {
        font-size: 16px;
        font-weight: 700;
      }

      .enter {
        margin-top: 22px;
        font-size: 14px;

        input {
          margin-top: 8px;
          width: 100%;
          border: none;
          outline: none;

          &.correct {
            border-bottom: 2px solid #00a5e4;
          }

          &.wrong {
            border-bottom: 2px solid red;
          }
        }
      }

      .incorrect-password {
        margin-top: 2px;
        font-size: 14px;
        color: red;
      }


      .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin-top: 13px;
      }

      // TODO: Refactor this into reuseable
      .cancel-button {
        color: var(--secondary-button-text);
        padding: 6px 18px;
        margin-top: 8px;
        margin-right:15px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }

      .confirm-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-button-text);
        font-weight: 600;
        padding: 6px 18px;
        margin-top: 8px;
        margin-left: 5px;
        width: fit-content;
        background: var(--primary-button);
        border-radius: 4px;
        height: 30px;
        cursor: pointer;

        &:hover {
          background: var(--primary-button-hover);
        }
      }
    }
  }
}