.shortcut-table-header {
  border: 1px var(--border) solid;
  border-bottom: 0px;
  padding: 12px 16px;
  display: flex;
  font-weight: bold;
  position: relative;

  .shortcut-table-header-command {
    width: 220px;
  }

  .shortcut-table-header-action {
    position: absolute;
    right: 16px;
  }
}

.shortcut-table-content {
  border: 1px var(--border) solid;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;

  .shortcut-table-item {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;

    .shortcut-table-item-command {
      color: #868E96;
      width: 220px;

      span:not(:last-child) {
        margin-right: 8px;
      }
    }

    .shortcut-table-item-description {
      width: 380px;
    }

    button {
      position: absolute;
      right: 0px;
      height: 20px;
      width: 20px;
    }
  }
}
