@import "../../constants/styles";
@import "../../constants/modal";

.SettingsModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    @extend %modal-shared-container-style-mobile;

    display: flex;
    flex-direction: column;
    width: 888px;
    height: 445px;

    .header {
      display: flex;
      flex-direction: column;
      padding: 16px;
      font-size: 16px;
      font-weight: bold;
      align-items: center;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        height: 32px;
        padding: 8px;
      }
    }

    .body {
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;

      .settings-tabs-container {
        width: 168px;
        background-color: var(--panel-background);
        flex-shrink: 0;

        .settings-tabs {
          .settings-tab {
            height: 32px;
            margin-top: 4px;
            display: flex;
            align-items: center;
            padding: 8px;
            color: var(--gray-8);
            cursor: pointer;

            &:hover {
              background-color: var(--blue-1);
            }

            &.selected {
              background-color: var(--blue-2) !important;
              border-right: 2px var(--blue-5) solid;
              color: var(--blue-6);
              cursor: default;
            }
          }
        }
      }

      .settings-content {
        padding: 16px;
        overflow-y: scroll;
        width: 100%;

        .setting-section {
          margin-bottom: 16px;

          .setting-label {
            font-weight: bold;
            margin-bottom: 8px;
          }
        }
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--divider);
    }

    @include mobile {
      height: 100%;

      .body {
        flex-direction: column;

        .settings-tabs-container {
          width: 100%;
          position: fixed;

          .settings-tabs {
            display: flex;

            .settings-tab {
              flex: 1;
              height: 32px;
              margin-top: 0px;
              justify-content: center;
              white-space: nowrap;
              min-width: 0;

              &.selected {
                border-right: 0px;
                border-bottom: 2px var(--blue-5) solid;
              }
            }
          }
        }

        .settings-content {
          margin-top: 32px;

          &.KeyboardShortcutTab {
            overflow-x: scroll;
            width: 640px;
          }
        }
      }
    }
  }
}
