@import '../../constants/styles';

.NoteState  {
  @include button-reset;
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  padding-left: 15px;
  padding-right: 10px;

  .overflow {
    width: 28px;
    height: 28px;
    border-radius: 4px;

    .Icon {
      margin: 4px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: var(--blue-1)
    }

    &.active {
      background: var(--popup-button-active);
    }
  }

  .Button {
    &.active {
      background: var(--popup-button-active);
    }
  }

  .note-state-options {
    @include button-reset;
    top: 40px;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px var(--box-shadow);
    z-index: 80;
    position: absolute;
    border-radius: 4px;
    background: var(--component-background);

    .note-state-option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 35px;
      padding: 8px;
      border-radius: 0px;

      .Icon {
        margin-right: 5px;
        width: 18px;
        height: 18px;
      }

      &:hover {
        background-color: var(--popup-button-hover);
      }

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
