@import '../../constants/styles';

.NoteState  {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  padding-top: 8px;
  padding-left: 15px;
  right: -10px;
  top: -8px;

  .overflow {
    .Icon {
      width: 18px;
      height: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px var(--box-shadow);
    z-index: 80;
    position: absolute;
    border-radius: 4px;
    background: var(--component-background);

    .option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 35px;
      padding: 8px;
      border-radius: 0px;

      .Icon {
        margin-right: 5px;
        width: 18px;
        height: 18px;
      }

      &:hover {
        background-color: var(--popup-button-hover);
      }      

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
  
      &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }      
    }
  }
}
