@import '../../constants/styles';
@import '../../constants//overlay';

.AnnotationOverlay {
  @extend %overlay;
  
  width: 215px;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  overflow-wrap: break-word;

  .author {
    font-weight: bold;
  }
}