@import '../../constants/styles.scss';
@import '../../constants/popup';

.AnnotationPopup {
  @extend %popup;

  @include mobile {
    // style popup in the mobile view will be placed at the bottom of the viewport
    // so we need to set the padding to 0px otherwise we will see a little circle under the selected annotation
    &.stylePopupOpen {
      padding: 0px;
    }
  }
}
