@import '../../../constants/styles';

.RightHeader {
  width: $right-header-width;
  min-width: fit-content;
  z-index: 63;
  padding: 12px 8px;
}

.RightHeader.closed {
  display: none;
}

.RightHeader.stroke {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--gray-5);
}

.RightHeaderNav {
  display: flex;
  order: 2;
  margin-inline-start: auto;
}
