@import '../../../constants/styles';

.RightHeader {
  height: 100%;
  width: $right-header-width;
  min-width: fit-content;
  z-index: 63;
  padding: 12px 8px;
}

.RightHeader.closed {
  display: none;
}

.RightHeader.stroke {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--gray-5);
}