@import '../../constants/styles';
@import '../../constants/overlay';

.RedactionSearchOverlay {

  input {
    width: 100%;
    padding: 6px;

    &::placeholder {
      color: var(--placeholder-text);
    }
  }
}