@import '../../constants/styles';
@import '../../constants/overlay';

.RedactionSearchOverlay {
  
  @include mobile {
    margin-left: 16px;
    margin-right: 16px;
  }

  input {
    width: 100%;
    padding: 6px;
  }

  .creatable-multi-select-label {
    @include mobile {
      font-size: 13px;
    }
  }
}