@import '../../constants/styles';
@import '../../constants/overlay';

.RedactionSearchOverlay {
  @include mobile {
    margin-inline-start: 16px;
    margin-inline-end: 16px;
  }

  input {
    width: 100%;
    padding: 6px;
  }

  .creatable-multi-select-label {
    @include mobile {
      font-size: 13px;
    }
  }
}
