.DraggableContainer {
  &.is-in-editor-mode {
    border: dashed 1px var(--gray-4);
  }
  display: flex;
  align-items: center;
  position: relative;

  &.is-container {
    border: solid 1px var(--blue-5);
    padding: 1px;
  }

  .DraggableContainer__handle {
    .Icon {
      width: 16px;
      height: 16px;
      
      &.is-container-handle {
        width: 22px;
        height: 22px;
        color: var(--blue-5);
      }
    }
  }

  &.is-divider {
    padding-right: 4px;
  }

  .corner-delete-button {
    position: absolute;
    top: -10px;
    right: -10px;

    .DraggableContainer__close {
      width: 25px;
      height: 25px;
      color: #fff;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .DraggableContainer__handle {
    cursor: pointer;
  }
}