@import '../../constants/styles';

.OutlineControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--padding);
  margin-right: var(--padding);
  border-bottom: 1px solid var(--border);
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--faded-text);

  .Button {
    height: 30px;
    padding: 0px;
    width: 30px;
    margin: 0px 4px;

    .Icon {
      height: 24px;
      width: 24px;
      color: var(--icon-color);
    }

    &:hover {
      background: var(--view-header-button-hover);
      border-radius: 4px;
    }
  }
}