@import '../../constants/styles';
@import '../../constants/modal';
@import '../../constants/popup.scss';

.SnippingToolPopup {
  width: 250px;

  .snipping-section {
    padding: 16px;
    display: flex;
    flex-direction: column;

    .ui__choice {
      margin: 0;
    }

    .ui__choice:not(:last-of-type) {
      padding-bottom: 12px;
    }
  }

  .menu-title {
    padding-bottom: 16px;
    font-weight: bold;
  }

  .crop-inactive {
    color: var(--gray-6);
  }

  .Icon {
    height: 18px;
    width: 18px;
  }

  .divider {
    border-top: 1px solid var(--divider);
    width: 100%;
  }

  .buttons {
    padding: 12px;
    text-align: right;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }

  .save-button {
    color: var(--primary-button-text);
    padding: 6px 16px;
    background: var(--primary-button);
    border-radius: 4px;
    border: 0;
    height: 32px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  .cancel-button {
    cursor: pointer;
    background: none;
    border: 0;
    color: var(--secondary-button-text);
    padding: 6px 16px;
    margin-right: 4px;
    height: 32px;
    &:hover {
      color: var(--secondary-button-hover);
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      opacity: 0.5;
      cursor: auto;
      color: var(--secondary-button-text);
    }
  }
}

.custom-select {
  flex-grow: 2;
  max-width: 100%;
  margin: 4px;

  .customSelector {
    margin-left: 0;
    height: 28px;
    width: 100% !important;

    .customSelector__selectedItem {
      width: 100%;
    }

    ul {
      width: 100%;
    }

    .customSelector__arrow {
      height: 18px;
      width: 18px;
    }
  }

  select {
    height: 28px;
    width: 100%;
  }
}

.SnippingPopupContainer {
  @extend %popup;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 var(--document-box-shadow);
  background: var(--component-background);
  top: 0;

  @include mobile {
    width: 100%;
    position: fixed;
    bottom: 0 !important;
    border-radius: 0;
    justify-content: start;
    top: auto;

    .snipping-mobile-section {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .SnippingToolPopup {
      width: 100%;
    }
    
    .snipping-mobile-container {
      display: flex;
      align-items: center;

      .customSelector {
        width: 100%;
      }  

      .Dropdown {
        height: 32px;
        min-width: 150px;
        width: 100% !important;

        .arrow {
          flex: 0 1 auto;
        }

        .picked-option .picked-option-text {
          width: 150px;
          text-align: left;
        }
      }

      .Dropdown__items {
        top: -52px;
        z-index: 80;
        width: 100%;
      }

      .wrapper {
        z-index: 79;
      }
    
      .save-button {
        margin-left: 6px;
        min-width: 75px;
      }
    }
    .cancel-button {
      padding: 0;

      .Icon {
        width: 24px;
        height: 24px;
      }
    }

    .snipping-selector {
      width: 100%;
      display: flex;
    }

    @media (max-width: 430px) {
      .snipping-selector {
        display: block;
      }
    }
  }
}
