@import '../../constants/styles';

.ListSeparator {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: 'Carlito';
  font-weight: bold;
  user-select: none;
}


.note-wrapper:first-child {
  .ListSeparator {
    margin-top: 0px;
  }
}
