@import '../../../constants/styles';

.mention-element {
  width: 100%;
}

.mention {
  &__control {
    background: var(--component-background);
    font-size: 14px;
    font-weight: normal;
    border: 1px solid var(--border);
    border-radius: 4px;
  }

  &__highlighter {
    overflow: hidden;
    padding: 5px;
  }

  &__input {
    border: none;
  }

  &__suggestions {
    background-color: var(--component-background)!important;
    border: 1px solid var(--border);
    border-radius: 4px;

    &__list {
      font-size: 14px;
    }

    &__item {
      padding: 8px;
      background-color: var(--component-background);

      .email {
        margin-top: 2px;
        font-size: 12px;
        color: var(--faded-text);
      }

      &--focused {
        background-color: var(--popup-button-hover);
        cursor: pointer;
      }

      &__highlight {
        background-color: #face0080;
        font-weight: normal;
      }
    }
  }
}
