@import '../../constants/styles';

.StylePicker {
  display: flex;
  flex-direction: column;

  .slider-property {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px !important;
  }

  .StyleOption {
    margin-bottom: 16px;

    .styles-container {
      .styles-title {
        margin: 0 0 8px 0;
        font-size: 14px;
        font-weight: bold;
      }

      [data-element="borderStylePicker"] {
        margin-top: 8px;
      }
    }

    .slider {
      &:only-child {
        margin-bottom: 0;
      }

      .slider-element-container {
        margin-left: -3px;
      }
    }
  }

  .StyleOption:last-child {
    margin-bottom: 0;
  }

  .PanelSection {
    margin-bottom: 16px;

    .PanelSubsection {
      margin-bottom: 12px;

      .menu-subtitle {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
      }
    }

    .collapsible-menu {
      width: 100%;
      display: flex;
      cursor: pointer;
      position: relative;
      align-items: center;
      margin-bottom: 16px;

      .menu-title {
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: bold;
        font-size: 16px;
      }

      .icon-container {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 28px;
        min-height: 28px;
        border-radius: 4px;

        .Icon {
          height: 18px;
          width: 18px;
          color: var(--icon-color);
        }

        &:hover {
          background: var(--view-header-button-hover);
        }
      }
    }

    .divider {
      background-color: var(--divider);
      width: 100%;
      height: 1px;
    }

    .menu-items {
      margin-bottom: 16px;

      &:only-child {
        margin-bottom: 0;
      }

      .ColorPalette {
        margin-bottom: 8px;
      }
    }

    .slider {
      &:last-child {
        margin-bottom: 0px;
      }

      margin-bottom: 16px;
    }

    &:last-child,
    &:empty {
      margin-bottom: 0px;
    }
  }

  .spacer {
    width: 100%;
  }

  .overlay-text-input,
  .Dropdown,
  .FontSizeDropdown {
    height: 32px;
  }

  .lineStyleContainer {
    .StylePicker-LineStyle {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
      justify-content: space-between;

      button {
        &.Dropdown {
          width: 100% !important;
        }
      }

      .Dropdown__items {
        width: 100%;
      }

      .Dropdown__wrapper {
        width: 100%;
      }

      .linestyle-image svg {
        width: 35px;
        margin-top: 11px;
      }

      .linestyle-image.shift-alignment svg {
        margin-top: 8px;
      }

      .Dropdown__items .linestyle-image svg {
        width: 45px;
      }

      [data-element="middleLineStyleDropdown"] .linestyle-image.shift-alignment {
        padding-top: 0;

        svg {
          margin-top: 11px;
        }
      }

      [data-element="middleLineStyleDropdown"] .Dropdown__items {
        top: -197px;
      }

      .StyleOptions {
        max-width: 80px;
      }
    }

    .StylePicker-LineStyle>* {
      flex-grow: 1;
      flex-basis: 0;
    }

    margin-bottom: 0 !important;
  }

  .Dropdown, .FontSizeDropdown {
    border-color: var(--lighter-border);
  }

  @include mobile {
    padding: 0 16px 16px 16px;
    overflow: auto;
  }
}