@import '../../constants/styles';
@import '../../constants/overlay';


.ToolsOverlayContainer {
  display: flex;
  align-items: flex-end;

  @include mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.ToolsOverlay {
  @extend %overlay;
  box-shadow: none;
  padding: 0px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;
  position: relative;
  border-radius: 4px 4px 0 0;
  // Very important.
  // This makes it so the toolstylepopup goes below the presets.
  // It will overflow properly.
  height: 32px;

  @include mobile {
    width: 100%;
  }

  &.shadow {
    box-shadow: 0 0 5px 0 var(--box-shadow);

    @include tablet-and-desktop {
      .ToolStylePopup {
        box-shadow: 0 -20px 0 var(--preset-background), 0 0 5px 0 var(--box-shadow);
      }
    }
  }

  .no-presets {
    color: var(--no-presets-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .divider {
    width: 1px;
    height: 24px;
    margin: 0 4px;
    background: var(--divider);
  }

  .tools-container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: var(--preset-background);
    height: 100%;
    width: 220px;

    @include mobile {
      width: 100%;
    }

    .tool-buttons-container {
      display: flex;
      align-items: center;
      height: 32px;
      padding-left: 4px;

      @include mobile {
        width: 100%;
        justify-content: center;
      }

    }
  }
}
