@import '../../constants/styles';
@import '../../constants/overlay';

.grid-container{
  display: flex;
  // position: absolute;
  // top: 70px;
  // width: 174px;
  flex-wrap: wrap;

  .cell-123 {
    background: black;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 3px;
  }
}


.ToolsOverlay {
  @extend %overlay;

  padding: 0px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;

  .divider {
    width: 1px;
    height: 24px;
    margin: 0 4px;
    background: var(--tools-divider-color);
  }

  .divider-horizontal {
    width: auto;
    height: 1px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    background: var(--tools-divider-color);
  }

  &>.ToolsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tools-overlay-border);
    border-radius: var(--header-items-border-radius);
    background: var(--tools-overlay-background);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.02);

    &>.Items-Container {
      display: flex;
      margin: 8px 0;
      align-items: center;

      .StyleButton {
        margin-right: 8px;
      }
    }
  }

  &>.Close-Container {
    margin-left: 2px;

    &>.Close-Container2 {
      padding: 1px;
      background: var(--tools-overlay-background);
      border: 1px solid var(--tools-overlay-border);
      border-radius: 100000px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.02);
      cursor: pointer;
    }

    .Close-Icon {
      width: 16px;
      height: 16px;
    }
  }




  @include tablet-and-mobile {
    left: 0 !important;
    right: 0 !important;
    top: 0;
    width: 100%;
    border: none;
  }

  & > * {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .spacer {
    @include tablet-and-mobile {
      flex: 1;
      height: 100%;
    }
  }
}
