@import '../../../../constants/styles';

.insert-table-dropdown.modular-ui{
  margin: 0 6px;

  &.open {
    background-color: var(--tools-button-hover);
    border-radius: 4px;
  }

  .display-button {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--tools-button-hover);
      border-radius: 4px;
    }

    .Button {
      background-color: transparent !important;
      width: auto;
      gap: 4px; // gap between icon and label

      .Icon {
        min-width: 22px;
      }
    }

    .Icon.arrow {
      width: 12px;
      height: 12px;
      margin: 0 2px;
    }
  }
}