@import '../../constants/popup';

.ContextMenuPopup {
  @extend %popup;
  box-shadow: 0 0 3px 0 #c3c6d4;
  background: var(--light-background);
  border-radius: 4px;

  @include mobile {
    display: none !important;
  }
}