@import '../../constants/styles';

.view-header-border {
  width: 100%;
  height: 1px;
  background: var(--border);
}

.HeaderToolsContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  z-index: 70;
}

.Header {
  box-sizing: content-box !important;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  height: 36px;
  background: var(--view-header-background);
  z-index: 71;

  &:not(.Tools) {
    .Button {
      &:hover {
        background: var(--view-header-button-hover);
      }

      &.active {
        background: var(--view-header-button-active);
        .Icon {
          color: var(--view-header-icon-active-fill);
        }
      }
    }
  }

  &.Tools {
    background: var(--tools-header-background);
    height: 40px;

    @include tablet-and-mobile {
      height: 52px;

      // border-bottom: 1px solid var(--border);
    }
  }

  @include tablet-and-mobile {
    height: 52px;
  }
}
