@import '../../constants/styles';

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  height: 36px;
  background: var(--view-header-background);

  border-bottom: solid 1px var(--tools-header-background);

  &:not(.Tools) {
    .Button {
      &.active {
        .Icon {
          color: var(--top-header-icon-active-fill);
        }
      }
    }
  }

  .Button {
    &:hover {
      background: var(--primary-hollow-button-hover);
    }

    &.active {
      background: var(--primary-hollow-button-active);
    }
  }

  // .toggle-element-button {
  //   &:hover {
  //     .Button:hover {
  //       background: none;
  //     } 
  //   }
  // }

  &.Tools {
    @include desktop {
      padding-top: 1px; // top lowered 1px due to the border on the header above.
      padding-bottom: 2px;
      height: 35px;
      background: var(--tools-header-background);
    }

    @include tablet-and-mobile {
      position: fixed;
      top: 0;
      left: 0;
    }

    .Button,.tool-group-button {
      &:hover {
        background: var(--tools-button-hover);     
      }

      &.active {
        background: var(--tools-button-active);
      }

      .Button:hover {
        background: none;
      }
    }
  }

  @include tablet-and-mobile {
    height: 52px;
  }
}
