.TabsHeader-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-end;
  background: var(--multi-tab-header-background);
  height: var(--multi-tab-header-height);

  .scroll-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 34px;
    z-index: 10;
    background: var(--multi-tab-header-background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 var(--multi-tab-divider);

    .Icon {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: var(--view-header-button-hover);
    }

    &.scroll-button-left {
      left: 0;
    }

    &.scroll-button-right {
      right: 0;
    }
  }
}

.TabsHeader {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  background: var(--multi-tab-header-background);
  overflow-y: hidden;
  overflow-x: auto;
  height: var(--multi-tab-header-height);
  scroll-behavior: smooth;
  margin-right: 4px;

  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  &.has-left-button {
    margin-left: 32px;
  }

  &.has-right-button {
    margin-right: 32px;
  }

  &:has(:focus-visible) {
    outline: var(--focus-visible-outline) !important;
    outline-offset: -2px;
  }

  .add-button {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: var(--multi-tab-border);
    padding-left: var(--multi-tab-add-button-padding);

    .Button {
      .Icon {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background-color: var(--view-header-button-hover);
      }
    }

    &.add-button-with-label .Button {
      display: flex;
      width: fit-content;
      padding: 10px;

      .Icon {
        margin-right: 4px;
      }
    }

    .tab-dropdown-button {
      width: 24px;
      height: 24px;
      margin: 0 0 2px 6px;
      text-align: center;
      padding: 4px;
      border-radius: 4px;
      border: 1px solid var(--multi-tab-divider);

      &.active {
        border: 1px solid var(--multi-tab-toggle-button-active);
        color: var(--multi-tab-toggle-button-active);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--tools-button-hover);
        border: 1px solid var(--multi-tab-hover-border);
      }
    }

    &:has(:focus-visible) {
      .Button {
        outline-offset: -3px;
        border-radius: 8px;
      }
    }
  }
}

.TabsListFlyout {
  padding: 0 4px !important;
}