.MobilePopupWrapper {
  position: sticky;
  inset-block-end: 0 !important;
  width: 100%;
  background-color:  var(--component-background);
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 4px 16px 0px rgba(134, 142, 150, 0.24), 0px 0px 4px 0px rgba(134, 142, 150, 1);
  z-index: 99;
}
