@import '../../../constants/styles';

.ink-signature {
  width: 450px;
  height: 171px;
  position: relative;

  @include tablet {
    width: 400px;
    height: 138px;
  }

  @include mobile {
    width: 100%;
    height: 126px; 
  }
   
  // hack for div inserted by Swipeable
  >div{
    width: 100%;
    display: flex;
  }

  position: relative;
  border-radius: 4px;
  border: 1px solid $signature-modal-shared-color;
  display: flex;
  overflow: hidden;

  &-canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: crosshair;
  }

  &-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--faded-component-background);
    flex-grow: 1;
  }

  &-sign-here {
    color: var(--faded-text);
  }
}
