@import '../../../constants/styles';

.ink-signature {
  width: 100%;
  height: 104px;  
  position: relative;
  border-radius: 4px;
  border: 1px solid $signature-modal-shared-color;
  display: flex;
  overflow: hidden;

  &-canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: crosshair;
  }

  &-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    flex-grow: 1;
  }

  &-sign-here {
    color: #c3c6d4;
    font-size: 13px;
  }

  &-clear {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #757575;
    font-weight: 600;
    cursor: pointer;

    &.active {
      color: #00A4E4;
    }
  }
}
