@import '../../../constants/styles';

.ink-signature {
  position: relative;
  border-radius: 4px;
  border: 1px solid $signature-modal-shared-color;
  margin: 0px 24px;
  height: 200px;
  display: flex;
  overflow: hidden;

  @include mobile {
    margin: 18px 12px 0px 12px;
    width: calc(100% - 24px);
  }

  &-canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: crosshair;
  }

  &-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    flex-grow: 1;
  }

  &-sign-here {
    color: $signature-modal-shared-color;
    font-size: 16px;
  }

  &-clear {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #757575;
    font-weight: 600;
    cursor: pointer;

    &.active {
      color: #00A4E4;
    }
  }
}
