@import '../../constants/styles';
@import '../../constants/panel';

.LeftPanel {
  @extend %left-panel;

  .left-panel-header {
    display: flex;
    align-items: center;
    margin: 16px;

    .close-btn {
      cursor: pointer;
      margin-right: 17px;
    }

    @include mobile {
      margin: 0px;
      padding: 13px 17px;
      background-color: $white;
      background-color: var(--primary-color);
    }
  }

  .Panel {
    @extend %sub-panel;
  }
}

.resize-bar {
  background: rgba(255, 0, 0, 0.3);
  cursor: col-resize;
  right: 0px;
  // make sure the resize bar is always at the right of the native scrollbar
  margin-right: -20px;
  width: 20px;
  height: 100%;
  margin-bottom: 0;
  background-color: none;
  position: absolute;
  z-index: 100;
}
