@import '../../constants/styles';
@import '../../constants/panel';

.LeftPanel {
  z-index: 65;
  @include mobile {
    z-index: 95;
  }
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
  left: 0px;
  transition: transform .3s ease-in-out;
  max-width: calc(100% - 16px);
  @include panel-height-fix;

  &.closed {
    transform: translateX(-100%);
  }

  @include tablet {
    border-right: 1px solid var(--side-panel-border);
  }

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .left-panel-container{
    display: flex;
    flex-direction: column;
    // width: 100%;
    padding-right: 8px;

    // Needed
    // overflow: hidden; // https://stackoverflow.com/questions/1260122/expand-a-div-to-fill-the-remaining-width

    padding-top: 16px;
    @include mobile {
      padding-top: 0px;
      width: 100vw;
      min-width: 100vw;
      .close-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 64px;


        width: 100%;
        padding-right: 5px;
        top: 0;

        .close-icon-container {
          cursor: pointer;
          .close-icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .left-panel-header {
    display: flex;
    align-items: center;
    margin: 16px;
    margin-top: 0px;
    margin-right: 8px;
  }

  .Panel {
    @extend %sub-panel;
  }
}
