@import '../../constants/styles';
@import '../../constants/panel';

.LeftPanel {
  @extend %right-panel;

  @include mobile {
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    height: $right-panel-width;
  }

  .left-panel-header {
    display: flex;
    align-items: center;

    .close-btn {
      cursor: pointer;
      margin-right: 17px;
    }

    @include mobile {
      display: none;
    }
  }

  .Panel {
    @extend %sub-panel;
  }
}

.resize-bar {
  cursor: col-resize;
  right: 0px;
  // make sure the resize bar is always at the right of the native scrollbar
  margin-right: -20px;
  width: 20px;
  height: 100%;
  margin-bottom: 0;
  background-color: none;
  position: absolute;
  z-index: 100;
}
