@import '../../constants/styles';
@import '../../constants/modal';

.CalibrationModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 400px;
    padding: 20px 20px 0px 20px;

    .calibration__header {
      font-size: 20px;
      font-weight: 700;
    }

    .calibration__body {
      margin-top: 5px;

      input {
        margin: 20px 20px 0px 0px;
        width: 70%;
        border: none;
        outline: none;
        border-bottom: 2px solid #00a5e4;
      }

      .unitToInput {
        border-radius: 4px;
        border: 1px solid rgb(189, 189, 189);
        height: 29px;
        width: 45px;
      }
    }

    .calibration__footer {
      display: flex;
      justify-content: flex-end;

      .Button:hover {
        background: none;
      }
    }
  }
}