@import '../../constants/styles';

.HeaderItems {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 4px;

  > .Button, > .toggle-element-button {
    margin: 0 6px;

    @include mobile {
      margin: 0 4px;        
    }

    @include tablet {
      margin: 0 10px;       
    }    
  }

  .spacer {
    flex: 1;
    height: 100%;
  }

  .divider {
    width: 1px;
    height: 20px;
    margin: 0 6px;
    background: var(--divider);
    flex-shrink: 0;

    @include mobile {
      margin: 0 4px;
    }

    @include tablet {
      margin: 0 10px;       
    }    
  }
}
