@import '../../constants/styles';

.signature-row-content {
  width: 158px;
  height: 26px;
  border-radius: 4px;
  // margin-right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &.interactable {
    &:hover {
      background: var(--tools-overlay-button-hover);
    }
    &.active {
      background: var(--tools-overlay-button-active);
    }
  }

  &.active {
    background: var(--tools-overlay-button-active);
  }
}

