@import '../../constants/styles';

.signature-row-content {
  width: 160px;
  height: 26px;
  background: green;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 22px;
  }
}

