@import '../../constants/styles';
@import '../../constants/overlay';

.add-btn {
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  color: var(--text-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    border: 1px solid var(--disabled-text);
    color: var(--disabled-text);
    cursor: auto;
  }

  @include mobile {
    height: 40px;
    width: 90vw;
    margin: 0;
  }
}

.signature-row {
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: var(--tools-overlay-button-hover);
    }
  }
}

.signature-style-popup {
  width: 100%;
  padding-left: 8px;
  padding-right: 4px;

  @include mobile {
    width: auto;
    padding: 0;
    margin-top: 12px;
  }

  .signature-row {
    margin-bottom: 12px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  .add-btn {
    margin-bottom: 8px;

    @include mobile {
      margin: 0;
      margin-top: 32px;
    }
  }
}


