.hv-attached-file {
  display: flex;
  align-items: center;
  margin: 5px;
  color: #4990E2;

  .Icon {
    height: 12px;
    width: 12px;
    cursor: pointer;
  }

  .hv-attached-file-url {
    display: inline-block;
    word-break: break-word;
    padding-left: 5px;
    cursor: pointer;
  }
}
