.StyleOption {     
    .styles-input {
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #dfe2ed;
      height: 28px;
      width: 80px;
      text-transform: capitalize;
      color: var(--text-color);
    }
  
    .styles-title { 
      margin-left: 12px;
      margin-top: 2px;
    }
  
    .styles-layout {
      display: flex;
      margin-left: 11px;
      margin-top: 5px;
    }
}
