.StyleOption {     
  .styles-container {
    margin-top: 2px;
    margin-bottom: 8px;

    .styles-input {
      background: var(--component-background);
      border-radius: 4px;
      border: 1px solid var(--border);
      height: 28px;
      width: 80px;
      text-transform: capitalize;
      color: var(--text-color);
    }
  
    .styles-title { 
      margin-left: 12px;
      
    }
  
    .styles-layout {
      display: flex;
      margin-left: 11px;
      margin-top: 7px;
    }
  }
}
