@import '../../constants/styles';

.tool-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin: 0 4px;
  margin-top: 4px;

  @include tablet-and-mobile {
    margin: 0 12px;
  }     

  .Button {
    &:hover {
      background: var(--tools-overlay-button-hover);   
    }
    &.active {
      background: var(--tools-overlay-button-active);
    }
  }

  &.active {
    background: var(--tools-overlay-button-active);

    .Icon {
      color: var(--selected-icon-color);
    }

    div:hover {
      background: none;
    }
  }

  .styling-down-arrow-container {
    display: flex;
    justify-content: center;
    width: 32px;
    padding-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;

    @include mobile {
      margin-top: -2px;
      padding-bottom: 5px;
    }         

    &:hover {
      background: var(--tools-overlay-button-hover);    
    }

    .styling-down-arrow {
      width: 12px;
      height: 12px;
      margin-top: -2px;
    }
  }
}
