@import '../../constants/styles';

.selected-tools-overlay-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 4px;
}
