@import '../../constants/styles';

.selected-tools-overlay-item {
  display: flex;
  flex-direction: row;
  // width: 214px;
  width: 100%;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 4px;

  .add-btn {
    border-radius: 4px;
    border: 1px solid var(--icon-color);
    color: var(--text-color);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      border: 1px solid var(--disabled-text);
      color: var(--disabled-text);
      cursor: auto;
    }
  }

}
