@import '../../constants/styles';
@import '../../constants/panel';

.LayersPanel {
  @extend %panel;
  padding-left: 15px;
  // we don't want to style its recursive subchild
  > .Layer:first-child {
    margin-top: 0;
  }

  .spinner {
    align-self: center;
  }

  @include mobile {
    width: auto;
    margin: 16px;
    padding-left: 0px;
    overflow-y: auto;
  }
}