@import '../../constants/styles';
@import '../../constants/modal';

.LoadingModal {
  @extend %modal;
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .inner-wrapper {
    margin: 10px;
    border: 5px solid #dfe2ed;
    border-top: 5px solid #6077bf;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    animation: spin 1.2s ease infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .text {
    color: #777;
  }
}
