@import "../../../constants/styles";

.ToggleElementButton {
  .Button {
    &:hover {
      background: var(--popup-button-hover);
    }
    &.isActive {
      background: var(--popup-button-active);
      cursor: default;
      .Icon {
        color: var(--view-header-icon-active-fill)
      }
    }
  }
}
