@import "../../../constants/styles";

.ToggleElementButton {
  .Button {
    width: auto;
    min-width: 32px;
    height: 32px;
    padding: 5px;

    &:hover,
    &.active {
      @extend %custom-button-hover;
    }

    &.active {
      color: var(--view-header-icon-active-fill);
      cursor: default;

      .Icon {
        color: var(--view-header-icon-active-fill)
      }
    }
  }
}