@import "../../../constants/styles";

.ToggleElementButton {
  .Button {
    width: 32px;
    height: 32px;

    &:hover {
      background: var(--tools-button-hover);
    }

    &.active {
      background: var(--tools-button-active);
      color: var(--view-header-icon-active-fill);
      cursor: default;

      .Icon {
        color: var(--view-header-icon-active-fill)
      }
    }
  }
}