@import '../../../constants/styles';

.thumb-card {
  width: 152px;
  float: left;
  background: #F8F9FA;
  margin-right: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  padding: 10px;
  padding-top: 24px;
  padding-bottom: 8px;
  position: relative;
  cursor: pointer;

  @include tablet {
    width: 142px;
  }

  @include mobile {
    width: 30%;
  }

  @include small-mobile {
    width: 46%;
  }

  &:hover {
    background: var(--tools-overlay-button-hover);
  }
}
.thumb-card-body {
  text-align: center;
}
.thumb-card-img {
  width: 75px;
}
.thumb-card-title {
  margin: 0;
  text-align: center;
  margin-top: 6px;
}
.thumb-card-ck {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}