@import '../../constants/styles';

.divider-container {
  width: 100%;
  padding-inline-end: 4px;
  padding-inline-start: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  .divider-horizontal {
    height: 1px;
    background: var(--divider);
  }

  @include mobile {
    padding-top: 0px;
  }
}
