@import '../../constants/styles.scss';
@import '../../constants/popup.scss';

.StylePopup {
  margin-top: 8px;
  display: flex;
  flex-direction: column;

  .sliders-container {
    margin: 0px 12px;
    margin-top: 8px;
  }
}
