@import '../../constants/styles.scss';
@import '../../constants/popup.scss';

.StylePopup {
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;

  @include mobile {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .sliders-container {
    margin-left: 6px;
    margin-top: 4px;
    width: 188px;

    @include mobile {
      // margin-left: 12px;
      // margin-right: 12px;
      width: auto;
    }
  }
}
