@import '../../../constants/styles';

.CellBorderStyleDropdown {
  &.flyout-item {
    padding: 4px 8px;
    
    .Dropdown__items {
      top: 38px !important;
      right: 8px;
    }
  }
  .Dropdown__items {
    .Dropdown__item {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .cellBorderStyleDropdownItem {
    overflow: hidden;

    .cellBorderStyle-image {
      width: 232px;
    }
  }
}