@import '../../constants/styles';

.NotePopup  {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  width: 28px;
  height: 28px;
  position: relative; // needs position: relative so that .note-popup-options can be positioned absolute correctly

  .Button.overflow {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;


    .Icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: var(--blue-1)
    }

    &.active {
      background: var(--popup-button-active);
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px var(--box-shadow);
    z-index: 80;
    position: absolute;
    @include ie11 {
      right: 0;
    }
    border-radius: 4px;
    background: var(--component-background);
    top: 40px;
    width: max-content;

    &.bottom {
      top: calc(100% + 2px);
    }

    &.top {
      bottom: calc(100% + 2px);
    }

    .note-popup-option {
      @include button-reset;
      align-items: flex-start;
      @include mobile {
        font-size: 13px;
      }
    }

    &.options-reply {
      top: 30px;
    }

    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 28px;
      padding-left: 8px;
      padding-right: 17px;
      border-radius: 0px;

      &:hover {
        background-color: var(--popup-button-hover);
      }

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    &.modular-ui {
      .option {
        &:hover {
          @extend %custom-flyout-item-hover;
        }
      }
    }
  }

  .Button {
    height: 28px;

    &.active {
      background: var(--popup-button-active);
    }

    &.note-popup-toggle-trigger {
      @include mobile {
        width: 28px;
        height: 28px;
      }
    }
  }
}
