@import '../../constants/styles';

.NotePopup  {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  padding: 8px 10px;
  position: absolute;
  right: -10px;
  top: -8px;

  .overflow {
    .Icon {
      width: 18px;
      height: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px var(--box-shadow);
    z-index: 80;
    position: absolute;
    border-radius: 4px;
    background: var(--component-background);

    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 28px;
      padding-left: 8px;
      padding-right: 17px;

      &:hover {
        background-color: var(--primary-hollow-button-hover);
      }      
    }
  }
}
