@import '../../../constants/styles';

.ToolButton {
  &:hover {
    background: var(--tools-button-hover);
  }

  &.active {
    background: var(--tools-button-active);
  }


  width: 32px;
  height: 32px;
}