@import '../../../constants/styles';

.ToolButton {
  width: 32px;
  height: 32px;

  &:hover {
    background: var(--tools-button-hover);
  }

  &.active {
    background: var(--tools-button-active);
  }

  &.button-with-label {
    width: min-content;
  }
}

button[data-element="signatureFieldButton"], 
button[data-element="checkboxFieldButton"], 
button[data-element="radioFieldButton"] 
{
  .Icon {
    color: var(--gray-9) !important;
  }
}