@import '../../../constants/styles';

.ToolButton {
  width: 32px;
  height: 32px;

  &:hover {
    border: 1px solid var(--blue-5);
    background: var(--tools-button-hover);
  }

  &.active {
    border: 1px solid var(--blue-5);
    background: var(--tools-button-active);

    .Icon {
      color: var(--blue-5);
    }
  }

  &.button-with-label {
    width: min-content;
  }

  @include mobile {
    &:hover {
      background: var(--gray-3);
    }
    &.active {
      background: var(--tools-button-active);
    }
  }
}

button[data-element="signatureFieldButton"], 
button[data-element="checkboxFieldButton"], 
button[data-element="radioFieldButton"] 
{
  .Icon {
    color: var(--gray-9) !important;
  }
}