.PageNumberInput {
  cursor: default;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .Icon {
      position: absolute;
      inset-inline-end: 8px;
      color: var(--error-border-color);
    }
  }

  .page-number-input {
    padding: 6px !important;
    width: 108px;
    height: 32px;

    &.page-number-input--error {
      padding-inline-end: 30px; /* Adjust padding to make space for the error icon */
      border-color: var(--error-border-color) !important;
    }
  }

  .page-number-input::placeholder {
    color: var(--gray-6);

    &.error {
      border-color: var(--error-text-color);
    }
  }

  .page-number-error {
    color: var(--error-text-color);
    margin-top: 8px;
    position: absolute;
    width: 100%;
  }
}
