@import "../../constants/styles";
@import "../../constants/modal";

.LinkModal {
  @extend %modal;
  font-size: 0.9em;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 8px 8px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .StylePopup {
      border-radius: 0px;
      box-shadow: none;
    }

    .divider-horizontal {
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background: var(--divider);
    }

    .tab-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tab-list {
      display: flex;
      margin-bottom: 16px;
      border-radius: 4px;
      border: 1px solid var(--border);
      height: 28px;
      color: var(--text-color);
      margin: 8px 0;
      width: 100%;

      .divider {
        width: 1px;
        background: var(--divider);
      }

      .tab-options-button {
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        border-radius: 0px;
        cursor: pointer;

        &:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:hover {
          background: var(--popup-button-hover);
        }

        &.selected {
          background: var(--popup-button-active);
          cursor: default;
        }
      }

      .tab-options-divider {
        width: 1px;
        background: var(--divider);
      }
    }

    .linkInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    input {
      margin-top: 8px;
      width: 100%;
      height: 30px;
      padding: 4px 8px 6px 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    form {
      width: 100%;
    }

    .Button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-button-text);
      font-weight: 600;
      padding: 6px 18px;
      margin-top: 8px;
      margin-left: 5px;
      width: auto;
      width: fit-content;
      background: var(--primary-button);
      border-radius: 4px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background: var(--primary-button-hover);
      }

      &.disabled {
        background: var(--gray-6);
        border-color: var(--gray-6);
        cursor: not-allowed;
      }
    }
  }
}
