@import '../../constants/styles';
@import '../../constants/overlay';

#outline-edit-popup-portal {
  position: absolute;
}

.OutlineEditPopup {
  @extend %overlay;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 0;

  .ActionButton {
    justify-content: flex-start;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0px;
    margin: 2px 0;
    height: 32px;
    padding-left: 12px;
    padding-right: 18px;

    .Icon {
      width: 22px;
      height: 22px;
      margin: 4px;
    }

    span {
      margin-left: 4px;
      white-space: nowrap;
      color: var(--text-color);
    }

    &:hover {
      background-color: var(--popup-button-hover);
    }
  }
}