@import '../../constants/styles';
@import '../../constants/panel';

.SignaturePanel {
  margin: 0px 8px 8px 8px;
  display: flex;

  .center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
