@import '../../constants/styles';
@import '../../constants/overlay';

.SearchOverlay {
  @extend %overlay;
  position: static;
  display: flex;
  flex-direction: column;
  padding: 0px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;
  font-size: 14px;
  visibility: visible !important;
  padding-right: 18px;

  .input-container {
    display: flex;
    position: relative;
    flex: 1;

    input {
      font-size: 13px;
      width: 100%;
      padding-left: 8px;
      border: 1px solid var(--blue-gray-1);
      border-radius: 4px;
      color: var(--text-color);
      padding-bottom: 6px;
      padding-right: 42px;
      padding-top: 4px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: #c3c6d4;
      }
    }

    .input-button {
      cursor: pointer;
      background: var(--button-fill);
      border-radius: 4px;
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0px;
      right: 0px;

      svg {
        color: #fafafa;
      }
    }
  }

  .divider{
    height: 1px;
    width: 100%;
    background: var(--blue-gray-1);
    margin: 16px 0px;
  }

  .options {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    margin-top: 5px;

    label.Input {
      display: flex;
      align-items: center;
      font-size: 13px;
      margin-right: 10px;
    }

    label:nth-child(4) {
      margin-left: 10px;
    }

    label:nth-child(6) {
      margin-left: 10px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c3c6d4;

    .buttons {
      display: flex;
      flex-direction: row;

      .button {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;

        &.previous {
          background: var(--button-fill);
          svg {
            color: var(--blue-gray-1);
          }
        }

        &.next {
          border: 1px solid #6077bf;
          svg {
            color: #6077bf;
          }
        }
      }

      .arrow {
        width: 20px;
        height: 20px;
      }
    }
  }
}
