@import '../../constants/styles';
@import '../../constants/overlay';

.SearchOverlay {
  position: static;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  flex-wrap: nowrap;
  border: 0px;
  border-radius: 0px;
  background: transparent;
  visibility: visible !important;
  flex-grow: 0;

  .input-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 4px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    padding: 6px 2px 6px 6px;
    background: var(--gray-0);

    input {
      width: 100%;
      padding: 6px;
      height: 16px;
      border: none;
      background: transparent;
    }

    .clearSearch-button {
      @include button-reset;
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 24px;
      height: 24px;

      svg {
        color: var(--gray-7);
      }
      &:hover {
        background: var(--blue-1);
      }
    }
  }

  .divider{
    height: 1px;
    width: 100%;
    background: var(--divider);
    margin: 16px 0px;
  }

  .options {
    display: flex;
    margin-top: 8px;

    // toolkit choice component
    > span {
      margin-right: 8px;
      width: 50%;
      // label of toolkit choice component
      > label {
        white-space: nowrap;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--faded-text);
    margin-bottom: 16px;

    .spinner {
      height:25px !important;
      width:25px !important;
      margin: 0px;
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      justify-content: space-evenly;
      margin-left: auto;
      width: 64px;
      height: 28px;

      .button {
        @include button-reset;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          color: var(--gray-7);
        }

        &:hover {
          background-color: var(--blue-1)
        }
      }

      .arrow {
        width: 18px;
        height: 18px;
      }
    }
  }
}
