@import '../../constants/styles';

.SearchResult {
  @include button-reset;
  border: solid transparent 1px;
  display: block;
  width: calc(100% - 4px);
  text-align: left;

  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px var(--box-shadow);
  padding: 10px 12px;
  margin-left: 2px;
  margin-bottom: 8px;
  background: var(--component-background);
  word-break: break-all;

  &.selected {
    border: 1px solid var(--focus-border);
    box-shadow: none;
  }

  .search-value {
    background: var(--yellow-1);
    word-break: break-all;
  }
}
