@import '../../constants/styles';

.SearchResult {
  margin-top: -1px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
  background: white;
  background: var(--primary-color);
  border: 1px solid $gray12;
  border: 1px solid var(--border-color);

  &.selected {
    background: $gray10;

    .search-value {
      background: #fbcd9f;
    }
  }

  .search-value {
    background: #fffc95;
  }
}