@import '../../constants/styles';

.SearchResult {
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgb(195, 198, 212);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 12px;
  margin-left: 2px;
  margin-bottom: 8px;

  &.selected {
    border: 1px solid #6077bf;
    box-shadow: none;

    .search-value {
      background: #fbcd9f;
    }
  }

  .search-value {
    background: #face0080;
  }
}
