@import '../../constants/styles';

.SearchResult {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px var(--box-shadow);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 12px;
  margin-left: 2px;
  margin-bottom: 8px;
  background: var(--gray-0);

  &.selected {
    border: 1px solid var(--focus-border);
    box-shadow: none;
  }

  .search-value {
    background: #face0080;
  }
}
