@import '../../../constants/styles';
@import '../../../constants/note';

.comment-textarea {
  position: relative;

  .ql-toolbar {
    display: none;
  }

  .ql-container {
    border: none;

    .ql-editor {
      width: 100%;
      padding: 4px 28px 4px 6px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      resize: none;
      overflow: hidden;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &.ql-blank::before {
        left: 8px;
        list-style-type: none;
        font-style: normal;
        color: var(--placeholder-text);
      }

      p {
        margin: 0;
        word-break: break-all;
      }

      ul>li::before {
        content: none !important;
      }
    }

    &.ql-snow {
      border: none;
    }
  }

  .add-attachment {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 24px;
    height: 24px;

    &:hover {
      background-color: var(--blue-1);
    }

    .Icon {
      padding: 3px;
    }
  }
}

.ql-editor ul>li::before {
  content: none !important;
}

.mention {
  &__element {
    width: 100%;
    z-index: 9001 !important;
  }

  &__suggestions {
    background-color: var(--component-background);
    border: 1px solid var(--border);
    border-radius: 4px;

    &__list {
      width: 170px;
      font-size: 14px;
      margin-top: 0px;
      padding-left: 0px !important;
      list-style: none;
      word-wrap: break-word;
      border: 1px solid var(--border);
      border-radius: 4px;
    }

    &__item {
      background-color: var(--component-background);
      white-space: nowrap;
      margin-left: 0px;
      padding-left: 0px;
      text-overflow: clip;
      padding: 7px 5px 1px 5px !important;
      margin: 0px 0px;
      width: 100%;
      cursor: pointer;

      .email {
        margin-top: 2px;
        font-size: 12px;
        white-space: normal;
        color: var(--faded-text);
      }

      &.selected {
        background-color: var(--view-header-button-active) !important;
      }
    }
  }
}