@import '../../constants/styles';
@import '../../constants/note';

.NoteContent {
  padding-top: 9px;
  padding-left: 6px;
  padding-right: 12px;

  .author-and-overflow {
    display: flex;
    justify-content: space-between;
  }

  .title {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--text-color);

    .author-and-date {
      flex: 1;
      min-width: 0;
    }

    .type {
      margin-bottom: auto;
      width: 31px;
      margin-right: 3px;

      .icon {
        width: 31px;
        height: 31px;
      }
    }

    .author {
      opacity: 0.8;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .time {
      opacity: 0.8;
      font-size: 10px;
    }

    .author-name {
      font-size: 13px;
      font-weight: bold;
    }

    .spacer {
      opacity: 0.8;
      height: 1px;
      width: 7px;
      margin: 0 5px;
      background: #808080;
      background: var(--text-color);
      opacity: 0.5;
    }

    .container {
      margin-top: 7px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .status {
    margin-left: 30px;
    color: $gray54;
    margin-bottom: 5px;
  }

  .content-container {
    padding-top: 3px;
    cursor: auto;
    white-space: pre-wrap;

    .edit-content {
      display: flex;
      flex-direction: column;
      margin: 0;

      textarea {
        width: 100%;
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid $gray12;
        font-size: 12px;
      }

      .buttons  {
        @extend %textarea-buttons;
        margin-top: 5px;
      }
    }

    .contents {
      color: var(--text-color);
      margin-right: 5px;
      padding: 0;
      word-wrap: break-word;
      user-select: text;

      .highlight {
        background: #fffc95;
        color: #333333;
      }
    }
  }

  .highlight {
    background: #fffc95;
  }
}
