@import '../../../constants/styles';

.header-footer-edit-ui {
  position: absolute;
  height: 46px;
  width: 100%;
  align-items: center;
  display: flex;
  visibility: hidden;

  &.header-edit-ui {
    inset-block-start: 143px;
  }

  &.footer-edit-ui {
    inset-block-end: 143px;
  }

  &.active {
    visibility: visible;
  }

  .box-shadow-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;

    &:after {
      // using pseudo element so we can hide the left and right box-shadow
      content: '';
      position: absolute;
      width: 100%;
      height: 40px;
      padding: 3px 0;
      background-color: var(--gray-0);
      box-shadow: 0px 0px 3px 0px var(--gray-7);
      z-index: -1;
    }
  }

  .label {
    color: var(--gray-8);
    font-size: 0.8125rem;
    font-weight: 700;
    margin-inline-start: 16px;
  }

  .options-dropdown-container {
    position: absolute;
    inset-inline-end: 16px;

    .options-button {
      color: var(--blue-5);
      padding: 8px 32px 8px 8px;
      background: transparent;
      width: auto;
      border: none;
      cursor: pointer;

      .Icon {
        width: 12px;
        height: 12px;
        position: absolute;
        inset-inline-end: 9.5px;
        inset-block-start: 0;
        inset-block-end: 0;
        margin: auto;
        color: var(--blue-5);
      }

      &:hover,
      &.active {
        color: var(--blue-6);

        .Icon {
          color: var(--blue-6);
        }
      }

      &.active {
        .Icon {
          transform: rotate(180deg);
        }
      }
    }

    .Dropdown__items {
      padding: 4px 0;
      min-width: 157px;

      .Dropdown__item {
        height: 32px;
        padding: 0 10px 0 40px;
        position: relative;
        width: auto;

        &:first-child {
          margin-bottom: 9px;
        }

        .Icon {
          position: absolute;
          inset-inline-start: 10px;
          fill: var(--gray-7);
          inset-block-start: 0;
          inset-block-end: 0;
          margin: auto;
        }
      }

      .Divider {
        flex-basis: 100%;
        width: 100%;
        height: 1px;
        margin: 0;
        position: absolute;
        inset-block-end: -5px;
        inset-inline-start: 0;
      }
    }
  }
}
