@import '../../../constants/styles';
@import '../../../constants/overlay';


.Flyout {
  z-index: 90;
  position: absolute;
  display: flex;
  background: var(--gray-0);
  border-radius: 4px;

  .FlyoutContainer {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 200;
    background-color: var(--component-background);
    min-width: 224px;
    max-width: 328px;
    font-size: var(--font-size-default);
    font-family: var(--font-family);
    border: 1px solid var(--divider);
    border-radius: 4px;
    text-transform: capitalize;
    text-overflow: ellipsis;

    .divider {
      width: 100%;
      height: 1px;
      background-color: var(--divider);
    }

    .flyout-item-container {
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      cursor: pointer;

      .Icon, .menu-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      .icon-open-submenu {
        justify-self: flex-end;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        padding-top: 2px;
        display: flex;
      }

      .menu-icon,
      .Icon svg path {
        justify-self: flex-start;
        fill: var(--icon-color);
      }

      .menu-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 4px 8px;
        gap: 10px;

        .icon-label-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .flyout-item-label {
        justify-self: flex-start;
        font-size: var(--font-size-default);
        color: var(--gray-8);
      }

      &:hover {
        background-color: var(--blue-1);
      }

      &:active, &.active {
        background-color: var(--blue-2);

        .Icon svg path {
          fill: var(--blue-6);
        }

        .flyout-item-label {
          color: var(--blue-6);
        }
      }

      .ZoomItem {
        padding: 0;

        &:hover {
          background: transparent;
        }

        .Icon {
          margin-left: 0;
        }
      }

      .hotkey-wrapper {
        color: var(--gray-7);
        margin-left: 8px;
        margin-right: 2px;
      }
    }
  }

  .back-button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid var(--divider);
    cursor: pointer;

    .Icon {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--blue-2);
    }

    &:active {
      background-color: var(--blue-3);
    }
  }
}