@import '../../../constants/styles';
@import '../../../constants/overlay';


.Flyout {
  z-index: 90;
  position: absolute;
  display: flex;
  background: transparent;

  .FlyoutContainer {
    max-height: 100vw;
    overflow-y: auto;
    height: fit-content;
    z-index: 200;
    background-color: var(--component-background);
    width: 200px;
    font-size: var(--font-size-default);
    font-family: var(--font-family);
    border: 1px solid var(--divider);
    border-radius: 4px;
    text-transform: capitalize;
    text-overflow: ellipsis;

    .divider {
      width: 100%;
      height: 1px;
      background-color: var(--divider);
    }

    .flyout-item-container {
      height: 40px;
      padding: 8px 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .Icon {
        width: 24px;
        height: 24px;
      }

      .menu-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 10px;
      }

      .menu-icon {
        justify-self: flex-start;
      }

      .flyout-item-label {
        justify-self: flex-start;
        font-size: var(--font-size-default);
      }

      .icon-open-submneu {
        justify-self: flex-end;
      }

      &:hover {
        background-color: var(--blue-2);
      }

      &:active {
        background-color: var(--blue-3);
      }
    }
  }

  .back-button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid var(--divider);

    .Icon {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--blue-2);
    }

    &:active {
      background-color: var(--blue-3);
    }
  }
}
