@import '../../constants/panel';

.right-panel {
  position: fixed;
  inset-inline-end: 0px;
  transition: transform 0.3s ease-in-out;
  @include panel-height-fix;
  max-width: calc(100% - 16px);
  @include mobile {
    max-width: 100%;
  }

  &.closed {
    transform: translateX(100%);
  }

  z-index: 65;
  @include mobile {
    z-index: 95;
  }
  background-color: var(--panel-background);
  display: flex !important;
  flex-direction: row;
  overflow: hidden;

  @include tablet {
    border-inline-start: 1px solid var(--side-panel-border);
  }

  @include mobile {
    position: fixed;
    inset-block-start: 0;
    inset-inline-end: 0;
    height: 100%;
    width: 100%;
  }
}
