@import '../../constants/panel';

.right-panel {
  position: fixed;
  right: 0px;
  transition: transform .3s ease-in-out;
  @include panel-height-fix;
  max-width: calc(100% - 16px);

  &.closed {
    transform: translateX(100%);
  }

  z-index: 65;
  @include mobile {
    z-index: 95;
  }
  display: flex;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @include tablet {
    border-left: 1px solid var(--side-panel-border);
  }

  @include mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}
