.share-type-icon {
  width: 22px;
  height: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .wf-label-legend {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 2.5px;
    width: 1em;
    height: 1em;
  }
}
