@import '../../constants/styles';

.outline-drag-container {
  border-radius: 4px;

  &.isNesting {
    &>.bookmark-outline-single-container {
      background-color: var(--popup-button-active);
      border-color: var(--focus-border);
    }
  }
}

.outline-treeview-toggle {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: var(--padding-small);
  min-width: 14px; // Icon width 14px
  transition: transform .1s ease;

  &.expanded {
    transform: rotate(90deg);
  }

  .Button {
    width: auto;
    height: auto;

    .Icon {
      width: 14px;
      height: auto;
    }
  }
}

.outline-drag-line {
  margin-left: var(--padding);
  margin-right: var(--padding);
  border-top: 1px solid var(--focus-border);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -3px;
    left: 0;
    background-color: var(--focus-border);
    border-radius: 50%;
  }
}