.Outline {
  color: var(--outline-color);
  cursor: pointer;
  display: flex;

  flex-shrink: 0;
  align-items: flex-start;

  .padding {
    flex-shrink: 0;
    flex-basis: 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin-left: 0px;
    border-radius: 4px;
    
    .arrow {
      transition: transform .1s ease;
      
      &.expanded {
        transform: rotate(90deg);
      }

      .Icon {
        width: 19px;
        height: 19px;
      }
    }

    &:hover {
      background: var(--outline-hover);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 5px;
    
    &.editable {
      flex-grow: 1;
    }
    
    .row {
      margin: 4px 0;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      padding: 6px;
      
      .Button {
        width: auto;
        height: auto;
        text-align: left;
        color: var(--outline-color);
      }

      .contentButton {
        flex-grow: 1;
        justify-content: flex-start;
      }

      &.hover {
        background: var(--outline-hover);
      }

      &.selected {
        background: var(--outline-selected);
      }

      &:not(.selected):hover {
        background: var(--outline-hover);
      }
    }
  }
}
