.TopHeader {
  width: 100%;
  transition: min-height .3s ease-in-out;

  &.start {
    background: var(--gray-0);
  }

  &.end {
    background: var(--tools-header-background);
  }
}

.TopHeader.closed {
  padding: 0;
  min-height: 0;
}

.TopHeader.stroke {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gray-5);
}

.TopHeader:nth-child(1) {
  z-index: 73;
}