@import '../../constants/styles';

.MultiViewer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #e7e7e7 1px, transparent 1px), linear-gradient(to bottom, #e7e7e7 1px, transparent 1px);
  background-color: #fafafa;

  &.hidden {
    display: none;
  }

  .resize-bar {
    height: 100%;
  }

  .CompareContainer {
    height: 100%;
    border: 2px solid var(--document-background-color);
    box-sizing: border-box;
    &.active {
      border: 2px solid #a7ffc5;
    }

    .borderLineBottom {
      visibility: hidden;
      height: 2px;
      background-color: #a7ffc5;
      position: absolute;
      bottom: 0;
      z-index: 41;

      &.active {
        visibility: visible;
      }
    }

  }
}