@import '../../constants/panel';

.NotesPanel {
  @extend %right-panel;
  position: static;
  visibility: visible !important;

  overflow: hidden !important;

  .no-annotations {
    @extend %center-of-panel;
  }

  >.container {
    padding-right: 28px;

    .header {
      .dropdown-container{
        display: flex;
        justify-content: flex-end;

        .kewjrlkwejrlkw {
          font-size: 13px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .header123 {
            margin-right: 8px;
          }
        }
      }

      .input-container {
        display: flex;
        position: relative;

        input {
          font-size: 13px;
          width: 100%;
          padding-left: 8px;
          border: 1px solid #dfe2ed;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          color: var(--text-color);
          padding-bottom: 4px;
          padding-right: 42px;

          &::placeholder {
            color: #c3c6d4;
          }
        }

        .input-button {
          cursor: pointer;
          background: #6077bf;
          border-radius: 4px;
          height: 24px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 0px;
          right: 0px;

          svg {
            color: #fafafa;
          }
        }
      }

      .divider{
        height: 1px;
        width: 100%;
        background: #dfe2ed;
        margin: 16px 0px;
      }
    }
  }


  .virtualized-notes-container,
  .normal-notes-container {
    flex: 1;
    padding-right: 28px;
  }

  .normal-notes-container {
    overflow: overlay;
  }

  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;

    .msg {
      font-size: 14px;
      width: 92px;
      text-align: center;
    }

    .empty-icon {
      width: 65px;
      height: 83px;

      svg {
        width: 65px;
        height: 83px;
      }

      * {
        fill: #dfe2ed;
        color: #dfe2ed;
      }
    }
  }
}
