@import '../../constants/panel';

.notes-panel-container {
  z-index: 65;

  @include mobile {
    z-index: 95;
  }

  display: flex;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  @include tablet {
    border-left: 1px solid var(--side-panel-border);
  }

  @include mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  .NotesPanel {
    padding-left: 16px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    position: relative;

    .close-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include mobile {
        height: 64px;
        padding-right: 12px;
      }

      .close-icon-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .close-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .multi-select-place-holder {
      height: 72px;
    }



    .reply-area-container .reply-button {
      @include ie11 {
        // For ie11 only
        width: 28px;
      }
    }


    padding-top: 16px;

    @include mobile {
      width: 100vw;
      min-width: 100vw;
      padding-top: 0px;
    }

    .no-annotations {
      display: flex;
      flex-direction: column;
      align-items: center;

      .msg {
        @include tablet-and-desktop {
          line-height: 15px;
          width: 146px;
        }

        text-align: center;
      }

      .empty-icon {
        width: 65px;
        height: 83px;

        svg {
          width: 65px;
          height: 83px;
        }

        * {
          fill: var(--gray-5);
          color: var(--gray-5);
        }
      }
    }


    .virtualized-notes-container,
    .normal-notes-container {
      margin-top: 10px;
      flex: 1;
      padding-right: 18px;
    }


    .normal-notes-container {
      overflow: auto;
      overflow: overlay;
    }

    .note-wrapper:first-child {
      .ListSeparator {
        margin-top: 0px;
        word-break: break-word;
      }
    }

    .no-results {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 18px;

      .msg {
        @include tablet-and-desktop {
          line-height: 15px;
          width: 92px;
        }

        text-align: center;
      }

      .empty-icon {
        width: 65px;
        height: 83px;

        svg {
          width: 65px;
          height: 83px;
        }

        * {
          fill: var(--border);
          color: var(--border);
        }
      }
    }
  }

}