@import '../../constants/panel';

.NotesPanel {
  @extend %right-panel;

  overflow: hidden !important;

  .no-annotations {
    @extend %center-of-panel;
  }

  .header {
    display: flex;
    flex-direction: column;

    input {
      font-size: 13px;
      width: 211px;
      padding-left: 8px;
      border: 1px solid #dfe2ed;
      // border-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: var(--text-color);
      padding-bottom: 4px;

      &::placeholder {
        color: #c3c6d4;
      }
    }
  }

  .virtualized-notes-container,
  .normal-notes-container {
    flex: 1;
  }

  .normal-notes-container {
    overflow: auto;
  }

  .foo987 {
    display: flex;

    .werier {
      cursor: pointer;
      background: #6077bf;
      border-radius: 4px;
      height: 24px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -2px;

      svg {
        color: #fafafa;
      }
    }
  }


  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;

    .msg {
      font-size: 14px;
      width: 92px;
      text-align: center;
    }

    .empty-icon {
      width: 65px;
      height: 83px;

      svg {
        width: 65px;
        height: 83px;
      }

      * {
        fill: #dfe2ed;
        color: #dfe2ed;
      }
    }
  }
}