@import '../../../constants/styles.scss';

.ModularHeader {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: $top-bar-height;
  padding: 2px;
  background: var(--gray-6);
  z-index: 72;
}