@import '../../../constants/styles.scss';

.ModularHeader {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: $top-bar-height;
  background: var(--gray-6);
  z-index: 72;

  &.left {
    height: 100%;
    width: $left-header-width;
  }

  &.right {
    height: 100%;
    width: $right-header-width;
  }
}