@import '../../constants/styles';
@import '../../constants/modal';

.WarningModal {
  @extend %modal;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 16px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .header {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 4px;
      margin-bottom: 20px;
      font-size: 15px;
    }

    .footer {
      justify-content: flex-start;
    }
  }
}
