@import '../../constants/styles';
@import '../../constants/modal';

.WarningModal {
  @extend %modal;
  z-index: 101; // Set to 1 higher than modal z-index so it can be shown on top of other modals

  .container {
    @extend %modal-shared-container-style;
    @extend %modal-shared-container-style-mobile;
    display: flex;
    width: 480px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    background: var(--component-background);

    @include mobile {
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .header {
    position: relative;
    width: 100%;
    padding: 6px;

    .header-text {
      padding: 10px;

      font-size: 18px;
      font-weight: bold;
    }

    .Button {
      position: absolute;
      top: 10px;
      right: 10px;

      .Icon {
        height: 22px;
        width: 22px;
        color: var(--icon-color);
        @include mobile {
          height: 28px;
          width: 28px;
        }
      }
    }
  }

  .body {
    font-size: 14px;
    padding: 16px;
    @include mobile {
      padding: 16px 8px;
    }

    .footer {
      justify-content: flex-start;
    }
  }

  .footer {
    padding: 0 8px 8px 8px;
  }

  .divider {
    @include mobile {
      display: none;
    }
    height: 0.5px;
    width: 100%;
    background: var(--divider);
  }
}

