.comments-counter {
  height: 19px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 16px;

  span {
    font-weight: bold;
  }
}

[data-element="notesPanelHeader"] {
  padding-right: 18px;

  .buttons-container {
    display: flex;
    column-gap: 8px;
    justify-content: space-between;

    .Button {
      height: 28px;
      width: 28px;
      cursor: pointer;

      &:hover:enabled {
        background: var(--view-header-button-hover);
      }

      &.active {
        background: var(--view-header-button-active);

        .Icon {
          color: var(--view-header-icon-active-fill);
        }
      }
    }
  }

  .sort-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .sort-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      align-self: flex-end;

      .label {
        margin-right: 8px;
      }

      .picked-option {
        text-align: left;
      }
    }
  }

  .input-container {
    display: flex;
    position: relative;
    flex: 1;

    input {
      width: 100%;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-bottom: 6px;
      padding-right: 8px;
      padding-top: 4px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .input-button {
      cursor: pointer;
      background: var(--primary-button);
      border-radius: 4px;
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0px;
      right: 0px;

      .Icon {
        width: 20px;
        height: 20px;
      }

      svg {
        color: var(--primary-button-text);
      }

      &:hover {
        background: var(--primary-button-hover);
      }
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--divider);
    margin: 16px 0px;
  }
}