@import '../../constants/styles';
@import '../../constants/modal';

.LinkModal {
  @extend %modal;
  font-size: 0.9em;

  .container {
    @extend %modal-shared-container-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 8px 8px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .footer {
      display: flex;
      padding-top: 12px;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .filter-annot-clear {
        color: var(--secondary-button-text);
        padding: 0 16px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }

      .filter-annot-apply {
        background: var(--primary-button);
        border-radius: 4px;
        padding: 0 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        font-weight: bold;
        cursor: pointer;

        @include mobile {
          height: 40px;
          width: 128px;
        }

        &:hover {
          background: var(--primary-button-hover);
        }
      }
    }

    .Button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-button-text);
      font-weight: 600;
      padding: 6px 18px;
      margin-top: 8px;
      margin-left: 5px;
      width: auto;
      width: fit-content;
      background: var(--primary-button);
      border-radius: 4px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background: var(--primary-button-hover);
      }

      &.disabled {
        background: var(--gray-6);
        border-color: var(--gray-6);
        cursor: not-allowed;
      }
    }
  }
}
