@import '../../../constants/styles';

.DocumentHeader {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #dfdfdf;

  &.hidden {
    visibility: hidden;
  }

  .Button {
    width: 28px;
    height: 28px;

    &:hover {
      background-color: var(--popup-button-hover);
    }

    &.active {
      background-color: var(--view-header-button-active);
      .Icon {
        color: var(--view-header-icon-active-fill);
      }
    }
  }

  .zoom-overlay {
    //align-self: flex-start;
  }

  .file-name {
    margin-left: 15px;
    display: flex;
    max-width: 60%;

    span {
      font-family: var(--font-family);
      font-size: 16px;
      color: #333333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      ;
    }
  }

  .control-buttons {
    display: flex;
    gap: 8px;
  }

  .current-file {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F9F4;
    border-radius: 12px;
    padding: 4px 12px;

    span {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
  }

  .reference-file {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBF1FF;
    border-radius: 12px;
    padding: 4px 12px;

    span {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
  }
}