@import '../../../constants/styles';

.DocumentHeader {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #dfdfdf;

  &.hidden {
    visibility: hidden;
  }

  .Button {
    width: 28px;
    height: 28px;

    &:hover {
      background-color: var(--popup-button-hover);
    }

    &.active {
      background-color: var(--view-header-button-active);
      .Icon {
        color: var(--view-header-icon-active-fill);
      }
    }
  }

  .zoom-overlay {
    //align-self: flex-start;
  }

  .file-name {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    align-self: center;
    margin-left: 17px;
    color: #333333;
  }

  .control-buttons {
    display: flex;
    gap: 8px;
  }
}
