@import '../../constants/styles';

.MeasurementOption {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;

  @include mobile {
    margin-bottom: 0px;
  }

  input, select {
    &:focus {
      outline: none;
      border: 1px solid var(--focus-border);
    }
  }

  .textarea {
    resize: none;
    outline: none;
    border: none;
    width: 34px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 1px;
    height: 13px;
    text-align:right;
  }

  .Scale {
    display: flex;
    flex-direction: column;
  }

  .ScaleInput {
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
    height: 28px;
    width: 42px;
    margin-right: 4px;

    @include mobile {
      width: 79px;
      height: 32px;
    }
  }

  .ScaleEquals {
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;

    @include tablet {
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  .UnitInput {
    border-radius: 4px;
    border: 1px solid var(--border);
    height: 28px;
    width: 40px;

    @include mobile {
      width: 64px;
      height: 32px;
    }
  }

  .PrecisionInput {
    border-radius: 4px;
    border: 1px solid var(--border);
    height: 28px;
    width: 86px;

    @include mobile {
      width: 151px;
      height: 32px;
    }
  }

  .Precision {
    display: flex;
    flex-direction: column;
  }

  .LayoutTitle {
    margin-left: 6px;
    // margin-top: 6px;
  }

  .LayoutTitlePrecision {
    margin-left: 6px;
    margin-top: 10px;
  }

  .Layout {
    display: flex;
    margin-left: 2px;
    margin-top: 5px;
  }

  .LayoutPrecision {
    display: flex;
    margin-left: 2px;
    margin-top: 5px;
  }

  .ScaleDropdown {
    @include mobile{
      &.open{
        margin-top: -48px;
      }
    }
    width: 25px;
    margin-right: 3px;
    z-index: 2;
  }

  .PrecisionDropdown {
    @include mobile{
      &.open{
        z-index: 3;
        margin-top: -48px;
      }
    }
    margin-left: 3px;
    width: 65px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label[for="measurement-snapping"] {
    margin-top: 10px;
    margin-left: 20px;
  }
}
