@import '../../constants/panel';

.BookmarksPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: var(--font-size-default);
  
  .bookmark-switch {
    -webkit-font-smoothing: antialiased;
    margin-top: var(--padding-medium);
    padding-left: 4px;
  }

  .bookmark-outline-single-container {
    margin-top: var(--padding-medium);
  }

  .msg-no-bookmark-outline {
    margin-top: var(--padding);
  }
}