@import '../../constants/panel';

.bookmarks-panel {
  padding: 0px 0px;
}

.new-bookmark-btn {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 10px;
  background: white;
  cursor: pointer;
}

.bookmark-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin: 0px 16px;
}

.whatever {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 8px;
}

.page-label {
  margin-top: 16px;
  font-weight: bold;
}

.bookmark-row {
  margin: 0px 20px;
}
