@import '../../constants/panel';

.BookmarksPanel {
  .bookmark-switch {
    -webkit-font-smoothing: antialiased;
    margin-top: var(--padding-medium);
    padding-left: 4px;

    label {
      font-size: 11px;
    }
  }

  .bookmark-outline-single-container {
    margin-top: var(--padding-medium);
  }

  .msg-no-bookmark-outline {
    margin-top: var(--padding);
  }
}