@import '../../constants/styles';
@import '../../constants/overlay';

.CursorOverlay {
  @extend %open;
  @extend %closed;
  position: absolute;
  z-index: 85;
  border: 1px solid #00A4E4;
  height: 54px;
  width: 152px;
  pointer-events: none;

  .cursor-image {
    height: 100%;
    width: 100%;
  }
}
