@import '../../../constants/styles';
@import '../../../constants/modal';
@import '../../../constants/panel';

.MobilePanelWrapper {
  @extend %open;
  @extend %closed;
  @extend %modal-shared-container-style;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--panel-background);
  transition: height, max-height 0.3s ease-out;

  &.full-size {
    max-height: 100%;
  }

  &.half-size {
    max-height: 45%;
  }

  &.small-size {
    max-height: 140px;
    overflow: hidden;
  }

  .mobile-panel-body {
    top: -30px;
    position: relative;
  }

 .swipe-indicator-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
    
    .swipe-indicator {
      background: var(--divider);
      border-radius: 2px;
      height: 4px;
      width: 38px;
      position: absolute;
      top: 3px;
      margin: 10px auto;
      left: 0;
      right: 0;
      
      @include tablet-and-desktop {
        display: none;
      }
    }
  } 
}
