.more-options-context-menu-popup {
  padding-top: var(--padding-tiny);
  padding-bottom: var(--padding-tiny);

  background-color: var(--component-background);
  box-shadow: 0px 0px 3px var(--document-box-shadow);
  border-radius: 4px;

  .option-button {
    justify-content: flex-start;
    width: 100%;
    padding: var(--padding-small) var(--padding-medium);
    border-radius: 0;

    &:not(:first-child) {
      margin-top: var(--padding-tiny);
    }

    &:hover {
      background-color: var(--dropdown-item-hover);
      color: var(--dropdown-item-active-text);

      .Icon {
        color: var(--dropdown-item-active-text);
      }
    }

    .Icon {
      width: 20px;
      height: auto;
      margin-inline-end: 10px;
    }
  }
}
