@import '../../constants/styles.scss';
@import '../../constants/popup';

.ToolStylePopup {
  background: var(--preset-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 0 3px 0 var(--box-shadow);
  align-items: center;
  width: 220px;

  @include mobile {
    margin: 0;
    position: relative;
    max-width: initial;

    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0px;
    padding-bottom: 24px;
    border-radius: 4px;
    box-shadow: none;

    .swipe-indicator {
      background: var(--divider);
      border-radius: 2px;
      height: 4px;
      width: 38px;
      position: absolute;
      top: 12px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
