@import '../../constants/styles.scss';
@import '../../constants/popup';

.ToolStylePopup {
  @extend %open;
  @extend %closed;
  @extend %popup-mobile;

  position: absolute;
  z-index: 85;

  @media (orientation: landscape) {
    max-height: calc(100% - #{$top-bar-height-m});
    overflow: auto;
  }
}