@import '../../constants/popup';

.ToolStylePopup {
  background: var(--gray-0);
  display: flex;
  justify-content: center;

  @include mobile {
    margin: 0;
    position: fixed;
    width: 100%;
    max-width: initial;
    left: 0;
    bottom: 0;

    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);

    padding: 28px 24px;

    .swipe-indicator {
      background: var(--divider);
      border-radius: 2px;
      height: 4px;
      width: 38px;
      position: absolute;
      top: 12px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  @include tablet {
    background: none;
    position: fixed;
  }
}
