.spinner {
  margin: 10px;
  border: 5px solid #ddd;
  border-top: 5px solid #aaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.2s ease infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
