@import '../../constants/styles';
@import '../../constants/modal';
@import '../../constants/tabs';

.OpenFileModal {
  .container {
    overflow-y: unset;
    width: 600px;

    .footer .modal-btn {
      color: var(--tab-footer-button-color);
      border: none;

      &.disabled {
        @extend %default-button-disabled;

        span {
          color: var(--tab-footer-button-color);
        }
      }
    }

    @include tab-border-defaults;
  }

  .image-signature {
    height: 240px !important;
    width: 100%;
  }

  .error {
    color: red;
    margin: 5px;
  }
}
