@import '../../constants/styles';

.slider{
  svg {
    height: 40px;
    cursor: pointer;
  }

  .slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -5px;

    svg {
      circle {
        fill: #6077bf;
      }

      line:nth-child(1) {
        stroke: #6077bf;

      }
      line:nth-child(2) {
        stroke: #dfe2ed;
      }
    }
  }
}
