@import '../../constants/styles';

.slider{
  svg {
    height: 18px;
    // width: 100%;
    cursor: pointer;
  }

  .slider-property {
    &:nth-child(n+2) {
      margin-top: 8px;
    }
    margin-bottom: 4px;
  }

  .slider-svg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    margin-left: -5px;
    height: 18px;

    .slider-value {
      min-width: 41px;
      // flex: 8;
      display: flex;
      justify-content: flex-end;
    }

    svg {
      circle {
        fill: var(--blue-5);
      }

      line:nth-child(1) {
        stroke: var(--blue-5);
      }

      line:nth-child(2) {
        stroke: var(--gray-4);
      }

      @include mobile {
        line {
          stroke-width: 4;
        }
      }
    }
  }
}
