@import '../../constants/styles';

.OverlayItem {
  margin: 2px 0px;
  display: flex;
  align-items: center;
  height: 24px;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-color);
  }
}
