@import '../../constants/styles';
@import '../../constants/panel';

.PortfolioPanel {
  .portfolio-panel-control {
    display: flex;
  }

  .bookmark-outline-row {
    padding-top: 6px;
  }

  .bookmark-outline-panel-header {
    .header-title {
      font-size: 16px;
      font-weight: normal;
      margin: 0;
    }
  }

  .portfolio-panel-list {
    padding-top: 8px;
  }
}